<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Avaliação e Notas">
        <table style="width: 100%; margin: auto; margin-top: 20px;">
            <tr>
                <td align="center">
                    <h2>Minhas Avaliações</h2>
                </td>
            </tr>
            <tr *ngFor="let avaliacao of avaliacoes">
                <td>
                    <div class="avalicao-card" [style.borderColor]="avaliacao.color">
                        <h3><b>{{avaliacao.nomeAvaliacao}}</b></h3>
                        Nota: {{avaliacao.nota}}
                        <br />
                        <br />
                        <span class="linkCompartilhavel" matTooltip="Entrar na Avaliação"
                            [style.backgroundColor]="avaliacao.color"><a href="/001001">avaliacao.com/001001</a></span>

                        <br /><br />
                        Inicio: 31/07/2020 18:00
                        <br />
                        Término: 31/07/2020 21:00

                        <a routerLink="avaliacao/1" class="info-box">
                            Status: {{avaliacao.status}}
                        </a>

                    </div>
                </td>
            </tr>
        </table>




    </mat-tab>
    <mat-tab label="Meu perfil">
        <div style="background-color: whitesmoke; width: 50%; border-radius: 10px; margin: auto;">
            <table class="tabela-editar-perfil">
                <tr>
                    <td colspan='2' align="center">
                        <h2>Alterar Meus Dados</h2>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        E-mail:
                    </td>
                    <td>
                        <input required type="email" value="aluno@ufpr.br" name="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Senha:
                    </td>
                    <td>
                        <input required [disabled]="!alterar" type="password" value="senha123" name="senha">

                        <button (click)="alterar = true" mat-button matTooltip="Alterar senha">
                            <mat-icon>create</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="alterar">
                    <td>
                        Confirmar Senha:
                    </td>
                    <td>
                        <input required type="password" class="form-control" value="" name="nova_senha">
                    </td>
                </tr>
                <tr>
                    <td colspan='2' align="center">
                        <button type="button" mat-raised-button>Editar</button>
                    </td>
                </tr>

            </table>
        </div>

    </mat-tab>
</mat-tab-group>