<app-barra-navegacao [caminho]="caminho"></app-barra-navegacao>

<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab" (selectedIndexChange)="tabAlterada($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 8px;">description</mat-icon>
            Avaliações e Notas
        </ng-template>

        <app-avaliacao-lista [avaliacoes]="avaliacoes" tipoAcesso="aluno"></app-avaliacao-lista>


    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 8px;">account_circle</mat-icon>
            Meu Perfil
        </ng-template>

        <app-usuario-perfil-editar></app-usuario-perfil-editar>

    </mat-tab>
</mat-tab-group>