<app-barra-navegacao [caminho]="caminho"></app-barra-navegacao>

<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab" (selectedIndexChange)="tabAlterada($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 8px;">description</mat-icon>
            Avaliações e Notas
        </ng-template>
        <table style="width: 100%; margin: auto; margin-top: 20px;">
            <tr>
                <td align="center">
                    <h2>Minhas Avaliações</h2>
                </td>
            </tr>
            <tr *ngFor="let avaliacao of avaliacoes">
                <td>
                    <div class="avalicao-card" [style.borderColor]="avaliacao.color">
                        <h3><b>{{avaliacao.nomeAvaliacao}}</b></h3>
                        Nota: {{avaliacao.nota}}
                        <br />
                        <br />
                        <span class="linkCompartilhavel" matTooltip="Entrar na Avaliação"
                            [style.backgroundColor]="avaliacao.color"><a href="/001001">avaliacao.com/001001</a></span>

                        <br /><br />
                        Inicio: 31/07/2020 18:00
                        <br />
                        Término: 31/07/2020 21:00

                        <a routerLink="/aluno/avaliacao/1" class="info-box">
                            Status: {{avaliacao.status}}
                        </a>

                    </div>
                </td>
            </tr>
        </table>




    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 8px;">account_circle</mat-icon>
            Meu Perfil
        </ng-template>

        <app-usuario-perfil-editar></app-usuario-perfil-editar>

    </mat-tab>
</mat-tab-group>