<div class="questao">
    <div class="header-container">
        <div *ngIf="questao.isPublica && !isMinha()" class="is-publica">
            Questão Pública &nbsp;
            <mat-icon class="btn-help" matTooltip="Clique para receber ajuda" (click)="abrirAjudaQuestaoPublica()">
                help
            </mat-icon>
        </div>
        <div *ngIf="isMinha()" class="titulo-avaliacao">
            Avaliação: {{questao.avaliacao.titulo}}
            <span *ngIf="questao.isPublica" class="questao-publicada">
                &nbsp;&nbsp;[Publicada]&nbsp;&nbsp;
                <mat-icon class="btn-help" matTooltip="Clique para receber ajuda" (click)="abrirAjudaQuestaoPublica()">
                    help
                </mat-icon>
            </span>

        </div>
        <div class="questao-tipo">
            {{comumService.questaoTipos[questao.tipo].nome}}
        </div>
        <div class="questao-nivel">
            Nível {{comumService.niveisDificuldade[questao.nivelDificuldade]}}
        </div>
        <div class="menu-opcoes">
            <button [matMenuTriggerFor]="menu" style="color: var(--cor-secundaria)" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button *ngIf="!isArquivada()" (click)="arquivar()" mat-menu-item>
                    <mat-icon>remove</mat-icon>
                    Arquivar Questão
                </button>
                <button *ngIf="isArquivada()" (click)="desarquivar()" mat-menu-item>
                    <mat-icon>add</mat-icon>
                    Desarquivar Questão
                </button>
                <button *ngIf="!questao.isPublica" (click)="publicar()" mat-menu-item>
                    <mat-icon>publish</mat-icon>
                    Publicar Questão
                </button>
                <button *ngIf="questao.isPublica && isMinha()" (click)="despublicar()" mat-menu-item>
                    <mat-icon>undo</mat-icon>
                    Despublicar Questão
                </button>
            </mat-menu>
        </div>
    </div>

    <div class="tags-container">
        <div *ngFor="let tag of questao.tags" class="tag">
            {{tag}}
        </div>
    </div>

    <div class="questao-pergunta">{{questao.pergunta}}</div>

    <div class="questao-resposta">
        <app-questao-resposta-consulta [questao]="questao"></app-questao-resposta-consulta>
    </div>



</div>