<span class="titulo">{{avaliacao.titulo}}</span>
<br /><br />
<div style="text-align: justify;">
    {{avaliacao.descricao}}
    <br /><br />
    <b>Professor</b>: {{avaliacao.professorNome}}
    <br /><br />

    <div *ngIf="!avaliacao.isInicioIndeterminado">
        <b>Periodo de Avaliação</b>:
        <span>
            {{avaliacao.isInicioIndeterminado ? 'Indeterminado' : comumService.getStrDateFormatada(avaliacao.dtInicio)}}
            -
            {{avaliacao.isInicioCorrecaoIndeterminado ? 'Indeterminado' : comumService.getStrDateFormatada(avaliacao.dtInicioCorrecao)}}
        </span>
    </div>

    <div *ngIf="!avaliacao.isInicioCorrecaoIndeterminado">
        <b>Periodo de Correção</b>:
        <span>
            {{avaliacao.isInicioCorrecaoIndeterminado ? 'Indeterminado' : comumService.getStrDateFormatada(avaliacao.dtInicioCorrecao)}}
            -
            {{avaliacao.isTerminoIndeterminado ? 'Indeterminado' : comumService.getStrDateFormatada(avaliacao.dtTermino)}}
        </span>
    </div>

    <br />
</div>