<span class="titulo">{{avaliacao.titulo}}</span>
<br /><br />
<div style="text-align: justify;">
    {{avaliacao.descricao}}
    <br /><br />
    <b>Professor</b>: {{avaliacao.professorNome}}
    <br /><br />

    <div *ngIf="!avaliacao.isInicioIndeterminado">
        <b>Período de Avaliação</b>:
        <span>
            {{avaliacao.isInicioCorrecaoIndeterminado ? comumService.getIntervaloAmigavel(avaliacao.dtInicio, 'indeterminado') : comumService.getIntervaloAmigavel(avaliacao.dtInicio, avaliacao.dtInicioCorrecao)}}
        </span>
    </div>

    <div *ngIf="!avaliacao.isInicioCorrecaoIndeterminado">
        <b>Período de Correção</b>:
        <span>
            {{avaliacao.isTerminoIndeterminado  ? comumService.getIntervaloAmigavel(avaliacao.dtInicioCorrecao, 'indeterminado') : comumService.getIntervaloAmigavel(avaliacao.dtInicioCorrecao, avaliacao.dtTermino)}}
        </span>
    </div>

    <br />
</div>