.input-clean{
    border: 1px dashed transparent;
    padding: 7px;
    border-radius: 6px;
    font-size: 14px;
}
.input-clean:focus{
    outline: none;
    border: 1px dashed var(--cor-primaria);
}

.btn {
    z-index: 1000; 
    position: fixed;
    background-color: var(--cor-primaria); 
    color: white;
}

.bi, .bi-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}