.input-clean{
    border: 1px dashed transparent;
    padding: 7px;
    border-radius: 6px;
    font-size: 14px;
}
.input-clean:focus{
    outline: none;
    border: 1px dashed var(--cor-primaria);
}

.btn {
    z-index: 1000; 
    position: fixed;
    background-color: var(--cor-primaria); 
    color: white;
}

.bi, .bi-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.bloco-container{
    background-color: var(--cor-bloco); color: var(--cor-bloco-letra); 
    padding: 15px; width: 60%; border-radius: 8px; margin: auto; 
    margin-top: 20px;
    box-sizing: border-box;
}

.btn-add-avaliacao{
    right: 50px; 
    bottom: 120px;
}

.btn-more-options{
    right: 50px;
    bottom: 50px;
}

@media screen and (max-width:650px) {
    .bloco-container{
        width: 90%;
    }
    .btn-add-avaliacao{
        right: 10px; 
        bottom: 75px;
    }
    
    .btn-more-options{
        right: 10px;
        bottom: 10px;
    }
    
}