<app-barra-navegacao [caminho]="caminho"></app-barra-navegacao>

<div style="height: 20px;"></div>
<!-- VISÃO DE PROFESSOR -->

<div *ngIf="visao == 'professor'" style="width: 60%; margin: auto;">
    <div style="background-color: whitesmoke; border-radius: 10px; padding: 15px;">
        <div>
            <input required placeholder="Título da Avaliação" class="titulo-input" [(ngModel)]="avaliacao.titulo" />
        </div>
        <br />
        <div style="position: relative;">
            <textarea #descricaoTextarea maxlength="1500" rows="3" class="descricao-textarea"
                (input)="ajustarAltura($event)" (click)="ajustarAltura($event)"
                style="width: 97%; margin: auto; display: block; font-size: 13px; padding: 5px;  padding-top: 14px; border: none; border-radius: 4px; resize: vertical;"
                [(ngModel)]="avaliacao.descricao"
                placeholder="Insira aqui uma descrição / instruções iniciais"></textarea>
            <span *ngIf="estaEmFoco(descricaoTextarea)"
                class="contador-caracteres">{{descricaoTextarea.value.length}}/1500</span>

        </div>
        <div style="position: relative;">
            <mat-form-field style="width: 95%; padding: 15px; margin: auto;">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of avaliacao.tags" [selectable]="true" [removable]="true"
                        (removed)="removeTag(tag)">
                        {{tag}}
                        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                    </mat-chip>
                    <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />

                </mat-chip-list>
                <mat-placeholder class="placeholder">Digite aqui algumas tags para te ajudarem a encontrar essa
                    avaliação</mat-placeholder>
            </mat-form-field>

        </div>

        <table class="atributos-table" style="margin: auto; width: 100%; font-size: 15px;">

            <tr>
                <td valign="top" width="22%">
                    Inicio da Avaliação:
                </td>
                <td style="display: flex;">
                    <input type="datetime-local" [(ngModel)]="avaliacao.dtInicio"
                        *ngIf="!avaliacao.isInicioIndeterminado" />
                    <div style="width: fit-content">
                        <mat-checkbox style="margin-left: 5px;" #inicioIndeterminado
                            (change)="avaliacao.isInicioIndeterminado = inicioIndeterminado.checked">

                            <span style="font-size: 12px; ">Indeterminado</span>
                        </mat-checkbox>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Início da Correção:
                </td>
                <td style="display: flex;">
                    <!--min="2020-07-28T16:15:23" -->
                    <input type="datetime-local" [(ngModel)]="avaliacao.dtInicioCorrecao"
                        *ngIf="!avaliacao.isInicioCorrecaoIndeterminado" />

                    <mat-checkbox style="margin-left: 5px;" #inicioCorrecaoIndeterminado
                        (change)="avaliacao.isInicioCorrecaoIndeterminado = inicioCorrecaoIndeterminado.checked">

                        <span style="font-size: 12px;">Indeterminado</span>
                    </mat-checkbox>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Término da Correção:
                </td>
                <td style="display: flex;">
                    <!--min="2020-07-28T16:15:23" -->
                    <input type="datetime-local" [(ngModel)]="avaliacao.dtTermino"
                        *ngIf="!avaliacao.isTerminoIndeterminado" />

                    <mat-checkbox style="margin-left: 5px;" #terminoIndeterminado
                        (change)="avaliacao.isTerminoIndeterminado = terminoIndeterminado.checked">

                        <span style="font-size: 12px;">Indeterminado</span>
                    </mat-checkbox>
                </td>
            </tr>

            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td valign="top" align="left" colspan="2">

                    <mat-checkbox [(ngModel)]="avaliacao.isOrdemAleatoria">

                        <span style="font-size: 15px;">Ordenar questões de forma aleatória</span>
                    </mat-checkbox>
                </td>
            </tr>
            <tr>
                <td valign="top" align="left" colspan="2">

                    <mat-checkbox [(ngModel)]="avaliacao.isBloqueadoAlunoAtrasado">

                        <span style="font-size: 15px;">Bloquear participação de alunos atrasados</span>
                    </mat-checkbox>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <table style="width: 100%">
        <tr>
            <td width="33%">
                <div style="text-align: center; background-color: whitesmoke; border-radius: 5px; padding: 4px;">
                    DISPOSIÇÃO<br />
                    <button mat-button class="botao-tipo" matTooltip="Alterar disposição dos alunos"
                        matTooltipShowDelay="1000" (click)="abrirTipos('disposicao')">
                        <mat-icon
                            style="background-color: white; color: var(--cor-primaria); border-radius: 50%; padding: 4px;">
                            {{comumService.disposicoes[avaliacao.tipoDisposicao].icone}}</mat-icon>
                        <br />
                        {{comumService.disposicoes[avaliacao.tipoDisposicao].nome}}
                    </button>
                </div>
            </td>

            <td width="33%">
                <div style="text-align: center; background-color: whitesmoke; border-radius: 5px; padding: 4px;">
                    MÉTODO DE CORREÇÃO<br />
                    <button mat-button class="botao-tipo" matTooltip="Alterar método de correção"
                        matTooltipShowDelay="1000" (click)="abrirTipos('correcao')">
                        <mat-icon
                            style="background-color: white; color: var(--cor-primaria); border-radius: 50%; padding: 4px;">
                            {{comumService.correcoes[avaliacao.tipoCorrecao].icone}}</mat-icon>
                        <br />
                        {{comumService.correcoes[avaliacao.tipoCorrecao].nome}}
                    </button>
                </div>
            </td>

            <td width="33%">
                <div style="text-align: center; background-color: whitesmoke; border-radius: 5px; padding: 4px;">
                    PONTUAÇÃO<br />
                    <button mat-button class="botao-tipo" matTooltip="Alterar forma de pontuação"
                        matTooltipShowDelay="1000" (click)="abrirTipos('pontuacao')">
                        <mat-icon
                            style="background-color: white; color: var(--cor-primaria); border-radius: 50%; padding: 4px;">
                            {{comumService.pontuacoes[avaliacao.tipoPontuacao].icone}}</mat-icon>
                        <br />
                        {{comumService.pontuacoes[avaliacao.tipoPontuacao].nome}}
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br />

    <div
        style="text-align: center; background-color: whitesmoke; margin-bottom: 15px; cursor: default; color: black; width: 100%; border-radius: 10px;">
        <h2>Questões</h2>

    </div>

    <app-questoes-editar [avaliacao]="avaliacao">

    </app-questoes-editar>

    <div style="width: 100%; text-align: center;">
        <button mat-raised-button (click)="finalizar()"
            style="margin: auto; margin-top: 40px; font-size: 18px; padding-left: 10px; padding-right: 10px; display: inline-block;">
            Salvar
        </button>
        <button mat-raised-button (click)="finalizar()"
            style="margin: auto; margin-top: 40px; margin-left: 20px; font-size: 18px; padding-left: 10px; padding-right: 10px; display: inline-block; background-color: var(--cor-primaria); color: white;">
            Tudo pronto, Finalizar!
        </button>
    </div>

    <button mat-fab matTooltip="Adiconar Questão" (click)="addQuestao()"
        style="position: fixed; bottom: 30px; right: 30px; background-color: var(--cor-primaria);">
        <mat-icon style="color: white;">add</mat-icon>
    </button>

    <button mat-fab matTooltip="Buscar Questão" (click)="buscarQuestao()"
        style="position: fixed; bottom: 100px; right: 30px; background-color: var(--cor-primaria);">
        <mat-icon style="color: white;">folder_open</mat-icon>
    </button>



    <button mat-fab (click)="mudarVisao('aluno')" matTooltip="Ver como aluno"
        style="position: fixed; bottom: 175px; right: 30px; color: white; background-color: var(--cor-primaria);">
        <mat-icon>visibility</mat-icon>
    </button>

</div>

<!-- VISÃO DE ALUNO -->

<div *ngIf="visao == 'aluno'" style="display: flex; flex-wrap: wrap; width: 60%; margin: auto;">

    <div
        style="padding: 20px; background-color: whitesmoke;  color: black; width: 100%; border-radius: 10px; text-align: center;">
        <span style="font-size: 22px; font-weight: bold;">{{avaliacao.titulo || 'Sem Título'}}</span>
        <br /><br />

        <div style="text-align: justify;">
            {{avaliacao.descricao || 'Sem Descrição'}}
            <br /><br />
            Professor: Rafael Bini
            <br /><br />
            <table>
                <tr>
                    <td>
                        Inicio:
                    </td>
                    <td>
                        <input type="datetime-local" [value]="avaliacao.dtInicio" disabled />
                    </td>
                </tr>
                <tr>
                    <td>
                        Término:
                    </td>
                    <td>
                        <input type="datetime-local" [value]="avaliacao.dtTermino" disabled />
                    </td>
                </tr>
            </table>

            <br />
        </div>
    </div>

    <div style="width: 100%;">

        <app-questoes-responder [gabarito]="avaliacao" [avaliacao]="avaliacaoAluno">

        </app-questoes-responder>

        <button (click)="mudarVisao('professor')" mat-raised-button
            style="margin: auto; margin-top: 40px; font-size: 18px; padding-left: 10px; padding-right: 10px; display: block;">
            Sair da visão de Aluno
        </button>
    </div>


    <button mat-fab (click)="mudarVisao('professor')" matTooltip="Sair da visão do aluno"
        style="position: fixed; bottom: 30px; right: 30px; color: white; background-color: var(--cor-primaria);">
        <mat-icon>close</mat-icon>
    </button>

</div>

<div style="height: 50px"></div>