<div style="padding: 10px; padding-left: 130px; color:white; font-size: 15px; background-color: var(--cor-primaria)">
    <a routerLink="/professor" style="color: white;">Avaliações</a> - Nova Avaliação
</div>

<mat-horizontal-stepper linear #stepper>

    <mat-step [editable]="true">
        <ng-template matStepLabel>Atributos Gerais</ng-template>

        <table class="atributos-table" style="margin: auto; width: 60%; font-size: 18px;">
            <tr>
                <td style="background-color: whitesmoke; border-radius: 10px;" colspan="2" align="center">
                    <h2>Características Principais da Avaliação</h2>
                </td>
            </tr>

            <tr>
                <td>
                    Título:
                </td>
                <td>
                    <input required style="width: 90%; font-size: 13px;" />
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Descrição:
                </td>
                <td>
                    <textarea rows="3" style="width: 90%; font-size: 13px;"></textarea>
                    <br />
                    <span style="font-size: 11px;">0/260 caracteres</span>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Inicio:
                </td>
                <td>
                    <input type="datetime-local" [value]="hojeFormatado" />
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Término:
                </td>
                <td>
                    <input type="datetime-local" [value]="hojeFormatado" />
                    <!--min="2020-07-28T16:15:23" -->
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td valign="top" align="left" colspan="2">

                    <input id="aleatorio" type="checkbox" checked />
                    <label for="aleatorio">
                        Ordenar questões de forma aleatória
                    </label>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <button mat-raised-button matStepperNext style="margin: 20px;">OK</button>
                </td>
            </tr>
        </table>



    </mat-step>



    <mat-step [editable]="true"  state="disposicao">
        <ng-template matStepLabel>Disposição dos Alunos</ng-template>

        <table style="margin: auto; width: 60%; font-size: 18px;">
            <tr>
                <td class="default-td" colspan="2" align="center" style="opacity: 1; background-color: whitesmoke; cursor: default; color: black;">
                    <h2>Disposição dos Alunos</h2>
                </td>
            </tr>
            <tr>
                <td class="default-td" rowspan="6" width='300px' align="center" valign="top" height="300px"
                    style="padding: 12px; opacity: 1;  font-size: 13px; background-color: white; border: 3px solid whitesmoke; cursor: default; color: black;">
                    <mat-icon
                        style="color: var(--cor-primaria); height: 200px; width: 200px; font-size: 150px; margin: auto;">
                        {{disposicoes[disposicaoSelecionada].icone}}
                    </mat-icon>
                    <br />
                    {{disposicoes[disposicaoSelecionada].descricao}}
                </td>
            </tr>
            <tr *ngFor="let disposicao of disposicoes; index as i;">
                <td class="choose-btn" (click)="disposicaoSelecionada = i"  [style.borderColor]="disposicaoSelecionada == i ? 'var(--cor-primaria)' : 'transparent'">
                    {{disposicao.nome}}
                </td>
            </tr>     
            <tr>
                <td align="center" colspan="2" style="background-color: whitesmoke;">
                    <button mat-raised-button matStepperNext>Próximo</button>
                </td>
            </tr>       
        </table>

    </mat-step>
    <mat-step [editable]="true">

        <ng-template matStepLabel>Método de Correção</ng-template>

        <table class="choosing-table" style="margin: auto; width: 60%; font-size: 18px;">

            <tr>
                <td colspan="2" align="center" style="opacity: 1; background-color: whitesmoke; cursor: default; color: black;">
                    <h2>Método de Correção</h2>
                </td>
            </tr>
            <tr>
                <td class="default-td" rowspan="6" width='300px' align="center" valign="top" height="300px"
                    style="padding: 12px; opacity: 1;  font-size: 13px; background-color: white; border: 3px solid whitesmoke; cursor: default; color: black;">
                    <mat-icon
                        style="color: var(--cor-primaria); height: 200px; width: 200px; font-size: 150px; margin: auto;">
                        {{correcoes[correcaoSelecionada].icone}}
                    </mat-icon>
                    <br />
                    {{correcoes[correcaoSelecionada].descricao}}
                </td>
            </tr>
            <tr *ngFor="let correcao of correcoes; index as i;">
                <td class="choose-btn" (click)="correcaoSelecionada = i"  [style.borderColor]="correcaoSelecionada == i ? 'var(--cor-primaria)' : 'transparent'">
                    {{correcao.nome}}
                </td>
            </tr>   
            <tr>
                <td align="center" colspan="2" style="background-color: whitesmoke;">
                    <button mat-raised-button matStepperNext>Próximo</button>
                </td>
            </tr>

        </table>



    </mat-step>
    <mat-step [editable]="true">

        <ng-template matStepLabel>Forma de Pontuação</ng-template>

        <table class="choosing-table" style="margin: auto; width: 60%; font-size: 18px;">

            <tr>
                <td colspan="2" align="center" style="opacity: 1; background-color: whitesmoke; cursor: default; color: black;">
                    <h2>Forma de Pontuação</h2>
                </td>
            </tr>
            <tr>
                <td class="default-td" rowspan="6" width='300px' align="center" valign="top" height="300px"
                    style="padding: 12px; opacity: 1;  font-size: 13px; background-color: white; border: 3px solid whitesmoke; cursor: default; color: black;">
                    <mat-icon
                        style="color: var(--cor-primaria); height: 200px; width: 200px; font-size: 150px; margin: auto;">
                        {{pontuacoes[pontuacaoSelecionada].icone}}
                    </mat-icon>
                    <br />
                    {{pontuacoes[pontuacaoSelecionada].descricao}}
                </td>
            </tr>
            <tr *ngFor="let pontuacao of pontuacoes; index as i;">
                <td class="choose-btn" (click)="pontuacaoSelecionada = i"  [style.borderColor]="pontuacaoSelecionada == i ? 'var(--cor-primaria)' : 'transparent'">
                    {{pontuacao.nome}}
                </td>
            </tr>   
            <tr>
                <td align="center" colspan="2" style="background-color: whitesmoke;">
                    <button mat-raised-button matStepperNext>Próximo</button>
                </td>
            </tr>

        </table>

    </mat-step>
    <mat-step [editable]="true">

        <ng-template matStepLabel>Questões</ng-template>

        <div cdkDropList [cdkDropListData]="questoes" (cdkDropListDropped)="drop($event)" style="display: flex; flex-wrap: wrap; width: 60%; margin: auto;">

            <div align="center"
                style="background-color: whitesmoke; cursor: default; color: black; width: 100%; border-radius: 10px;">
                <h2>Questões</h2>
            </div>

            <div class="questao" cdkDrag *ngFor="let questao of questoes; index as qi">

                <table style="width: 100%;">
                    <tr>
                        <td align="center">
                            <mat-icon style="cursor: move;" cdkDragHandle>drag_handle</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea style="width: 100%" rows="4">{{questao.pergunta}}</textarea>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <select #tipo (change)="questao.tipo = tipo.value">
                                <option *ngFor="let questaoTipo of questaoTipos; index as qti"  [selected]="questao.tipo == qti" [value]="qti">
                                    {{questaoTipo.nome}}
                                </option>
                            </select>
                        </td>
                    </tr>

                    <tr *ngIf="questao.tipo == 1">
                        <td>
                            <textarea style="width: 100%" rows="3">{{questao.resposta}}</textarea>
                        </td>
                    </tr>

                    <tr *ngIf="questao.tipo == 3">
                        <td >
                            <table width="100%" cdkDropList [cdkDropListData]="questao.alternativas" (cdkDropListDropped)="drop($event)">
                                <tr *ngFor="let alternativa of questao.alternativas; index as ai" >
                                    <td style="background-color: white; cursor: move; position: relative; height: 40px;" cdkDrag>
                                        <input [id]="alternativa.texto" [checked]="alternativa.correta" type="checkbox" />
                                        <label [for]="alternativa.texto">{{alternativa.texto}} </label>
                                        <button mat-icon-button (click)="removerAlternativa(qi, ai)" style="position: absolute; top: 0px; right: 0px;">
                                            <mat-icon style="color: var(--cor-perigosa)">cancel</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: white; height: 40px;">
                                        <input disabled type="checkbox" />
                                        <input type="text" (keydown)="onNovaAlterKeyDown($event, qi, novaAlternativa.value)" #novaAlternativa style="width: 70%" />
                                        <button (click)="addAlternativa(qi, novaAlternativa.value)" mat-icon-button>
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>                       


                    <tr>
                        <td align="right">
                            <button mat-icon-button matTooltip="Adicionar Imagem">
                                <mat-icon>insert_photo</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Adicionar Anexo">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Remover Questão">
                                <mat-icon style="color: rgb(143, 12, 12);">delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            
            <div style="width: 100%;">
                <button mat-raised-button (click)="finalizar()"
                    style="margin: auto; margin-top: 40px; font-size: 18px; padding-left: 10px; padding-right: 10px; display: block;">
                    Tudo pronto, Finalizar!
                </button>
            </div>

            <button mat-fab matTooltip="Adiconar Questão" (click)="addQuestao()"
                style="position: fixed; bottom: 30px; right: 30px; background-color: var(--cor-primaria);">
                <mat-icon style="color: white;">add</mat-icon>
            </button>

        </div>

    </mat-step>

</mat-horizontal-stepper>