<app-barra-navegacao [caminho]="caminho"></app-barra-navegacao>

<div style="height: 20px;"></div>

<div *ngIf="avaliacao.id != '1'">

    <!-- VISÃO DE PROFESSOR -->
    <div *ngIf="visao == 'professor'" class="container-avaliacao-professor">

        <!-- LINK DA AVALIAÇÃO -->

        <div class="link-div">
            Link da Avaliação:
            <div class="link-span">
                http://{{comumService.getHostName()}}/<input type="text" (ngModelChange)="corrigirId()"
                    (change)="corrigirIdVazio()" [disabled]="isEditando" [(ngModel)]="avaliacao.id" class="link-input"
                    maxlength="20" />

                <mat-icon class="btn-aleatorio" *ngIf="!isEditando" (click)="setIdAleatorio()"
                    matTooltip="Gerar aleatório">refresh
                </mat-icon>

            </div>
            <div *ngIf="idJaExiste" class="error-div">
                Ops! Esse link já está sendo usado
            </div>
        </div>

        <div class="header-container">

            <!-- TÍTULO -->

            <div style="position: relative;">
                <input required placeholder="Título da Avaliação" class="titulo-input"
                    (ngModelChange)="atualizarRascunhoAvaliacao()" maxlength="27" [(ngModel)]="avaliacao.titulo" />
                <mat-icon class="btn-help" style="position: absolute; top: 1px; right: 1px;"
                    matTooltip="Clique para receber ajuda" (click)="abrirAjudaTitulo()">
                    help
                </mat-icon>
            </div>

            <br />

            <!-- DESCRIÇÃO -->

            <div style="position: relative;">
                <textarea #descricaoTextarea maxlength="1500" rows="3" class="descricao-textarea"
                    (input)="ajustarAltura($event)" (click)="ajustarAltura($event)"
                    style="width: 97%; margin: auto; display: block; font-size: 13px; padding: 5px;  padding-top: 14px; border: none; border-radius: 4px; resize: vertical;"
                    [(ngModel)]="avaliacao.descricao" (ngModelChange)="atualizarRascunhoAvaliacao()"
                    placeholder="Insira aqui uma descrição / instruções iniciais"></textarea>
                <span *ngIf="estaEmFoco(descricaoTextarea)"
                    class="contador-caracteres">{{descricaoTextarea.value.length}}/1500</span>
            </div>

            <!-- TAGS  -->

            <div class="tags-div" style="position: relative;">
                <mat-form-field style="width: 95%; padding: 15px; margin: auto;">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let tag of avaliacao.tags" [selectable]="true" [removable]="true"
                            (removed)="removeTag(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />

                    </mat-chip-list>
                    <mat-placeholder class="placeholder">Tags para localizar a avaliação (Ex.: turno noite, avaliação
                        final,
                        matemática)</mat-placeholder>
                </mat-form-field>


            </div>


            <div class="datas-container">


                <!-- DURAÇÃO DA AVALIAÇÃO -->

                <div class="datas-title">

                    <hr />
                    <h3>
                        Período de Avaliação ({{getPeriodoAvaliacao()}})
                        <mat-icon class="btn-help" matTooltip="Clique para receber ajuda"
                            (click)="abrirAjudaPeriodoAvaliacao()">help</mat-icon>
                    </h3>

                </div>
                <div class="datas-box">
                    <div class="datas-container">
                        <div>


                            <mat-checkbox class="checkbox-indeterminado" matTooltip="Data de Início"
                                style="margin-left: 5px;" [(ngModel)]="avaliacao.isInicioIndeterminado"
                                (ngModelChange)="limitarIndeterminados()">
                                <span style="font-size: 12px; ">Iniciar manualmente</span>
                            </mat-checkbox>
                        </div>
                        <div>
                            <input type="datetime-local" [min]="getNowStr()" matTooltip="Data de Início"
                                [(ngModel)]="avaliacao.dtInicio" (ngModelChange)="corrigirDatas('inicio')"
                                [class.escondido]="avaliacao.isInicioIndeterminado" />
                        </div>
                    </div>
                    <div class="datas-container">
                        <div>
                            <mat-checkbox class="checkbox-indeterminado" style="margin-left: 5px;"
                                matTooltip="Data de Término" [(ngModel)]="avaliacao.isInicioCorrecaoIndeterminado"
                                (ngModelChange)="limitarIndeterminados()" [disabled]="avaliacao.isInicioIndeterminado"
                                (click)="avisarBloqueioTerminoAvaliacao()">
                                <span style="font-size: 12px;">Encerrar manualmente</span>
                            </mat-checkbox>
                        </div>
                        <div>
                            <input type="datetime-local" [min]="avaliacao.dtInicio" matTooltip="Data de Término"
                                [(ngModel)]="avaliacao.dtInicioCorrecao" (ngModelChange)="corrigirDatas('correcao')"
                                [class.escondido]="avaliacao.isInicioCorrecaoIndeterminado" />
                        </div>
                    </div>
                </div>


                <!-- DURAÇÃO DA CORREÇÃO -->

                <div class="datas-title">

                    <hr />
                    <h3>
                        Período de Correção ({{getPeriodoCorrecao()}})
                        <mat-icon class="btn-help" matTooltip="Clique para receber ajuda"
                            (click)="abrirAjudaPeriodoCorrecao()">help</mat-icon>
                    </h3>

                </div>
                <div class="datas-box">
                    <div class="datas-container">
                        <div>
                            <mat-checkbox class="checkbox-indeterminado" style="margin-left: 5px;"
                                [(ngModel)]="avaliacao.isInicioCorrecaoIndeterminado"
                                (ngModelChange)="limitarIndeterminados()" [disabled]="avaliacao.isInicioIndeterminado"
                                (click)="avisarBloqueioInicioCorrecao()">
                                <span style="font-size: 12px;">Iniciar manualmente</span>
                            </mat-checkbox>
                        </div>
                        <div>
                            <input type="datetime-local" [min]="avaliacao.dtInicio"
                                [(ngModel)]="avaliacao.dtInicioCorrecao" (ngModelChange)="corrigirDatas('correcao')"
                                [class.escondido]="avaliacao.isInicioCorrecaoIndeterminado" />
                        </div>
                    </div>
                    <div class="datas-container">
                        <div>
                            <mat-checkbox class="checkbox-indeterminado" style="margin-left: 5px;"
                                [(ngModel)]="avaliacao.isTerminoIndeterminado"
                                [disabled]="avaliacao.isInicioCorrecaoIndeterminado"
                                (click)="avisarBloqueioTerminoCorrecao()">
                                <span style="font-size: 12px;">Encerrar manualmente</span>
                            </mat-checkbox>
                        </div>
                        <div>
                            <input type="datetime-local" [min]="avaliacao.dtInicioCorrecao"
                                [(ngModel)]="avaliacao.dtTermino" (ngModelChange)="corrigirDatas('termino')"
                                [class.escondido]="avaliacao.isTerminoIndeterminado" />
                        </div>
                    </div>
                </div>

                <div>

                    <hr />

                </div>
            </div>

            <!-- DURAÇÃO INDIVIDUAL -->
            <table class="atributos-table" style="margin: auto; width: 100%; font-size: 15px;">
                <tr *ngIf="avaliacao.tipoDisposicao == 0">
                    <td colspan="2">
                        <table width="100%">
                            <tr>
                                <td style="text-align: left;">
                                    Duração individual
                                    <mat-icon class="btn-help" matTooltip="Clique para receber ajuda"
                                        (click)="abrirAjudaDuracaoIndividual()">help</mat-icon>
                                </td>
                            </tr>
                            <tr>
                                <td style="display: flex; text-align: left;">
                                    <span *ngIf="!avaliacao.isDuracaoIndividualIndeterminada">
                                        <input type="number" class="input-basico" min="0"
                                            style="width: 50px; display: inline; padding: 5px;"
                                            [(ngModel)]="avaliacao.duracaoIndividual"
                                            (ngModelChange)="atualizarDuracaoIndividualMs()" />
                                        <select class="select-basico" style="display: inline;"
                                            [(ngModel)]="avaliacao.duracaoIndividualUnidade"
                                            (ngModelChange)="atualizarDuracaoIndividualMs()">
                                            <option value='segundos'>segundos</option>
                                            <option value='minutos'>minutos</option>
                                            <option value='horas'>horas</option>
                                            <option value='dias'>dias</option>
                                        </select>
                                    </span>
                                    <mat-checkbox class="checkbox-indeterminado" style="margin-left: 5px;"
                                        [(ngModel)]="avaliacao.isDuracaoIndividualIndeterminada"
                                        (ngModelChange)="atualizarRascunhoAvaliacao()">
                                        <span style="font-size: 12px;">Indeterminado</span>
                                    </mat-checkbox>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <table>
                            <!-- ORDEM ALEATÓRIA -->

                            <tr>
                                <td valign="top" style="display: flex; align-items: flex-start;" colspan="2">

                                    <mat-checkbox class="checkbox-indeterminado" style="display: block;"
                                        [(ngModel)]="avaliacao.isOrdemAleatoria"
                                        (ngModelChange)="atualizarRascunhoAvaliacao()">

                                        <span class="checkbox-span">Ordenar questões de forma aleatória</span>
                                    </mat-checkbox>
                                    <mat-icon class="btn-help" matTooltip="Clique para receber ajuda"
                                        (click)="abrirAjudaOrdenarAleatorio()">help</mat-icon>
                                </td>
                            </tr>

                            <!-- BLOQUEIO DE ATRASADOS -->

                            <tr>
                                <td valign="top" style="display: flex; align-items: flex-start;" colspan="2">

                                    <mat-checkbox class="checkbox-indeterminado" style="display: block;"
                                        [(ngModel)]="avaliacao.isBloqueadoAlunoAtrasado"
                                        (ngModelChange)="atualizarRascunhoAvaliacao()">

                                        <span class="checkbox-span">Bloquear participação de alunos atrasados</span>
                                    </mat-checkbox>
                                    <mat-icon class="btn-help" matTooltip="Clique para receber ajuda"
                                        (click)="abrirAjudaBloquearAtrasados()">help</mat-icon>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


            </table>
        </div>
        <br />
        <div class="configuracoes-basicas-container">

            <div class="configuracoes-basicas-element">
                <div style="text-align: center; background-color: whitesmoke; border-radius: 5px; padding: 4px;">
                    DISPOSIÇÃO<br />
                    <button mat-button class="botao-tipo" matTooltip="Alterar disposição dos alunos"
                        matTooltipShowDelay="1000" (click)="abrirTipos('disposicao')">
                        <mat-icon
                            style="background-color: white; color: var(--cor-primaria); border-radius: 50%; padding: 4px;">
                            {{comumService.disposicoes[avaliacao.tipoDisposicao].icone}}</mat-icon>
                        <br />
                        {{comumService.disposicoes[avaliacao.tipoDisposicao].nome}}
                    </button>
                </div>
            </div>

            <div class="configuracoes-basicas-element">
                <div style="text-align: center; background-color: whitesmoke; border-radius: 5px; padding: 4px;">
                    CORREÇÃO<br />
                    <button mat-button class="botao-tipo" matTooltip="Alterar método de correção"
                        matTooltipShowDelay="1000" (click)="abrirTipos('correcao')">
                        <mat-icon
                            style="background-color: white; color: var(--cor-primaria); border-radius: 50%; padding: 4px;">
                            {{comumService.correcoes[avaliacao.tipoCorrecao].icone}}</mat-icon>
                        <br />
                        {{comumService.correcoes[avaliacao.tipoCorrecao].nome}}
                    </button>
                </div>
            </div>

            <div class="configuracoes-basicas-element">
                <div style="text-align: center; background-color: whitesmoke; border-radius: 5px; padding: 4px;">
                    PONTUAÇÃO<br />
                    <button mat-button class="botao-tipo" matTooltip="Alterar forma de pontuação"
                        matTooltipShowDelay="1000" (click)="abrirTipos('pontuacao')">
                        <mat-icon
                            style="background-color: white; color: var(--cor-primaria); border-radius: 50%; padding: 4px;">
                            {{comumService.pontuacoes[avaliacao.tipoPontuacao].icone}}</mat-icon>
                        <br />
                        {{comumService.pontuacoes[avaliacao.tipoPontuacao].nome}}
                    </button>
                </div>
            </div>

        </div>

        <br />

        <div class="selecionar-alunos-div">
            SELECIONAR ALUNOS ESPERADOS (OPCIONAL)<br />
            <button mat-button class="botao-tipo" matTooltip="Clique para selecionar alunos"
                (click)="abirSelecionarAunos()">
                <mat-icon>person</mat-icon> {{getAlunosFromTodosGrupos().length}}
            </button>
        </div>



        <br />
        <div
            style="text-align: center; background-color: whitesmoke; margin-bottom: 15px; cursor: default; color: black; width: 100%; border-radius: 10px;">
            <h2>Questões</h2>

        </div>

        <app-questoes-editar (algoAlterado)="atualizarRascunhoProva()" [avaliacao]="avaliacao" [prova]="provaGabarito">

        </app-questoes-editar>

        <div style="width: 100%; text-align: center;">

            <button mat-raised-button (click)="finalizar()" class="btn-finalizar">
                Tudo pronto, Finalizar!
            </button>
        </div>

        <button mat-fab matTooltip="Adiconar Questão" (click)="addQuestao()" class="btn-add-questao">
            <mat-icon style="color: white;">add</mat-icon>
        </button>

        <button mat-fab class="btn-mais-opcoes" [matMenuTriggerFor]="userMenu" matTooltip="Mais Opções">
            <mat-icon style="color: white;">
                more_vert
            </mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <!-- <button mat-menu-item matTooltip="Adiconar Questão" (click)="addQuestao()">
                <mat-icon>add</mat-icon>
                Adiconar Questão
            </button> -->

            <button mat-menu-item (click)="buscarQuestao()">
                <mat-icon>folder_open</mat-icon>
                Buscar Questões
            </button>

            <button mat-menu-item (click)="mudarVisao('aluno')">
                <mat-icon>visibility</mat-icon>
                Ver como aluno
            </button>

            <a mat-menu-item target="_blank"
                [routerLink]="'/professor/avaliacao/imprimir/'+ (isEditando ? avaliacao.id : credencialService.getLoggedUserIdFromCookie())">
                <mat-icon>print</mat-icon>
                Imprimir
            </a>
        </mat-menu>

        <button *ngIf="!isEditando" class="btn-descartar-rascunho" mat-fab matTooltip="Descartar Rascunho"
            (click)="descartarRascunho()">
            <mat-icon style="color: white;">delete</mat-icon>
        </button>

    </div>

    <!-- VISÃO DE ALUNO -->

    <div *ngIf="visao == 'aluno'" class="container-avaliacao-aluno">

        <div class="cabecalho">

            <app-avaliacao-aluno-cabecalho [avaliacao]="avaliacao"></app-avaliacao-aluno-cabecalho>

        </div>

        <div style="width: 100%;">

            <app-questoes-responder [gabarito]="provaGabarito" [prova]="provaExemplo" [avaliacao]="avaliacao">

            </app-questoes-responder>

            <button (click)="mudarVisao('professor')" mat-raised-button
                style="margin: auto; margin-top: 40px; font-size: 18px; padding-left: 10px; padding-right: 10px; display: block;">
                Sair da visão de Aluno
            </button>
        </div>


        <button mat-fab (click)="mudarVisao('professor')" matTooltip="Sair da visão do aluno"
            style="position: fixed; bottom: 30px; right: 30px; color: white; background-color: var(--cor-primaria);">
            <mat-icon>close</mat-icon>
        </button>

    </div>

</div>

<div style="height: 50px"></div>

<mat-icon class="btn-help btn-refazer-tutorial" matTooltip="O que faço nesta página?" (click)="refazerTutorial()">
    help
</mat-icon>