.tabela-aluno{
  margin: auto;
  width: 320px;
}
.tabela-aluno td{
    padding-bottom: 12px;
    width: 100%;
}

.input-simple{
    border: 1px dashed transparent;
    padding: 7px;
    border-radius: 6px;
    font-size: 14px;
    background-color: whitesmoke;
    
  }
  .input-simple:focus{
    outline: none;
    border: 1px dashed var(--cor-primaria);
    background-color: white;
  }

  .ultimo-btn{
    background-color: var(--cor-primaria); color: white; margin-top: 5px;
  }