<div style="padding: 10px;">
    <table class="tabela-aluno">
        <tr>
            <td colspan="2" align="center">
                <h2>Novo Aluno</h2>
            </td>
        </tr>
        <tr>
            <td style="width: 1%">
                <label for="email">E-mail:</label>
            </td>
            <td>
                <input class="input-simple" required type="email" name="email" value="{{aluno.email}}"
                    [(ngModel)]="aluno.email" (ngModelChange)="verificarEmail()">
            </td>
        </tr>
        <tr>
            <td>
                <label for="senha">Senha:</label>
            </td>
            <td>
                <input class="input-simple" type="text" [disabled]="!novoUsuario" [(ngModel)]="aluno.senha"
                    name="senha">
            </td>
        </tr>
        <tr>
            <td>
                <label for="nome">Nome:</label>
            </td>
            <td>
                <input class="input-simple" required type="text" [disabled]="!novoUsuario" name="nome"
                    value="{{aluno.nome}}" [(ngModel)]="aluno.nome">
            </td>
        </tr>
        <tr *ngIf="!usuarioJaAdicionado">
            <td colspan='2'>
                <mat-form-field style="width: 90%; padding: 15px; margin: auto;">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let tag of aluno.tags" [selectable]="true" [removable]="true"
                            (removed)="removeTag(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />

                    </mat-chip-list>
                    <mat-placeholder class="placeholder">Digite aqui algumas tags para te ajudarem a encontrar esse
                        aluno</mat-placeholder>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button *ngIf="novoUsuario" mat-button (click)="cadastrar()" class="ultimo-btn">Cadastrar</button>
                <button *ngIf="!novoUsuario && !usuarioJaAdicionado" mat-button (click)="adicionar(aluno)"
                    class="ultimo-btn">Adicionar</button>
                <span *ngIf="usuarioJaAdicionado">Usuário já adicionado</span>
            </td>
        </tr>

    </table>
</div>