<div style="padding: 10px;">
    <table class="tabela-aluno">
        <tr>
            <td colspan="2" align="center">
                <h2>Novo Aluno</h2>
            </td>
        </tr>
        <tr>
            <td>
                <label for="matricula">GRR do aluno:</label>
            </td>
            <td>
                <input required type="text" class="form-control" name="matricula" value="{{aluno.matricula}}"
                    [(ngModel)]="aluno.matricula">
            </td>
        </tr>
        <tr>
            <td>
                <label for="nome">Nome do aluno:</label>
            </td>
            <td>
                <input required type="text" class="form-control" name="nome" value="{{aluno.nome}}"
                    [(ngModel)]="aluno.nome">
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">E-mail do aluno:</label>
            </td>
            <td>
                <input required type="email" class="form-control" name="email" value="{{aluno.email}}"
                    [(ngModel)]="aluno.email">
            </td>
        </tr>
        <tr>
            <td>
                <label for="senha">Senha padrão do aluno:</label>
            </td>
            <td>
                <input type="text" class="form-control" name="senha" value="TADS2020">
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <mat-form-field style="width: 90%; padding: 15px; margin: auto;">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let tag of aluno.tags" [selectable]="true" [removable]="true"
                            (removed)="removeTag(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />

                    </mat-chip-list>
                    <mat-placeholder class="placeholder">Digite aqui algumas tags para te ajudarem a encontrar esse
                        aluno</mat-placeholder>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button mat-button mat-dialog-close
                    style="background-color: var(--cor-primaria); color: white; margin-top: 5px;">Cadastrar</button>
            </td>
        </tr>

    </table>
</div>