<div style="padding: 10px;">
    <table class="tabela-aluno">
        <tr>
            <td colspan="2" align="center">
                <h2>Novo Aluno</h2>
            </td>
        </tr>
        <tr>
            <td style="width: 1%">
                <label for="email">E-mail:</label>
            </td>
            <td>
                <input class="input-simple" required type="email" name="email" value="{{aluno.email}}"
                    [(ngModel)]="aluno.email" (ngModelChange)="verificarEmail()">
            </td>
        </tr>
        <tr *ngIf="novoUsuario">
            <td style="position: relative;">
                <span>
                    <label for="senha">Senha:</label>
                    <mat-icon class="btn-help" style="position: absolute; top: 1px; right: 1px;"
                        matTooltip="Clique para receber ajuda" (click)="abrirAjudaSenha()">
                        help
                    </mat-icon>
                </span>
            </td>
            <td>
                <input class="input-simple" type="text" [disabled]="!novoUsuario" [(ngModel)]="aluno.senha"
                    name="senha">
            </td>
        </tr>
        <tr>
            <td>
                <label for="nome">Nome:</label>
            </td>
            <td>
                <input class="input-simple" required type="text" [disabled]="!novoUsuario" name="nome"
                    value="{{aluno.nome}}" [(ngModel)]="aluno.nome">
            </td>
        </tr>
        <tr>
            <td>
                <label for="tagIdExterno">Tag ID Externo:</label>
            </td>
            <td>
                <input name='tagIdExterno' class="input-simple" placeholder="Ex.: Matricula" type="text"
                    value="{{aluno.tagIdExterno}}" [(ngModel)]="aluno.tagIdExterno">
            </td>
        </tr>
        <tr>
            <td>
                <label for="idExterno">ID Externo:</label>
            </td>
            <td>
                <input name='idExterno' class="input-simple" placeholder="Ex.: 20184586" type="text"
                    value="{{aluno.idExterno}}" [(ngModel)]="aluno.idExterno">
            </td>
        </tr>
        <tr *ngIf="!usuarioJaAdicionado">
            <td colspan='2'>
                <mat-form-field style="width: 90%; padding: 15px; margin: auto;">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let tag of aluno.tags" [selectable]="true" [removable]="true"
                            (removed)="removeTag(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />

                    </mat-chip-list>
                    <mat-placeholder class="placeholder">Tags para localizar o aluno (Ex.: matemática, turno da noite)
                    </mat-placeholder>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button *ngIf="novoUsuario" mat-button (click)="cadastrar()" class="ultimo-btn">Cadastrar</button>
                <button *ngIf="!novoUsuario && !usuarioJaAdicionado" mat-button (click)="adicionar(aluno)"
                    class="ultimo-btn">Adicionar</button>
                <span *ngIf="usuarioJaAdicionado">Usuário já adicionado</span>
            </td>
        </tr>

    </table>
</div>