.container{
    height: 100%;
    overflow: auto;
    position: relative;
}

.titulo{
    text-align: center;
    font-size: large;
}
.subtitulo{
    text-align: center;
}

.questao-container{
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 15px;
    position: relative;
    border-radius: 6px;
    border: 1px dotted transparent;
}
.questao-container:hover{
    border: 1px dotted var(--cor-primaria);
}

.mensagem{
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
}

.questao-enunciado{
    font-weight: bold;
}

.resultados-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.resultado{
    display: flex;
    flex: 1;
    min-height: 300px;
}

.questao-tipo{
    font-size: 14px;
    color: gray;
}

.questao-numero-respostas{
    font-size: 12px;
    color: rgb(105, 105, 105);
}

.questao-resposta-dissertativa-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.questao-resposta-dissertativa{
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    flex: 1;   
    border: 1px solid var(--cor-secundaria);
    border-left: 5px solid var(--cor-secundaria);
    border-radius: 3px;
    background-color: white;
    box-sizing: border-box;
}

.btn-gabarito{
    position: absolute;
    top: 6px;
    background-color: white;
    right: 20px;
    display: none;
}
.questao-container:hover .btn-gabarito{
    display: block;
}

@media screen and (max-width: 650px){
    .resultados-container{
        flex-direction: column;
    }
}