/* .arrow-btn{
    position: absolute;
    right: 2%;
    top: 3px;    
    z-index: 1000;
}
.arrow-up{
    right: 80px;
}
.arrow-down{
    right: 40px;
} */

.coluna-option{
    position: relative;
}

