<div
    style="background-color: whitesmoke; width: 50%; border-radius: 10px; margin: auto; margin-top: 20px; padding: 20px;">
    <div style="margin: auto; text-align: center;">
        <h2>Alterar Meus Dados</h2>
    </div>
    <table class="tabela-editar-perfil">
        <tr>
            <td align="center" rowspan="5">
                <img src="assets/avatares/padrao.jpg"
                    style="height: 20vh; width: 20vh; object-fit: cover; border-radius: 7px;" />
                <br />
            </td>
        </tr>
        <tr>
            <td align="left">
                Nome<br />
                <input required type="text" value="Rafael Bini" name="email">
            </td>
        </tr>
        <tr>
            <td align="left">
                E-mail<br />
                <input required type="email" value="professor@ufpr.br" name="email">
            </td>
        </tr>
        <tr>
            <td align="left">
                Senha<br />
                <input required [disabled]="!alterar" type="password" value="senha123" name="senha">

                <button (click)="alterar = true" mat-button matTooltip="Alterar senha">
                    <mat-icon>create</mat-icon>
                </button>
            </td>
        </tr>
        <tr *ngIf="alterar">

            <td align="left">
                Confirmar Senha<br />
                <input required type="password" value="" name="nova_senha">
            </td>
        </tr>
    </table>
    <div style="margin: auto; text-align: center;">
        <button type="button" mat-raised-button>Editar</button>
    </div>
</div>