<div class="container">
    <div style="margin: auto; text-align: center;">
        <h2>Alterar Meus Dados</h2>
    </div>
    <table class="tabela-editar-perfil">
        <tr>
            <td align="center" rowspan="5">

                <div style="position: relative;">
                    <img *ngIf="usuario.img" [src]="usuario.img.url || 'assets/avatares/padrao.jpg'" class="img" />
                    <img *ngIf="!usuario.img" [src]="'assets/avatares/padrao.jpg'" class="img" />
                    <button *ngIf="usuario.img" mat-icon-button matTooltip="Remover imagem"
                        style="color: var(--cor-perigosa); position: absolute; top: 0px; right: 1px;"
                        (click)="removerImagem()">
                        <mat-icon>
                            cancel
                        </mat-icon>
                    </button>
                </div>


                <button mat-button (click)="imagemSelectInput.click()">
                    Alterar Foto
                </button>

                <input #imagemSelectInput accept="image/*" (change)="onImagemSelected($event)" type="file"
                    class="input-invisivel" value="Selecione os arquivos" />
            </td>
        </tr>
        <tr>
            <td align="left">
                Nome<br />
                <input required type="text" [(ngModel)]="usuario.nome">
            </td>
        </tr>
        <tr>
            <td align="left">
                E-mail<br />
                <input required type="text" [(ngModel)]="usuario.email">
            </td>
        </tr>
        <tr>
            <td align="left">
                Senha <span (click)="alterar = !alterar" class="btn-editar-senha">
                    {{alterar ? '[CANCELAR]' : '[EDITAR]'}}
                </span><br />
                <input required [disabled]="!alterar" [(ngModel)]="usuario.senha" type="password">



            </td>
        </tr>
        <tr *ngIf="alterar">

            <td align="left">
                Confirmar Senha<br />
                <input required [(ngModel)]="confirmacaoSenha" type="password" value="">
            </td>
        </tr>
    </table>
    <div style="margin: auto; text-align: center;">
        <button (click)="salvar()" type="button" mat-raised-button>Salvar</button>
    </div>
</div>