* {
    color: var(--cor-primaria-letra); 
    text-decoration: none;
}

.barra{
    padding: 10px;    
    background-color: var(--cor-secundaria);
    width: fit-content;     
    border-bottom-right-radius: 15px; 
}

.divisor{
    margin-left: 12px;
    margin-right: 12px;

}

a:hover {
    text-decoration: underline dashed;
}

.container {
    display: inline-flex;
    align-items: center;

    width: fit-content;
  }
  
.btn{
    color: var(--cor-secundaria);    
}

.spacer{
    height: 35px;
}