* {
    color: var(--cor-primaria); 
    text-decoration: none;
}

.barra{
    padding: 10px;    
    background-color: whitesmoke;
    width: fit-content;     
    border-bottom-right-radius: 15px; 
}

.divisor{
    margin-left: 12px;
    margin-right: 12px;

}

a:hover {
    text-decoration: underline dashed;
}

.container {
    display: inline-flex;
    align-items: center;

    width: fit-content;
  }
  
