<div class="linkCompartilhavel"><a [href]="getLink()">{{getLink()}}</a></div>

<div class='btn-container'>
    <button class='btn btn-copiar-link' [cdkCopyToClipboard]="getLink()" (click)="notificarCopy()"
        matTooltip="Clique aqui para copiar o link" mat-button>
        {{copyBtnText}}
    </button>
    <a mat-button [href]="getShareWhatsapp()" target="_blank" class='btn whatsapp-share'
        matTooltip='Compartilhar com WhatsApp'>
        <img src="assets/imgs/WhatsAppLogo.svg" style="height: 30px;" />&nbsp;Enviar por whatsapp
    </a>
</div>