
.btn-copiar-link{
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-primaria);
}

.linkCompartilhavel a, .linkCompartilhavel {
    color: white;
    background-color:var(--cor-secundaria);
}

.linkCompartilhavel {
    padding: 9.4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: var(--cor-secundaria);
    margin-bottom: 12px;
}

.btn{
    margin-bottom: 5px;
}


.btn-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}



.whatsapp-share{
    background-color: #25d366;
    color: white;
    text-decoration: none;
}