<div style="display: flex; flex-wrap: wrap; width: 100%; margin: auto;">
    <div class="questao">

        <table style="width: 100%;">

            <!-- PERGUNTA -->
            <tr>
                <td style="padding-bottom: 20px; font-size: 15px; white-space: pre-line;">
                    <b>Enunciado: </b> {{questao.pergunta}}
                </td>
            </tr>

            <tr>
                <td style="padding-bottom: 20px; font-size: 15px; white-space: pre-line;">
                    <b>Resposta:</b>
                </td>
            </tr>

            <!-- RESPOSTA ASSOCIATIVA -->
            <tr *ngIf="questao.tipo == 0">
                <td>
                    <table width="100%">
                        <tr *ngFor="let associacao of questao.associacoes; index as ai">
                            <td width="20%" style="cursor:default;">
                                <mat-select disabled="true" class="select-basico" style="width: 82%;"
                                    [(ngModel)]="associacao.opcaoSelecionada">
                                    <mat-option [value]="_associacao.opcaoSelecionada"
                                        *ngFor="let _associacao of questao.associacoes">
                                        {{_associacao.opcaoSelecionada}}
                                    </mat-option>
                                </mat-select>
                            </td>
                            <td width="80%" class="alternativa" style="cursor:default;">
                                <span style="white-space: pre-line;">{{associacao.texto}}</span>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>

            <!-- RESPOSTA DISSERTATIVA -->
            <tr *ngIf="questao.tipo == 1">
                <td align="right">
                    <div style="position: relative;">
                        <textarea disabled="true" #respostaAlunoTextarea maxlength="2500" rows="4"
                            [(ngModel)]="questao.resposta" class="input-basico" placeholder="Escreva aqui a resposta"
                            style="width: 98%; margin: auto; padding: 5px; padding-top: 14px; "></textarea>

                    </div>

                    <br />
                </td>
            </tr>

            <!-- RESPOSTA ENVIO DE ARQUIVO -->
            <tr *ngIf="questao.tipo == 2">
                <td>
                    <div matTooltip="Enviar arquivos" class="upload-area">
                        ARRASTE E SOLTE O(S) ARQUIVO(S) AQUI
                    </div>
                    <div style="width: 90%; margin: auto; color: gray;">
                        <br />
                        Extensões permitidas: {{questao.extensoes.join('; ')}}
                        <br />
                        Tamanho total máximo: 60 MB
                    </div>
                </td>
            </tr>

            <!-- RESPOSTA MULTIPLA ESCOLHA - MULTIPLA OU ÚNICA RESPOSTA -->
            <tr *ngIf="questao.tipo == 3 || questao.tipo == 4">
                <td>
                    <table width="100%">
                        <tr *ngFor="let alternativa of questao.alternativas; index as ai">
                            <td valign="middle" class="alternativa">
                                <mat-checkbox class="checkbox-full" disabled="true"
                                    [(ngModel)]="alternativa.selecionada">
                                    <span style="white-space: pre-line;">{{alternativa.texto}}</span>
                                </mat-checkbox>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- RESPOSTA PREENCHIMENTO -->
            <tr *ngIf="questao.tipo == 5">
                <td align="justfy">
                    <span style="white-space: pre-line;" *ngFor="let parte of questao.partesPreencher">
                        <span *ngIf="parte.tipo == 'texto'">{{parte.conteudo}}</span>
                        <select disabled="true" *ngIf="parte.tipo == 'select'" class="select-basico"
                            [(ngModel)]="questao.opcoesParaPreencher[parte.conteudo].texto">
                            <option *ngFor="let opcaoPreencher of getOpcoesPreencherAtivas(questao)"
                                [value]="opcaoPreencher.texto">
                                {{opcaoPreencher.texto}}
                            </option>
                        </select>
                    </span>
                </td>
            </tr>

            <!-- RESPOSTA VERDADEIRO OU FALSO - COM OU SEM JUSTIFICATIVA -->
            <tr *ngIf="questao.tipo == 6 || questao.tipo == 7">
                <td>
                    <table width="100%">
                        <tr *ngFor="let alternativa of questao.alternativas; index as ai">
                            <td>
                                <table>
                                    <tr>
                                        <td width="5%" class="alternativa">
                                            <mat-button-toggle-group disabled="true"
                                                [(ngModel)]="alternativa.selecionada">
                                                <mat-button-toggle matTooltip="Marcar como verdadeiro" [value]="true">V
                                                </mat-button-toggle>
                                                <mat-button-toggle matTooltip="Marcar como falso" [value]="false">F
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>
                                        </td>
                                        <td valign="middle" class="alternativa"
                                            style="cursor: default; white-space: pre-line;"
                                            [style.color]="alternativa.selecionada == null ? 'black' : (alternativa.selecionada == true ? 'green' : 'red')">
                                            {{alternativa.texto}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="alternativa.selecionada == false && questao.tipo == 7">
                                        <td colspan="2">
                                            <div style="display: inline-flex; width: 100%;">
                                                <textarea placeholder="Digite aqui uma justificativa"
                                                    [(ngModel)]="alternativa.justificativa" class="input-basico"
                                                    style="width: 100%; height: 100%; padding: 10px;"
                                                    rows="2"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>