<div style="display: flex; flex-wrap: wrap; width: 100%; margin: auto;">
    <div class="questao">

        <table style="width: 100%;">

            <!-- PERGUNTA -->
            <tr>
                <td style="padding-bottom: 20px; font-size: 15px; white-space: pre-line;">
                    <b>Enunciado: </b> {{questao.pergunta}}
                </td>
            </tr>

            <tr>
                <td style="padding-bottom: 20px; font-size: 15px; white-space: pre-line;">
                    <b>Resposta:</b>
                </td>
            </tr>

            <tr>
                <td>
                    <app-questao-resposta-consulta [questao]="questao"></app-questao-resposta-consulta>
                </td>
            </tr>

        </table>

    </div>
</div>