<div class="painel-1">

    <table class="header">
        <tr>
            <td width="50%">
                <div>
                    <div class="titulo">
                        Criado para ensinar ao avaliar
                    </div>
                    <div class="subtitulo">
                        Avaliações Online é um sistema que permite criar e compartilhar avaliações dinâmicas e criativas
                        de
                        forma simples e prática.

                    </div>
                </div>
            </td>
            <td width="50%">
                <div class="login">
                    <span class="label">Nome</span>
                    <input type="text" />
                    <span class="label">Email</span>
                    <input type="text" />
                    <span class="label">Senha</span>
                    <input type="password" />
                    <button mat-button class="btn-cadastrar">
                        Criar minha primeira Avaliação
                    </button>
                </div>
            </td>
        </tr>
    </table>

</div>