<div>
    <div cdkDropList [cdkDropListData]="prova.questoes" (cdkDropListDropped)="drop($event)"
        style="display: flex; flex-wrap: wrap; width: 100%; margin: auto;">

        <div cdkDrag class="questao" (click)="marcarEdicao(qi)" *ngFor="let questao of prova.questoes; index as qi">
            <table style="width: 100%;">

                <!-- Drag Handle -->
                <tr class="ferramenta-edicao" [class.is-editando]="questao.isEditando">
                    <td align="center">
                        <mat-icon style="cursor: move;" cdkDragHandle>drag_handle</mat-icon>
                    </td>
                </tr>

                <!-- Tipo Questão / Nivel Dificuldade -->
                <tr class="ferramenta-edicao" [class.is-editando]="questao.isEditando">
                    <td align="left" style="padding-bottom: 18px; position: relative;">
                        <div class="questao-options-container">

                            <select class="select-basico questao-tipo-select" style="padding: 8px;" #tipo
                                (change)="tipoQuestaoChanged(questao, tipo.value)"
                                (ngModelChange)="sinalizarAlteracao()" [(ngModel)]="questao.tipo">
                                <option *ngFor="let questaoTipo of getQuestaoTiposAdequados()"
                                    [value]="questaoTipo.codigo">
                                    {{questaoTipo.nome}}
                                </option>
                            </select>

                            <select *ngIf="!comumService.isMobile()" (ngModelChange)="sinalizarAlteracao()"
                                [(ngModel)]="questao.nivelDificuldade" matTooltip="Nível de Dificuldade"
                                class="select-basico nivel-dificuldade-select" style="padding: 8px;" #tipo>
                                <option *ngFor="let nivelDificuldade of comumService.niveisDificuldade; index as ni"
                                    [value]='ni'>{{nivelDificuldade}}</option>
                            </select>

                            <div>
                                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" class="more_vert">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #aboveMenu="matMenu">
                                    <button (click)="imagemSelectInput.click()" mat-menu-item
                                        matTooltip="Adicionar Imagem" class="questao-menu-btn">
                                        <mat-icon class="questao-menu-btn">insert_photo</mat-icon>Adicionar Imagem
                                    </button>
                                    <button (click)="anexoSelectInput.click()" mat-menu-item
                                        matTooltip="Adicionar Anexo" class="questao-menu-btn">
                                        <mat-icon class="questao-menu-btn">attach_file</mat-icon>Adicionar Anexo
                                    </button>
                                    <button matTooltip="Alterar tags" mat-menu-item (click)="openInfoQuestao(questao)"
                                        class="questao-menu-btn">
                                        <mat-icon class="questao-menu-btn">local_offer</mat-icon>Alterar tags
                                    </button>
                                    <button *ngIf="prova.questoes.length > 1" mat-menu-item (click)="deletarQuestao(qi)"
                                        matTooltip="Remover Questão" style="color: var(--cor-perigosa)">
                                        <mat-icon style="color: var(--cor-perigosa)">delete</mat-icon>Remover Questão
                                    </button>
                                </mat-menu>
                            </div>

                        </div>

                    </td>
                </tr>

                <!-- Numero da Questão -->
                <tr>
                    <td style="padding-bottom: 20px; font-size: 15px; white-space: pre-line;">
                        <b>Questão {{qi + 1}}</b>/{{prova.questoes.length}}.
                    </td>
                </tr>

                <!-- Imagens -->
                <tr *ngIf="questao.imagens.length > 0">
                    <td>

                        <app-arquivo-imagem [editando]="true" [file]="file" [questao]="questao"
                            [imagemIndex]="imagemIndex" *ngFor="let file of questao.imagens; index as imagemIndex">

                        </app-arquivo-imagem>

                    </td>
                </tr>

                <!-- Pergunta -->
                <tr *ngIf="questao.tipo != 5">
                    <td style="position: relative;">

                        <textarea #perguntaTextarea (input)="ajustarAltura($event)" (click)="ajustarAltura($event)"
                            maxlength="3500"
                            [placeholder]="questao.perguntaPlaceholder ? questao.perguntaPlaceholder : 'Digite aqui uma pergunta ou uma descrição para a questão'"
                            class="input-basico"
                            style=" margin: auto; width: 98%; max-width: 98%; padding: 5px; padding-top: 14px;"
                            (ngModelChange)="sinalizarAlteracao()" [(ngModel)]="questao.pergunta" rows="4"></textarea>
                        <span *ngIf="estaEmFoco(perguntaTextarea)"
                            class="contador-caracteres">{{questao.pergunta.length}}/3500</span>
                    </td>
                </tr>

                <!-- Anexos -->
                <tr *ngIf="questao.anexos.length > 0">
                    <td>

                        <app-arquivo-anexo [editando]="true" [file]="file" [questao]="questao" [anexoIndex]="anexoIndex"
                            *ngFor="let file of questao.anexos; index as anexoIndex">

                        </app-arquivo-anexo>

                    </td>
                </tr>

                <!-- Resposta Associativa -->
                <tr *ngIf="questao.tipo == 0">
                    <td>
                        <table width="100%" #tabelaAssociacoes cdkDropList [cdkDropListData]="questao.associacoes"
                            (cdkDropListDropped)="drop($event)">

                            <!-- LISTA DE ASSOCIASSOES -->
                            <tr cdkDrag *ngFor="let associacao of questao.associacoes; index as ai">
                                <td width="35%" class="alternativa">
                                    <div style="display: inline-flex; width: 100%;">
                                        <textarea (input)="ajustarAltura($event)"
                                            (keyup)="onNovaAssocKeyUp($event, questao, tabelaAssociacoes)"
                                            placeholder="Digite uma opção" (click)="ajustarAltura($event)"
                                            (ngModelChange)="sinalizarAlteracao()"
                                            [(ngModel)]="associacao.opcaoSelecionada" class="invisible-input"
                                            style="width: 95%; height: 100%; padding: 10px;" rows="1"></textarea>
                                    </div>
                                </td>
                                <td width="60%" class="alternativa">
                                    <div style="display: inline-flex; width: 100%; position: relative;">
                                        <textarea #associacaoTextarea maxlength="500" (input)="ajustarAltura($event)"
                                            (click)="ajustarAltura($event)"
                                            (keyup)="onNovaAssocKeyUp($event, questao, tabelaAssociacoes)"
                                            (ngModelChange)="sinalizarAlteracao()" [(ngModel)]="associacao.texto"
                                            class="invisible-input" placeholder="Descrição da opção"
                                            style="width: 95%; height: 100%; padding: 10px;" rows="1"></textarea>
                                        <span *ngIf="estaEmFoco(associacaoTextarea)"
                                            class="contador-caracteres">{{associacao.texto.length}}/500</span>
                                    </div>
                                    <mat-icon cdkDragHandle
                                        style="cursor: move; color: gray; position: absolute; top: 0px; left: 30%;">
                                        drag_handle
                                    </mat-icon>
                                </td>
                                <td width="5%"
                                    style="background-color: rgba(255, 255, 255, 0.452);  text-align: center;">
                                    <button mat-icon-button matTooltip="Remover associacao"
                                        (click)="removerAssociacao(questao, ai)">
                                        <mat-icon style="color: var(--cor-perigosa)">cancel</mat-icon>
                                    </button>

                                </td>
                            </tr>

                            <!-- ADICIONAR ASSOCIACAO -->
                            <tr class="ferramenta-edicao" [class.is-editando]="questao.isEditando">
                                <td width="5%" colspan="3" style="background-color: white; text-align: center;">
                                    <button matTooltip="Adicionar alternativa (Ctrl + Enter)"
                                        (click)="addAssociacao(questao, tabelaAssociacoes);" mat-icon-button>
                                        <mat-icon
                                            style="background-color: var(--cor-primaria); color: white; border-radius: 50%;">
                                            add
                                        </mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Resposta Dissertativa -->
                <tr *ngIf="questao.tipo == 1">
                    <td style="position: relative;">
                        <textarea #dissertativaTextarea maxlength="2500" (input)="ajustarAltura($event)"
                            (click)="ajustarAltura($event)"
                            placeholder="Escreva aqui algo para auxiliar no momento da correção" class="input-basico"
                            style="width: 98%; margin: auto; padding: 5px; padding-top: 14px;"
                            (ngModelChange)="sinalizarAlteracao()" [(ngModel)]="questao.resposta" rows="4"></textarea>
                        <span *ngIf="estaEmFoco(dissertativaTextarea)"
                            class="contador-caracteres">{{dissertativaTextarea.value.length}}/2500</span>
                    </td>
                </tr>

                <!-- Resposta Envio de Arquivo -->
                <tr *ngIf="questao.tipo == 2">
                    <td>
                        <br />
                        A resposta será feita através do envio de um ou mais arquivos.
                        <br /><br />

                        <mat-form-field appearance="fill">
                            <mat-label>Selecione o tipo de arquivo</mat-label>
                            <mat-select #tipoArquivoSelecionado
                                (selectionChange)="tipoArquivoChanged(questao, tipoArquivoSelecionado.value)"
                                [value]="'Todos'">
                                <mat-option value="Todos">Todos</mat-option>
                                <mat-option *ngFor="let tipo of comumService.arquivosPossiveis; index as i" [value]="i">
                                    {{tipo.categoria}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="tipoArquivoSelecionado.value != 'Todos'" appearance="fill">
                            <mat-label>Extensões aceitas</mat-label>
                            <mat-select multiple (ngModelChange)="sinalizarAlteracao()" [(ngModel)]="questao.extensoes">
                                <mat-option [value]="extensao"
                                    *ngFor="let extensao of comumService.arquivosPossiveis[tipoArquivoSelecionado.value].extensoes">
                                    {{extensao}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="tipoArquivoSelecionado.value == 'Todos'" appearance="fill">
                            <mat-label>Extensões aceitas</mat-label>
                            <mat-select multiple (ngModelChange)="sinalizarAlteracao()" [(ngModel)]="questao.extensoes">
                                <mat-optgroup *ngFor="let arquivoPossivel of comumService.arquivosPossiveis"
                                    [label]="arquivoPossivel.categoria">
                                    <mat-option *ngFor="let extensao of arquivoPossivel.extensoes" [value]="extensao">
                                        {{extensao}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>

                    </td>
                </tr>

                <!-- Resposta Multipla Escolha - Múltipla ou Única Resposta -->
                <tr *ngIf="questao.tipo == 3 || questao.tipo == 4">
                    <td>
                        <table width="100%" #tabelaAlternativas cdkDropList [cdkDropListData]="questao.alternativas"
                            (cdkDropListDropped)="drop($event)">

                            <!-- LISTA DE ALTERNATIVAS -->
                            <tr cdkDrag *ngFor="let alternativa of questao.alternativas; index as ai">
                                <td width="95%" class="alternativa">
                                    <mat-checkbox class="checkbox-full" (ngModelChange)="sinalizarAlteracao()"
                                        [(ngModel)]="alternativa.selecionada"
                                        (ngModelChange)="desmarcarTudoMenosUma(questao, ai, true)">
                                        <textarea #alternativaTextarea
                                            (keyup)="onNovaAlterKeyUp($event,questao,tabelaAlternativas)"
                                            maxlength="500" (input)="ajustarAltura($event)"
                                            placeholder="Digite aqui uma nova alternativa"
                                            (click)="ajustarAltura($event)" (ngModelChange)="sinalizarAlteracao()"
                                            [(ngModel)]="alternativa.texto" class="invisible-input"
                                            style="width: 95%; height: 100%; padding: 10px;" rows="1"></textarea>
                                    </mat-checkbox>
                                    <span *ngIf="estaEmFoco(alternativaTextarea)"
                                        class="contador-caracteres">{{alternativaTextarea.value.length}}/500</span>
                                    <mat-icon cdkDragHandle
                                        style="cursor: move; color: gray; position: absolute; top: 0px; left: 50%;">
                                        drag_handle
                                    </mat-icon>
                                </td>
                                <td width="5%"
                                    style="background-color: rgba(255, 255, 255, 0.452);  text-align: center;">
                                    <button mat-icon-button matTooltip="Remover alternativa"
                                        (click)="removerAlternativa(questao, ai)">
                                        <mat-icon style="color: var(--cor-perigosa)">cancel</mat-icon>
                                    </button>
                                </td>
                            </tr>

                            <!-- ADICIONAR ALTERNATIVA -->
                            <tr class="ferramenta-edicao" [class.is-editando]="questao.isEditando">
                                <td colspan="2" style="background-color: white; text-align: center;">
                                    <button matTooltip="Adicionar alternativa (Ctrl + Enter)"
                                        (click)="addAlternativa(questao, tabelaAlternativas);" mat-icon-button>
                                        <mat-icon
                                            style="background-color: var(--cor-primaria); color: white; border-radius: 50%;">
                                            add
                                        </mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Resposta Preenchimento -->
                <tr *ngIf="questao.tipo == 5">
                    <td>
                        Selecione uma palavra do texto e clique aqui:
                        <button mat-icon-button matTooltip="Adicionar opção de preenchimento"
                            (click)="inserirOpcaoPreeencherSelecionado(questao, editorPreencher)">
                            <mat-icon>space_bar</mat-icon>
                        </button>
                        <div style="position: relative;">
                            <textarea #preenchimentoTextarea maxlength="500" rows="4" (input)="ajustarAltura($event)"
                                (click)="ajustarAltura($event)" (ngModelChange)="sinalizarAlteracao()"
                                [(ngModel)]="questao.textoParaPreencher" #editorPreencher
                                (keyup)="onEditorPreencherKeyUp(questao)"
                                placeholder="Escreva aqui um texto para ser completado" class="input-basico"
                                style="width: 98%; margin: auto; padding: 5px; padding-top: 14px;"></textarea>
                            <span *ngIf="estaEmFoco(preenchimentoTextarea)"
                                class="contador-caracteres">{{preenchimentoTextarea.value.length}}/500</span>
                        </div>

                        <table #tabelaOpcoesPreencher width="100%">

                            <!-- LISTA DE OPÇÕES PARA PREENCHER -->
                            <tr *ngFor="let opcaoParaPreencher of questao.opcoesParaPreencher; index as ai">
                                <td *ngIf="opcaoParaPreencher.ativa" width="5%" class="alternativa"
                                    style="cursor: default">
                                    ({{ai + 1}})
                                </td>
                                <td *ngIf="opcaoParaPreencher.ativa" width="90%" class="alternativa"
                                    style="cursor: default">
                                    <div style="display: inline-flex; width: 100%; position: relative;">
                                        <textarea #opcaoPreencherTextarea (input)="ajustarAltura($event)"
                                            (click)="ajustarAltura($event)" (ngModelChange)="sinalizarAlteracao()"
                                            [(ngModel)]="opcaoParaPreencher.opcaoSelecionada"
                                            (keyup)="onNovaOpcaoPreencherKeyUp($event, questao, tabelaOpcoesPreencher)"
                                            class=" invisible-input"
                                            placeholder="Digite aqui uma opção para completar o texto"
                                            style="width: 95%; height: 100%; padding: 10px;" rows="1"></textarea>
                                        <span *ngIf="estaEmFoco(opcaoPreencherTextarea)"
                                            class="contador-caracteres">{{opcaoPreencherTextarea.value.length}}/500</span>
                                    </div>
                                </td>
                                <td *ngIf="opcaoParaPreencher.ativa" width="5%"
                                    style="background-color: rgba(255, 255, 255, 0.452);  text-align: center;">
                                    <button mat-icon-button matTooltip="Remover alternativa"
                                        (click)="removerOpcaoPreencher(questao, ai)">
                                        <mat-icon style="color: var(--cor-perigosa)">cancel</mat-icon>
                                    </button>
                                </td>
                            </tr>

                            <!-- ADICIONAR OPÇÃO PARA PREENCHER -->
                            <tr class="ferramenta-edicao" [class.is-editando]="questao.isEditando">
                                <td colspan="3" style="background-color: white; text-align: center;">
                                    <button matTooltip="Adicionar opção (Ctrl + Enter)"
                                        (click)="addOpcaoPreencher(questao, tabelaOpcoesPreencher);" mat-icon-button>
                                        <mat-icon
                                            style="background-color: var(--cor-primaria); color: white; border-radius: 50%;">
                                            add
                                        </mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Resposta Verdadeiro ou Falso - Com ou sem justificativa -->
                <tr *ngIf="questao.tipo == 6 || questao.tipo == 7">
                    <td>
                        <table width="100%" #tabelaVerdadeiroOuFalso cdkDropList
                            [cdkDropListData]="questao.alternativas" (cdkDropListDropped)="drop($event)">

                            <!-- LISTA DE ALTERNATIVAS -->
                            <tr cdkDrag *ngFor="let alternativa of questao.alternativas; index as ai">
                                <td width="5%" class="alternativa">
                                    <mat-button-toggle-group (ngModelChange)="sinalizarAlteracao()"
                                        [(ngModel)]="alternativa.selecionada">
                                        <mat-button-toggle matTooltip="Marcar como verdadeiro" [value]="true">V
                                        </mat-button-toggle>
                                        <mat-button-toggle matTooltip="Marcar como falso" [value]="false">F
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                </td>
                                <td width="90%" class="alternativa">
                                    <div style=" display: inline-flex; width: 100%; position: relative;">
                                        <textarea #verdadeiroFalsoAlternativaTextarea maxlength="2500"
                                            (input)="ajustarAltura($event)" (click)="ajustarAltura($event)"
                                            (ngModelChange)="sinalizarAlteracao()" [(ngModel)]="alternativa.texto"
                                            class="invisible-input" placeholder="Digite aqui uma nova afirmação"
                                            (keyup)="onNovaAlterKeyUpVouF($event, questao, tabelaVerdadeiroOuFalso);"
                                            style="width: 95%; height: 100%; padding: 10px;" rows="1"></textarea>
                                        <span *ngIf="estaEmFoco(verdadeiroFalsoAlternativaTextarea)"
                                            class="contador-caracteres">{{verdadeiroFalsoAlternativaTextarea.value.length}}/2500</span>
                                    </div>
                                    <mat-icon cdkDragHandle
                                        style="cursor: move; color: gray; position: absolute; top: 0px; left: 50%;">
                                        drag_handle
                                    </mat-icon>
                                </td>
                                <td width="5%"
                                    style="background-color: rgba(255, 255, 255, 0.452);  text-align: center;">
                                    <button mat-icon-button matTooltip="Remover alternativa"
                                        (click)="removerAlternativa(questao, ai)">
                                        <mat-icon style="color: var(--cor-perigosa)">cancel</mat-icon>
                                    </button>
                                </td>
                            </tr>

                            <!-- ADICIONAR ALTERNATIVA -->
                            <tr class="ferramenta-edicao" [class.is-editando]="questao.isEditando">
                                <td colspan="3" style="background-color: white; text-align: center;">
                                    <button matTooltip="Adicionar alternativa (Ctrl + Enter)"
                                        (click)="addAlternativaVouF(questao, tabelaVerdadeiroOuFalso);" mat-icon-button>
                                        <mat-icon
                                            style="background-color: var(--cor-primaria); color: white; border-radius: 50%;">
                                            add
                                        </mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Opções da questão -->
                <tr>
                    <td align="right" style="position: relative; padding-top: 20px;">
                        <div *ngIf="avaliacao.tipoPontuacao != 3" class="valor-questao">
                            Valor: <input style="padding: 7px;" type="number" max="100" min="1"
                                (ngModelChange)="sinalizarAlteracao()" [(ngModel)]="questao.valor" />
                            <span style="padding: 9px; color: gray;">{{ ( (questao.valor/getPontuacaoMaxima())*100 ) |
                                number:'1.0-0' }}%</span>
                        </div>


                    </td>
                </tr>
            </table>
            <input #imagemSelectInput accept="image/*" (change)="onImagemSelected($event, questao)" type="file"
                class="input-invisivel" value="Selecione os arquivos" multiple />
            <input #anexoSelectInput (change)="onAnexoSelected($event, questao)" type="file" class="input-invisivel"
                value="Selecione os arquivos" multiple />
        </div>

    </div>
</div>