<app-barra-navegacao [caminho]="caminho"></app-barra-navegacao>

<mat-horizontal-stepper #stepper>

    <!-- EM PREPARAÇÃO -->
    <mat-step style="height: 100%;" [editable]="true">

        <ng-template matStepLabel>Em Preparação</ng-template>

        <!-- INDIVIDUAL -->
        <div *ngIf="avaliacao.tipoDisposicao == 0" class="container">
            <div class="head">
                <h2>Alunos Online ({{avaliacao.alunos.length}})</h2>
                <h3>Os alunos abaixo estão aguardando que a Avaliação seja iniciada</h3>
            </div>
            <div class="aluno" *ngFor="let aluno of avaliacao.alunos"
                style="border-color: var(--cor-secundaria); cursor: default">
                <app-aluno-card-avaliacao-professor [aluno]="aluno">
                </app-aluno-card-avaliacao-professor>
            </div>
        </div>

        <!-- EM GRUPO -->
        <div *ngIf="avaliacao.tipoDisposicao != 0" cdkDropListGroup>
            <table style="width: 100%; height: 70vh;">
                <tr>
                    <td width="70%" style="position: relative;">
                        <div #gruposContainerDiv
                            style="padding-top: 40px; overflow: auto; height: 100%; width: 100%; display: flex; flex-wrap: wrap;">

                            <div cdkDropList *ngFor="let grupo of avaliacao.grupos;  index as i;" class="grupo"
                                [cdkDropListData]="grupo.alunos" (cdkDropListDropped)="drop($event, 'grupo')">

                                <div class="grupo-title">
                                    GRUPO {{grupo.numero}}
                                </div>
                                <div class="aluno" cdkDrag *ngFor="let aluno of grupo.alunos"
                                    [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'">
                                    <app-aluno-card-avaliacao-professor [aluno]="aluno">
                                    </app-aluno-card-avaliacao-professor>
                                </div>
                            </div>
                            <div class="grupo btn-novo-grupo" matTooltip="Adicionar grupo" (click)="addGrupo()">

                                <mat-icon style="font-size: 35px; display: block; margin: auto;">add
                                </mat-icon>

                            </div>
                        </div>
                        <div (mouseover)="scrollUp(gruposContainerDiv)" (mouseleave)="scrolling=false"
                            style="width: 100%; height: 15px; position: absolute; top: 0px; z-index: 1000;">
                            <div style="position: relative;">
                                <div
                                    style="background-color: var(--cor-primaria); color: white; padding: 5px; padding-left: 15px; padding-right: 15px; text-align: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; position: absolute; top: 0px; left: 45%;">
                                    GRUPOS ({{avaliacao.grupos.length}})
                                </div>

                            </div>

                        </div>
                        <div (mouseover)="scrollDown(gruposContainerDiv)" (mouseleave)="scrolling=false"
                            style="user-select: none; position: absolute; height: 30px; z-index: 1000; bottom: -5px; width: 100%;">
                        </div>
                    </td>
                    <td width="30%" style="position: relative;">

                        <div
                            style="width: 100%; height: 20%; padding: 12px; padding-top: 40px;padding-right: 0px; padding-left: 0px;">
                            <input type="text" #buscaAluno class="input-clean" [(ngModel)]="textoFiltroAlunos"
                                (keyup)="onBuscaAlunoKeyUp()"
                                style="margin: auto; display: block; width: 90%; font-size: 15px;"
                                placeholder="Busque por uma parte do nome, email ou tag..." />
                        </div>

                        <div cdkDropList [cdkDropListData]="professor.alunos"
                            (cdkDropListDropped)="drop($event, 'alunos')"
                            style="overflow: auto; display: flex; flex-wrap: wrap; width: 100%;  height: 80%;">

                            <div class="aluno" cdkDrag *ngFor="let aluno of alunosFiltrados"
                                [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'">
                                <app-aluno-card-avaliacao-professor [aluno]="aluno">
                                </app-aluno-card-avaliacao-professor>
                            </div>

                        </div>

                        <div
                            style="background-color: var(--cor-primaria); color: white;  padding: 5px; padding-left: 15px; padding-right: 15px; text-align: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; position: absolute; top: 0px; left: 43%;">
                            ALUNOS
                        </div>
                    </td>

                </tr>
            </table>
        </div>

        <button mat-raised-button matStepperNext matTooltip="Clique aqui para iniciar a avaliação" class="main-btn"
            style="color: white; background-color: var(--cor-tranquila);">
            Iniciar Avaliação
        </button>

    </mat-step>

    <!-- DURANTE AVALIAÇÃO -->
    <mat-step>
        <ng-template matStepLabel>Durante Avaliação</ng-template>

        <div class="head">
            <h2>Avaliações em Andamento</h2>
        </div>

        <!-- INDIVIDUAL -->
        <div *ngIf="avaliacao.tipoDisposicao == 0" class="container">
            <div class="aluno" *ngFor="let aluno of avaliacao.alunos"
                style="border-color: var(--cor-secundaria); cursor: default">
                <app-aluno-card-avaliacao-professor [aluno]="aluno">
                </app-aluno-card-avaliacao-professor>
                <div *ngIf="aluno.statusId" style="position: absolute; top: 30%; right: 20px;">
                    <span *ngIf="aluno.statusId > 2">
                        <mat-icon matTooltip="O aluno sinalizou que finalizou a avaliação">done</mat-icon>
                    </span>
                    <div *ngIf="aluno.statusId <= 2">
                        <mat-icon matTooltip="O aluno está relizando as questões">query_builder</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <!-- EM GRUPO -->
        <div *ngIf="avaliacao.tipoDisposicao != 0" class="container">

            <div *ngFor="let grupo of avaliacao.grupos;  index as i;" class="grupo" style="width: 100%">
                <div class="grupo-title">
                    GRUPO {{grupo.numero}}
                </div>
                <div class="aluno" *ngFor="let aluno of grupo.alunos"
                    [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'"
                    style="cursor: default">
                    <app-aluno-card-avaliacao-professor [aluno]="aluno">
                    </app-aluno-card-avaliacao-professor>
                    <div *ngIf="aluno.statusId != null" style="position: absolute; top: 30%; right: 20px;">
                        <span *ngIf="aluno.statusId > 2">
                            <mat-icon matTooltip="O aluno sinalizou que finalizou a avaliação">done</mat-icon>
                        </span>
                        <div *ngIf="aluno.statusId <= 2">
                            <mat-icon matTooltip="O aluno está relizando as questões">query_builder</mat-icon>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <button class="main-btn" mat-button matStepperNext style="background-color: var(--cor-perigosa); color: white;">
            Encerrar Avaliação Agora
        </button>

    </mat-step>

    <!-- EM CORREÇÃO -->
    <mat-step [editable]="true">
        <ng-template matStepLabel>Em Correção</ng-template>

        <div class="head">
            <h2>Correções em Andamento</h2>
        </div>

        <!-- INDIVIDUAL -->
        <div *ngIf="avaliacao.tipoDisposicao == 0" class="container">
            <div class="aluno" *ngFor="let aluno of avaliacao.alunos"
                style="border-color: var(--cor-secundaria); cursor: default">
                <app-aluno-card-avaliacao-professor [aluno]="aluno">
                </app-aluno-card-avaliacao-professor>

                <a mat-button class="btn-corrigir" [routerLink]="'/professor/avaliacao/correcao/' + aluno.id">
                    CORRIGIR
                </a>
            </div>
        </div>

        <!-- EM GRUPO -->
        <div *ngIf="avaliacao.tipoDisposicao != 0" class="container">
            <div *ngFor="let grupo of avaliacao.grupos;  index as i;" class="grupo" style="width: 100%">
                <div class="grupo-title">
                    GRUPO {{grupo.numero}} - {{grupo.instanciaStatusId > 2 ? "CORRIGIDA" : "PRECISA SER CORRIGIDA"}}
                </div>

                <div class="aluno" *ngFor="let aluno of grupo.alunos"
                    [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'"
                    style="cursor: default">
                    <app-aluno-card-avaliacao-professor [aluno]="aluno">
                    </app-aluno-card-avaliacao-professor>
                </div>
                <div class="btn-corrigir">
                    <a mat-button [routerLink]="'/professor/avaliacao/correcao/' + grupo.instanciaId">
                        {{grupo.instanciaStatusId > 2 ? "REVISAR" : "CORRIGIR"}}
                    </a>
                </div>
            </div>
        </div>


        <button mat-button matStepperNext class="main-btn"
            style="background-color: rgb(15, 185, 15); color: white;">Encerrar
            Correções</button>


    </mat-step>

    <!-- ENCERRADA -->
    <mat-step [editable]="true">
        <ng-template matStepLabel>Avaliação Encerrada</ng-template>

        <div class="head">
            <h2>Avaliações Encerradas</h2>
        </div>

        <!-- INDIVIDUAL -->
        <div *ngIf="avaliacao.tipoDisposicao == 0" class="container">
            <div class="aluno" *ngFor="let aluno of avaliacao.alunos"
                style="border-color: var(--cor-secundaria); cursor: default">
                <app-aluno-card-avaliacao-professor [aluno]="aluno">
                </app-aluno-card-avaliacao-professor>

                <a mat-button class=" btn-corrigir" [routerLink]="'/professor/avaliacao/correcao/' + aluno.id">
                    NOTA: {{100}}% - REVISAR
                </a>

            </div>
        </div>

        <!-- EM GRUPO -->
        <div *ngIf="avaliacao.tipoDisposicao != 0" class="container">
            <div *ngFor="let grupo of avaliacao.grupos;  index as i;" class="grupo" style="width: 100%">
                <div class="grupo-title">
                    GRUPO {{grupo.numero}}
                </div>

                <div class="aluno" *ngFor="let aluno of grupo.alunos"
                    [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'"
                    style="cursor: default">
                    <app-aluno-card-avaliacao-professor [aluno]="aluno">
                    </app-aluno-card-avaliacao-professor>
                </div>

                <div class="btn-corrigir">
                    <a mat-button [routerLink]="'/professor/avaliacao/correcao/' + grupo.instanciaId">
                        NOTA: {{100}}% - REVISAR
                    </a>
                </div>
            </div>

        </div>

        <div style="margin: auto; text-align: center;">
            <button mat-button matStepperNext style="background-color: var(--cor-primaria); color: white;">Baixar em
                PDF</button>
        </div>

    </mat-step>

</mat-horizontal-stepper>