<div style="padding: 10px; padding-left: 130px; color:white; font-size: 15px; background-color: var(--cor-primaria);">
    <a routerLink="/professor" style="color: white;">Avaliações</a> - Avaliação 01
</div>

<mat-horizontal-stepper #stepper>

    <mat-step style="height: 100%;" [editable]="true">

        <ng-template matStepLabel>Em Preparação</ng-template>

        <div cdkDropListGroup>

            <table style="width: 100%; height: 60vh;">
                <tr>
                    <td width="70%" style="position: relative;">
                        <div
                            style="padding-top: 40px; overflow: auto; height: 100%; width: 100%; display: flex; flex-wrap: wrap;">


                            <div cdkDropList *ngFor="let grupo of grupos;  index as i;" class="grupo"
                                [cdkDropListData]="grupo.alunos" (cdkDropListDropped)="drop($event)">

                                <div>
                                    GRUPO {{grupo.numero}}
                                </div>
                                <div *ngFor="let aluno of grupo.alunos" class="aluno" cdkDrag>
                                    {{aluno.nome}}
                                </div>


                            </div>



                        </div>
                        <div
                            style="background-color: var(--cor-primaria); color: white; padding: 5px; padding-left: 15px; padding-right: 15px; text-align: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; position: absolute; top: 0px; left: 45%;">
                            GRUPOS
                        </div>
                        <button (click)="addGrupo()" mat-mini-fab
                            style="position: absolute; top: 0px; right: 32%; background-color: var(--cor-primaria);">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                    <td width="30%" style="position: relative;">


                        <div style="width: 100%; height: 20%; padding: 12px; padding-top: 40px;">
                            <input *ngIf="alunos.length > 0" type="text"
                                style="margin: auto; display: block; width: 70%; font-size: 15px;"
                                placeholder="Busque aqui um aluno" />
                        </div>
                        <div cdkDropList [cdkDropListData]="alunos" (cdkDropListDropped)="drop($event)"
                            style="overflow: auto; display: flex; flex-wrap: wrap; width: 100%;  height: 80%;">
                            <div *ngFor="let aluno of alunos" class="aluno" cdkDrag>
                                {{aluno.nome}}
                            </div>
                            <div *ngIf="alunos.length <= 0" style="color: darkblue; text-align: center; width: 100%;">
                                <br />
                                <mat-icon style="font-size: 40px; margin: auto; color: darkblue;">done_outline
                                </mat-icon>
                                <br />
                                Todos os alunos já foram agrupados!
                                <br /><br />
                                <button mat-raised-button matStepperNext *ngIf="alunos.length <= 0"
                                    style="margin: auto; color: white; background-color: var(--cor-tranquila);">
                                    Iniciar Avaliação
                                </button>
                            </div>
                        </div>
                        <div
                            style="background-color: var(--cor-primaria); color: white;  padding: 5px; padding-left: 15px; padding-right: 15px; text-align: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; position: absolute; top: 0px; left: 43%;">
                            ALUNOS
                        </div>
                    </td>

                </tr>
            </table>



        </div>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Durante Avaliação</ng-template>
        <div style="margin: auto; text-align: center;">
            <h2>Avaliações em Andamento</h2>
            <br />
            As Avaliações serão encerradas automaticamente em <input type="datetime-local" value="2020-07-31T19:00" />
        </div>

        <div style="margin: auto; margin-top: 30px; width: 100%; font-size: 22px; height: 40vh; overflow: auto; ">
            <div class="individuo" style="border-color: var(--em-avaliacao);">
                Grupo 01 - Fazendo Avaliação
            </div>
            <div class="individuo" style="border-color:  var(--em-avaliacao);">
                Grupo 02 - Fazendo Avaliação
            </div>
            <div class="individuo" style="border-color: var(--encerrada);">
                Grupo 03 - Avaliação Encerrada
            </div>
        </div>

        <div style="margin: auto; text-align: center;">
            <button mat-button matStepperNext style="background-color: var(--cor-perigosa); color: white;">Encerrar
                Avaliação Agora</button>
        </div>


    </mat-step>
    <mat-step [editable]="true">
        <ng-template matStepLabel>Em Correção</ng-template>

        <div style="margin: auto; text-align: center;">
            <h2>Correções em Andamento</h2>
        </div>

        <div
            style="margin: auto; margin-top: 30px; width: 100%; font-size: 22px; height: 50vh; overflow: auto; margin-bottom: 20px;">
            <div class="individuo" style="border-color: var(--encerrada)">
                Grupo 01 - Avaliação Corrigida
                <br /><br />
                <div style="font-size: 15px;">
                    Nota: 96/100
                </div>
                <a routerLink="/professor/avaliacao/correcao/1" mat-button
                    style="background-color: white; color: black; position: absolute; top: 30%; right: 20px;">
                    Revisar
                </a>
            </div>

            <div class="individuo" style="border-color: var(--em-correcao);">
                Grupo 02 - Avaliação Aguardando Correção
                <br /><br />
                <div style="font-size: 15px;">
                    Nota: 0/100
                </div>
                <a routerLink="/professor/avaliacao/correcao/1" mat-button
                    style="background-color: white; color: black; position: absolute; top: 30%; right: 20px;">
                    Corrigir
                </a>
            </div>
            <div class="individuo" style="border-color: var(--em-correcao);">
                Grupo 03 - Avaliação Aguardando Correção
                <br /><br />
                <div style="font-size: 15px;">
                    Nota: 0/100
                </div>
                <a routerLink="/professor/avaliacao/correcao/1" mat-button
                    style="background-color: white; color: black; position: absolute; top: 30%; right: 20px;">
                    Corrigir
                </a>
            </div>
        </div>

        <div style="margin: auto; text-align: center;">
            <button mat-button matStepperNext style="background-color: rgb(15, 185, 15); color: white;">Encerrar
                Correções</button>
        </div>

    </mat-step>
    <mat-step [editable]="true">
        <ng-template matStepLabel>Avaliação Encerrada</ng-template>

        <div style="margin: auto; text-align: center;">
            <h2>Avaliações Encerradas</h2>
        </div>

        <div
            style="margin: auto; margin-top: 30px; width: 100%; font-size: 22px; height: 50vh; overflow: auto; margin-bottom: 20px;">
            <div class="individuo" style="border-color: var(--cor-primaria);">
                Grupo 01
                <br /><br /><br />
                <p>- Rafael Bini</p>
                <p>- Matheus Leonardo</p>
                <p>- Thyago Vinicius</p>
                <br /><br />
                <div>
                    Nota: 96/100
                </div>
                <a routerLink="/professor/avaliacao/correcao/1" mat-button
                    style="background-color: white; color: black; position: absolute; top: 30%; right: 20px;">
                    Revisar
                </a>
            </div>

            <div class="individuo" style="border-color: var(--cor-primaria);">
                Grupo 02
                <br /><br /><br />
                <p>- Rafael Bini</p>
                <p>- Matheus Leonardo</p>
                <p>- Thyago Vinicius</p>
                <br /><br />
                <div>
                    Nota: 96/100
                </div>
                <a routerLink="/professor/avaliacao/correcao/1" mat-button
                    style="background-color: white; color: black; position: absolute; top: 30%; right: 20px;">
                    Revisar
                </a>
            </div>
            <div class="individuo" style="border-color: var(--cor-primaria);">
                Grupo 03
                <br /><br /><br />
                <p>- Rafael Bini</p>
                <p>- Matheus Leonardo</p>
                <p>- Thyago Vinicius</p>
                <br /><br />
                <div>
                    Nota: 96/100
                </div>
                <a routerLink="/professor/avaliacao/correcao/1" mat-button
                    style="background-color: white; color: black; position: absolute; top: 30%; right: 20px;">
                    Revisar
                </a>
            </div>
        </div>

        <div style="margin: auto; text-align: center;">
            <button mat-button matStepperNext style="background-color: var(--cor-primaria); color: white;">Baixar em
                PDF</button>
        </div>

    </mat-step>

</mat-horizontal-stepper>