<app-barra-navegacao [caminho]="caminho"></app-barra-navegacao>

<div *ngIf="avaliacao.id != '1'">
    <mat-horizontal-stepper class="avaliacao-stepper" [selectedIndex]="avaliacao.status" #stepper>

        <!-- EM PREPARAÇÃO -->
        <mat-step style="height: 100%;" [editable]="false" [completed]="false">

            <ng-template matStepLabel>Em Preparação</ng-template>

            <div cdkDropListGroup>
                <div
                    style="height: 10vh; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                    <button mat-raised-button matTooltip="Clique aqui para iniciar a avaliação" class="main-btn"
                        style="color: white; background-color: var(--cor-secundaria);" (click)="abrirCompartilhar()">
                        Convidar Alunos
                    </button>
                    <button mat-raised-button matTooltip="Clique aqui para iniciar a avaliação" class="main-btn"
                        style="color: white; background-color: var(--cor-tranquila); margin-left: 10px;"
                        (click)="iniciarAvaliacao()">
                        Iniciar Avaliação
                    </button>
                </div>
                <table style="width: 100%; height: 60vh;">
                    <tr>

                        <td width="68%" style="position: relative;">
                            <div
                                style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: 100%; width: 100%; border: 1px solid var(--cor-primaria); border-radius: 10px;">

                                <div
                                    style="display: flex; flex-shrink: 0; align-items: center; justify-content: center;">
                                    <div *ngIf="avaliacao.tipoDisposicao != 0" class="plaquinha">
                                        GRUPOS ({{avaliacao.grupos.length}})
                                    </div>
                                    <div *ngIf="avaliacao.tipoDisposicao == 0" class="plaquinha">
                                        ALUNOS PARTICIPANTES
                                    </div>
                                </div>


                                <div #gruposContainerDiv
                                    style="overflow: auto; height: 53vh; width: 100%; display: flex; flex-wrap: wrap;">

                                    <div cdkDropList *ngFor="let grupo of avaliacao.grupos;  index as grupoIndex;"
                                        class="grupo" [cdkDropListData]="grupo.alunos"
                                        (cdkDropListDropped)="drop($event, 'grupo')">

                                        <div *ngIf="avaliacao.tipoDisposicao != 0" class="grupo-title">
                                            GRUPO {{grupo.numero}}
                                        </div>
                                        <div class="aluno" cdkDrag
                                            *ngFor="let aluno of grupo.alunos; index as alunoIndex"
                                            [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'">
                                            <app-aluno-card-avaliacao-professor [avaliacao]="avaliacao" [aluno]="aluno">
                                            </app-aluno-card-avaliacao-professor>
                                        </div>

                                        <button *ngIf="avaliacao.tipoDisposicao != 0" (click)="excluirGrupo(grupo)"
                                            matTooltip="Excluir grupo" class="btn-excluir-grupo" mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                    <div *ngIf="avaliacao.tipoDisposicao != 0" class="grupo btn-novo-grupo"
                                        matTooltip="Arraste aqui um aluno para criar um novo grupo" cdkDropList
                                        (cdkDropListDropped)="drop($event, 'novo-grupo')">

                                        <mat-icon style="font-size: 35px; display: block; margin: auto;">add
                                        </mat-icon>

                                    </div>
                                </div>

                            </div>

                            <div (mouseover)="scrollUp(gruposContainerDiv)" (mouseleave)="scrolling=false"
                                style="width: 100%; height: 15px; position: absolute; top: 0px; z-index: 1000;">


                            </div>
                            <div (mouseover)="scrollDown(gruposContainerDiv)" (mouseleave)="scrolling=false"
                                style="user-select: none; position: absolute; height: 30px; z-index: 1000; bottom: -5px; width: 100%;">
                            </div>
                        </td>
                        <td width="2%">

                        </td>
                        <td width="30%">

                            <div
                                style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; flex-wrap: nowrap; border: 1px solid var(--cor-primaria); border-radius: 10px; height: 100%; width: 100%;">
                                <div class="plaquinha">
                                    MEUS ALUNOS
                                </div>
                                <div style="width: 100%; padding: 12px;">
                                    <input type="text" #buscaAluno class="input-clean" [(ngModel)]="textoFiltroAlunos"
                                        (keyup)="onBuscaAlunoKeyUp()"
                                        style="box-sizing: border-box; display: block; margin: auto; width: 90%; font-size: 15px;"
                                        placeholder="Busque por uma parte do nome, email ou tag..." />
                                </div>

                                <div cdkDropList [cdkDropListData]="professor.alunos"
                                    (cdkDropListDropped)="drop($event, 'alunos')"
                                    style="overflow: auto; display: flex; flex-direction: column; align-items: flex-start; flex-wrap: wrap; width: 100%;  height: 80%;">

                                    <div class="aluno" cdkDrag *ngFor="let aluno of alunosFiltrados"
                                        [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'">
                                        <app-aluno-card-avaliacao-professor [avaliacao]="avaliacao" [aluno]="aluno">
                                        </app-aluno-card-avaliacao-professor>
                                    </div>

                                </div>

                            </div>
                        </td>

                    </tr>
                </table>
            </div>



        </mat-step>

        <!-- Em AVALIAÇÃO -->
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>Em Avaliação</ng-template>

            <div class="head">
                <h2>Avaliações em Andamento</h2>
            </div>

            <div class='btn-container'>

                <button *ngIf="!comumService.pontuacoes[avaliacao.tipoPontuacao].correcaoAutomatica && 
                !comumService.correcoes[avaliacao.tipoCorrecao].correcaoAutomatica 
                && avaliacao.tipoPontuacao != 3" mat-button (click)="inicarCorrecoes()" class="main-btn"
                    style="background-color: var(--cor-secundaria); color: white;">
                    Interromper e Iniciar Correções
                </button>

                <button *ngIf="comumService.pontuacoes[avaliacao.tipoPontuacao].correcaoAutomatica || 
                comumService.correcoes[avaliacao.tipoCorrecao].correcaoAutomatica || 
                avaliacao.tipoPontuacao == 3" mat-button (click)="encerrarCorrecoesAutomaticas()"
                    style="background-color: var(--cor-secundaria); color: white;">
                    Encerrar Avaliação
                </button>

                <button class="btn-acompanhar-respostas" (click)="abrirEstatisticas()" mat-button>
                    Acompanhar Respostas
                </button>
            </div>


            <!-- INDIVIDUAL -->
            <div *ngIf="avaliacao.tipoDisposicao == 0" class="container">
                <div class="aluno" *ngFor="let aluno of avaliacao.grupos[0].alunos; index as ai"
                    style="border-color: var(--cor-secundaria); cursor: default">
                    <app-aluno-card-avaliacao-professor [avaliacao]="avaliacao" [aluno]="aluno" [grupoIndex]="0"
                        [alunoIndex]="ai">
                    </app-aluno-card-avaliacao-professor>

                </div>
            </div>

            <!-- EM GRUPO -->
            <div *ngIf="avaliacao.tipoDisposicao != 0" class="container">

                <div *ngFor="let grupo of avaliacao.grupos;  index as gi;" class="grupo" style="width: 100%">
                    <div class="grupo-title">
                        GRUPO {{grupo.numero}}
                    </div>
                    <div class="aluno" *ngFor="let aluno of grupo.alunos; index as ai"
                        [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'"
                        style="cursor: default">
                        <app-aluno-card-avaliacao-professor [avaliacao]="avaliacao" [grupoIndex]="gi" [alunoIndex]="ai"
                            [aluno]="aluno">
                        </app-aluno-card-avaliacao-professor>


                    </div>
                </div>

            </div>



        </mat-step>

        <!-- EM CORREÇÃO -->
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>Em Correção</ng-template>

            <div class="head">
                <h2>Correções em Andamento</h2>
            </div>

            <div class='btn-container'>
                <button mat-button (click)="encerrarCorrecoes()" class="main-btn"
                    style="background-color: var(--cor-secundaria); color: white;">
                    Encerrar Correções
                </button>
            </div>

            <div *ngIf="avaliacao.tipoCorrecao == 2" class="container mensagem">
                Os Alunos estão aptos para corrigir as provas uns dos outros.
                <br />
                Mas, se você desejar corrigir alguma
                prova, ainda pode fazê-lo.
            </div>

            <!-- INDIVIDUAL -->
            <div *ngIf="avaliacao.tipoDisposicao == 0" class="container">

                <div class="aluno" *ngFor="let aluno of avaliacao.grupos[0].alunos"
                    style="border-color: var(--cor-secundaria); cursor: default">
                    <div *ngIf="aluno.provaId" class="grupo-title">
                        {{aluno.provaCorrigida ? "CORRIGIDA": "PRECISA SER CORRIGIDA"}}
                    </div>
                    <app-aluno-card-avaliacao-professor [avaliacao]="avaliacao" [aluno]="aluno">
                    </app-aluno-card-avaliacao-professor>

                    <a *ngIf="aluno.provaId" mat-button class="btn-corrigir"
                        [routerLink]="'/professor/avaliacao/correcao/' + aluno.provaId">

                        <span *ngIf="aluno.provaCorrigida">
                            NOTA: {{aluno.notaTotal || 0}}/{{aluno.valorTotal || 0}} -
                        </span>
                        {{aluno.provaCorrigida ? 'REVISAR' : 'CORRIGIR'}}

                    </a>
                    <div *ngIf="aluno.provaId == null" class="info-grupo" matTooltip="O aluno não iniciou a avaliação">
                        <mat-icon>
                            alarm_off
                        </mat-icon>
                    </div>
                </div>
            </div>

            <!-- EM GRUPO -->
            <div *ngIf="avaliacao.tipoDisposicao != 0" class="container">
                <div *ngFor="let grupo of avaliacao.grupos;  index as i;" class="grupo" style="width: 100%">
                    <div class="grupo-title">
                        GRUPO {{grupo.numero}}
                        <span *ngIf="grupo.provaId">
                            -
                            {{grupo.provaCorrigida ? "CORRIGIDA": "PRECISA SER CORRIGIDA"}}
                        </span>
                    </div>

                    <div class="aluno" *ngFor="let aluno of grupo.alunos"
                        [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'"
                        style="cursor: default">
                        <app-aluno-card-avaliacao-professor [avaliacao]="avaliacao" [aluno]="aluno">
                        </app-aluno-card-avaliacao-professor>
                    </div>
                    <div *ngIf="grupo.provaId" class="btn-corrigir">
                        <a mat-button [routerLink]="'/professor/avaliacao/correcao/' + grupo.provaId">
                            <span
                                *ngIf="grupo.provaCorrigida && avaliacao.tipoPontuacao != 3 && avaliacao.tipoPontuacao != 1">
                                NOTA:
                                {{grupo.notaTotal || 0}}/{{grupo.valorTotal || 0}} -
                            </span>
                            {{grupo.provaCorrigida ? "REVISAR" : "CORRIGIR"}}
                        </a>
                    </div>
                    <div *ngIf="grupo.provaId == null" class="info-grupo"
                        matTooltip="Nenhum aluno do grupo iniciou a avaliação">
                        <mat-icon>
                            alarm_off
                        </mat-icon>
                    </div>
                </div>
            </div>





        </mat-step>

        <!-- ENCERRADA -->
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>Avaliação Encerrada</ng-template>

            <div class="head">
                <h2>Avaliações Encerradas</h2>
            </div>

            <!-- INDIVIDUAL -->
            <div *ngIf="avaliacao.tipoDisposicao == 0" class="container">
                <div class="aluno" *ngFor="let aluno of avaliacao.grupos[0].alunos"
                    style="border-color: var(--cor-secundaria); cursor: default">
                    <app-aluno-card-avaliacao-professor [avaliacao]="avaliacao" [aluno]="aluno">
                    </app-aluno-card-avaliacao-professor>

                    <a *ngIf="aluno.provaId" mat-button class=" btn-corrigir"
                        [routerLink]="'/professor/avaliacao/correcao/' + aluno.provaId">
                        <!-- PONTUAÇÃO NORMAL -->
                        <span
                            *ngIf="aluno.provaCorrigida && avaliacao.tipoPontuacao != 3 && avaliacao.tipoPontuacao != 1">
                            NOTA: {{aluno.notaTotal || 0}}/{{aluno.valorTotal || 0}} -
                        </span>
                        <!-- PONTUAÇÃO COMPARATIVA -->
                        <span *ngIf="aluno.provaCorrigida && avaliacao.tipoPontuacao == 1">
                            NOTA COMPARATIVA:
                            {{comumService.getRounded((aluno.notaTotal/provaService.getMaiorNota(avaliacao)) *
                            100) || 0}}/100 -
                        </span> REVISAR
                    </a>

                    <!-- PONTUAÇÃO POR PARTICIPAÇÃO -->
                    <div *ngIf="aluno.provaId && avaliacao.tipoPontuacao == 3"
                        [routerLink]="'/professor/avaliacao/correcao/' + aluno.provaId" class="info-grupo"
                        style="cursor: pointer;" matTooltip="Clique para ver a prova">
                        <mat-icon>
                            star
                        </mat-icon>
                    </div>

                    <!-- NÃO PARTICIPOU -->
                    <div *ngIf="aluno.provaId == null" class="info-grupo" matTooltip="O aluno não iniciou a avaliação">
                        <mat-icon>
                            alarm_off
                        </mat-icon>
                    </div>

                </div>
            </div>

            <!-- EM GRUPO -->
            <div *ngIf="avaliacao.tipoDisposicao != 0" class="container">
                <div *ngFor="let grupo of avaliacao.grupos;  index as i;" class="grupo" style="width: 100%">
                    <div class="grupo-title">
                        GRUPO {{grupo.numero}}
                    </div>

                    <div class="aluno" *ngFor="let aluno of grupo.alunos"
                        [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'"
                        style="cursor: default">
                        <app-aluno-card-avaliacao-professor [avaliacao]="avaliacao" [aluno]="aluno">
                        </app-aluno-card-avaliacao-professor>
                    </div>

                    <div *ngIf="grupo.provaId && avaliacao.tipoPontuacao != 3" class="btn-corrigir">
                        <a mat-button [routerLink]="'/professor/avaliacao/correcao/' + grupo.provaId">

                            <!-- PONTUAÇÃO NORMAL -->
                            <span
                                *ngIf="grupo.provaCorrigida && avaliacao.tipoPontuacao != 3 && avaliacao.tipoPontuacao != 1">
                                NOTA:
                                {{grupo.notaTotal || 0}}/{{grupo.valorTotal || 0}} -
                            </span>
                            <!-- PONTUAÇÃO COMPARATIVA -->
                            <span *ngIf="grupo.provaCorrigida && avaliacao.tipoPontuacao == 1">
                                NOTA COMPARATIVA:
                                {{comumService.getRounded((grupo.notaTotal/provaService.getMaiorNota(avaliacao)) *
                                100) || 0}}/100 -
                            </span> REVISAR
                        </a>
                    </div>

                    <div *ngIf="grupo.provaId && avaliacao.tipoPontuacao == 3"
                        [routerLink]="'/professor/avaliacao/correcao/' + grupo.provaId" class="info-grupo"
                        style="cursor: pointer;" matTooltip="Clique para ver a prova">
                        <mat-icon>
                            star
                        </mat-icon>

                    </div>

                    <div *ngIf="grupo.provaId == null" class="info-grupo"
                        matTooltip="Nenhum aluno do grupo iniciou a avaliação">
                        <mat-icon>
                            alarm_off
                        </mat-icon>
                    </div>
                </div>

            </div>



        </mat-step>

    </mat-horizontal-stepper>



</div>
<div class="countdown">

    <app-countdown tipoAcesso="professor" [dataObjetivo]="getDataObjetivo()"
        (tempoEsgotado)="atualizarStatusConformeTempo()"
        [mensagem]="comumService.statusAvaliacao[avaliacao.status].mensagemCountdown">
    </app-countdown>

    <app-cronometro *ngIf="getDataObjetivo() == null" tipoAcesso="professor" [dataInicio]="avaliacao.dtInicio">
    </app-cronometro>
</div>

<div class="menu-opcoes" matTooltip="Mais opções na Avaliação">
    <app-avaliacao-menu-opcoes tipoAcesso="professor" [avaliacao]="avaliacao" icone="settings">
    </app-avaliacao-menu-opcoes>
</div>