<div class="login">
    <span class="label">Nome</span>
    <input type="text" [(ngModel)]="novoUsuario.nome" />
    <span class="label">Email</span>
    <input type="text" [(ngModel)]="novoUsuario.email" />
    <span class="label">Senha</span>
    <input type="password" [(ngModel)]="novoUsuario.senha" />
    <span class="label">Confirmar Senha</span>
    <input type="password" [(ngModel)]="confirmacaoSenha" />
    <button mat-button (click)="cadastrar()" class="btn-cadastrar">
        CADASTRAR-SE
    </button>
</div>