
.btn{
    margin: auto;
    display: block;
}


h1{
    text-align: center;
    color: var(--cor-primaria);
}

.input-container{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 7px;
    line-height: 3;
}