<mat-toolbar class="header">
  <table style="width: 100%;">
    <tr>
      <td width="95%">
        <a (click)="goHome()" class="logo">Avaliações Online</a>
        <!--<img src="assets/logos/logo01.png" style="height: 10vh;" />-->
      </td>
      <td *ngIf="credencialService.estouLogado()">
        <div class="tipo-acesso-card">
          {{credencialService.loggedUser.acesso == 'professor' ? 'Professor' : 'Aluno'}}
        </div>
      </td>
      <td width="5%" align="center" valign="middle" style="position: relative;">

        <img *ngIf="credencialService.estouLogado() && credencialService.loggedUser.img" class="minha-conta"
          [src]="credencialService.loggedUser.img.url || 'assets/avatares/padrao.jpg'" [matMenuTriggerFor]="userMenu" />

        <img *ngIf="credencialService.estouLogado() && !credencialService.loggedUser.img" class="minha-conta"
          src="assets/avatares/padrao.jpg" [matMenuTriggerFor]="userMenu" />

        <mat-menu #userMenu="matMenu">

          <!--div style="text-align: center;">
            <b>{{credencialService.loggedUser.acesso}}</b>
          </div>
          <hr /-->
          <div style="text-align: center;">
            {{credencialService.loggedUser.nome}}
          </div>
          <hr />

          <!-- ALUNO -->
          <a routerLink="/professor" (click)="mudarPara('professor')" mat-menu-item
            *ngIf="credencialService.loggedUser.acesso == 'aluno'">
            <mat-icon>swap_horiz</mat-icon>Mudar para Professor
          </a>
          <a routerLink="/aluno/avaliacoes" mat-menu-item *ngIf="credencialService.loggedUser.acesso == 'aluno'">
            <mat-icon>description</mat-icon>Minhas Avaliações
          </a>
          <a routerLink="/aluno/perfil" mat-menu-item *ngIf="credencialService.loggedUser.acesso == 'aluno'">
            <mat-icon>account_circle</mat-icon>Meu Perfil
          </a>

          <!-- PROFESSOR -->
          <a routerLink="/aluno" (click)="mudarPara('aluno')" mat-menu-item
            *ngIf="credencialService.loggedUser.acesso == 'professor'">
            <mat-icon>swap_horiz</mat-icon>Mudar para Aluno
          </a>
          <a routerLink="/professor/avaliacoes" mat-menu-item
            *ngIf="credencialService.loggedUser.acesso == 'professor'">
            <mat-icon>description</mat-icon>Minhas Avaliações
          </a>
          <a routerLink="/professor/alunos" mat-menu-item *ngIf="credencialService.loggedUser.acesso == 'professor'">
            <mat-icon>recent_actors</mat-icon>Alunos
          </a>
          <a routerLink="/professor/perfil" mat-menu-item *ngIf="credencialService.loggedUser.acesso == 'professor'">
            <mat-icon>account_circle</mat-icon>Meu Perfil
          </a>
          <a routerLink="/professor/dashboard" mat-menu-item *ngIf="credencialService.loggedUser.acesso == 'professor'">
            <mat-icon>dashboard</mat-icon>Dashboard
          </a>

          <!-- GERAL -->
          <a routerLink="/" (click)="fazerLogout()" mat-menu-item style="color: var(--cor-perigosa);">
            <mat-icon style="color: var(--cor-perigosa);">exit_to_app</mat-icon>Sair
          </a>

        </mat-menu>

        <div *ngIf="!credencialService.estouLogado()">
          <a mat-button routerLink="/login">ENTRAR</a>
          <button mat-button class="btn-cadastrar" (click)="abrirDialogoCadastro()">CADASTRAR-SE</button>
        </div>

      </td>
    </tr>
  </table>

</mat-toolbar>

<router-outlet></router-outlet>