.minha-conta{
    height: 5vh;
    height: 5vh;
    background-color: white;
    border: 1px solid var(--cor-primaria);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 6px;
    object-fit: cover;
}
.minha-conta:hover{
    opacity: 0.75;
}