<div class="body">
    <br /><br />
    <div class="container">

        <span class="label">Email</span>
        <input type="text" autofocus />
        <span class="label">Senha</span>
        <input type="password" />
        <br />

        <button (click)="fazerLogin()" class="botao-entrar" mat-button>Entrar</button>

    </div>
    <br /><br />
    <div class="container">
        <div class="container-cadastrar">
            Não tem uma conta?
            <button (click)="abrirCadastrar()" class="botao-cadastrar" mat-button>
                Cadastre-se
            </button>
        </div>

    </div>
</div>