<div class="container">
    <br /><br />
    <input type="text" autofocus placeholder="Email" />
    <br /><br />
    <input type="password" placeholder="Senha" />
    <br /><br />
    <input type="radio" checked id="aluno" name="tipoAcesso" value="aluno">
    <label for="aluno">Sou Aluno</label>
    <input type="radio" id="professor" name="tipoAcesso" value="professor">
    <label for="professor">Sou Professor</label>
    <br /><br />
    <a class="botao-entrar" routerLink="/aluno" mat-button>ENTRAR</a>
    <!--<a class="botao-entrar" routerLink="/aluno/avaliacao/1" mat-button>ENTRAR</a>-->
</div>