<app-barra-navegacao [caminho]="caminho"></app-barra-navegacao>

<mat-horizontal-stepper linear #stepper>
    <!-- <mat-horizontal-stepper linear [selectedIndex]="1" #stepper> -->

    <mat-step>
        <!-- <mat-step [editable]="false" [completed]="false"> -->
        <ng-template matStepLabel>Em Preparação</ng-template>

        <div style="width: 60%; margin: auto;">
            <div class="cabecalho">
                <span class="titulo">{{avaliacao.titulo}}</span>
                <br /><br />
                <div style="text-align: justify;">
                    {{avaliacao.descricao}}
                    <br /><br />
                    Professor: Rafael Bini
                    <br /><br />
                    Inicio: 31/07/2020 18:00
                    <br />
                    Término: 31/07/2020 19:00
                    <br />
                </div>
                <br />


                <div *ngIf="avaliacao.tipoDisposicao != 2">
                    <h1>Alunos Online</h1>
                    <div class="aluno" *ngFor="let aluno of avaliacao.alunos"
                        style="border-color: var(--cor-tranquila); cursor: default">
                        <app-aluno-card-avaliacao-professor [aluno]="aluno">
                        </app-aluno-card-avaliacao-professor>
                    </div>
                </div>

                <!-- ALUNOS ESCOLHEM OS GRUPOS-->
                <div *ngIf="avaliacao.tipoDisposicao == 2">
                    Clique em um grupo abaixo para participar
                    <div *ngFor="let grupo of avaliacao.grupos;  index as i;" (click)="entrarNoGrupo(grupo)"
                        class="grupo btn-novo-grupo" style="width: 95%">
                        <div class="grupo-title">
                            GRUPO {{grupo.numero}}
                        </div>
                        <div class="aluno" style="cursor: pointer;" *ngFor="let aluno of grupo.alunos"
                            [style.borderColor]="aluno.online ? 'var(--cor-tranquila)' : 'var(--cor-primaria)'">
                            <app-aluno-card-avaliacao-professor [aluno]="aluno">
                            </app-aluno-card-avaliacao-professor>

                        </div>
                    </div>
                    <div *ngIf="temGrupoVazio() == false" class="grupo btn-novo-grupo" style="width: 95%"
                        matTooltip="Adicionar grupo" (click)="addGrupo()">
                        <mat-icon style="font-size: 35px; display: block; margin: auto;">add
                        </mat-icon>
                    </div>
                </div>

            </div>
        </div>
    </mat-step>

    <mat-step>
        <!-- <mat-step [editable]="false" [completed]="false"> -->
        <ng-template matStepLabel>Durante Avaliação</ng-template>


        <div style="width: 60%; margin: auto; position: relative;">


            <div class="cabecalho">
                <span class="titulo">{{avaliacao.titulo}}</span>
                <br /><br />
                <div style="text-align: justify;">
                    {{avaliacao.descricao}}
                    <br /><br />
                    Professor: Rafael Bini
                    <br /><br />
                    Inicio: 31/07/2020 18:00
                    <br />
                    Término: 31/07/2020 19:00
                    <br />
                </div>
                <br />
                <div style="text-align: justify; ">
                    Meu Grupo:
                    <li>Matheus Cabral - <b>Finalizou</b></li>
                    <li>Thyago Vinicius</li>
                    <li>Marcos Kerchenr</li>
                </div>
            </div>

            <app-questoes-responder [avaliacao]="avaliacao">

            </app-questoes-responder>

        </div>


        <div style="width: 100%;">
            <button *ngIf="!finalizado" (click)="finalizado = true" mat-raised-button
                style="margin: auto; margin-top: 40px; font-size: 18px; padding-left: 10px; padding-right: 10px; display: block;">
                Sinalizar Finalização
            </button>
            <div *ngIf="finalizado"
                style="margin: auto; text-align: center; width: 60%; background-color: whitesmoke; border-radius: 10px; margin-top: 15px; margin-bottom: 40px; font-size: 14px; padding: 10px; display: block;">
                <h2>Finalização sinalizada!</h2>
                Esta avaliação será finalizada quando todos do seu grupo sinalizarem também.
            </div>
        </div>

    </mat-step>

    <mat-step>
        <!-- <mat-step [editable]="false" [completed]="false"> -->
        <ng-template matStepLabel>Em Correção</ng-template>

        <div align="center"
            style="padding: 20px; margin: auto; background-color: whitesmoke;  color: black; width: 55%; border-radius: 10px;">
            <b style="font-size: 22px;">Titulo da Avaliação</b>
            <br /><br />
            <div style="text-align: justify;">
                Descrição da Avaliação Descrição da Avaliação Descrição da Avaliação Descrição da Avaliação
                Descrição da
                Avaliação
                <br /><br />
                Professor: Rafael Bini
                <br /><br />
                Inicio: 31/07/2020 18:00
                <br />
                Término: 31/07/2020 19:00
                <br />
            </div>
            <br />
            <div style="text-align: justify; ">
                Meu Grupo:
                <li>Matheus Cabral</li>
                <li>Thyago Vinicius</li>
                <li>Marcos Kerchenr</li>
            </div>


        </div>
        <br />
        <div style="margin: auto; text-align: center;">
            <h2>Corrija as avaliações abaixo:</h2>
        </div>

        <div style="margin: auto; margin-top: 30px; width: 100%; font-size: 22px; height: 50vh; margin-bottom: 20px;">
            <div class="individuo" style="border-color: var(--encerrada)">
                Grupo 01 - Avaliação Corrigida
                <br /><br />
                <div style="font-size: 15px;">
                    Nota: 96/100
                </div>
                <a routerLink="/aluno/avaliacao/correcao/1" mat-button
                    style="background-color: white; color: black; position: absolute; top: 30%; right: 20px;">
                    Revisar
                </a>
            </div>

            <div class="individuo" style="border-color: var(--em-correcao);">
                Grupo 02 - Avaliação Aguardando Correção
                <br /><br />
                <div style="font-size: 15px;">
                    Nota: 0/100
                </div>
                <a routerLink="/aluno/avaliacao/correcao/1" mat-button
                    style="background-color: white; color: black; position: absolute; top: 30%; right: 20px;">
                    Corrigir
                </a>
            </div>
            <div class="individuo" style="border-color: var(--em-correcao);">
                Grupo 03 - Avaliação Aguardando Correção
                <br /><br />
                <div style="font-size: 15px;">
                    Nota: 0/100
                </div>
                <a routerLink="/aluno/avaliacao/correcao/1" mat-button
                    style="background-color: white; color: black; position: absolute; top: 30%; right: 20px;">
                    Corrigir
                </a>
            </div>
        </div>
        <br />
        <div
            style="background-color: whitesmoke; padding: 17px; border-radius: 8px; margin: auto; width: 60%; text-align: center;">
            <span style="font-size: 18px;">Aguardando os outros alunos corrigirem as avaliações...</span>
            <div style="background-color: white; position: relative; border-radius: 4px; height: 30px;">
                <span
                    style="position: absolute; top: 0px; color: var(--cor-primaria); font-size: 22px; line-height: 30px;">75%</span>
                <div style="background-color: var(--em-correcao); width: 75%; height: 30px; border-radius: 4px;"></div>
            </div>
        </div>
        <br />
        <br />
        <br />

    </mat-step>

    <mat-step>

        <ng-template matStepLabel>Avaliação Encerrada</ng-template>

        <div
            style="text-align: center; margin: auto; width: 60%; background-color: whitesmoke; border-radius: 10px; padding: 30px; box-sizing: content-box; font-size: 23px; margin-top: 40px;">
            <h2>Avaliação Encerrada</h2>
            <br />
            <span
                style="font-size: 16px; background-color: var(--cor-primaria); padding: 20px; color: white; border-radius: 10px;">Sua
                nota: 85/100</span>
            <br /><br /><br />
            <a mat-raised-button routerLink="/aluno/avaliacao/consulta/1">
                Consultar Correção
            </a>
        </div>


    </mat-step>


</mat-horizontal-stepper>

<div *ngIf="avaliacao.status <= 2" style="position: fixed; top: 30%; right: 4%; width: 15%;">
    <app-countdown [mensagem]="comumService.statusAvaliacao[avaliacao.status].mensagemCountdown"></app-countdown>
</div>