<app-barra-navegacao [caminho]="caminho"></app-barra-navegacao>

<mat-horizontal-stepper #stepper>
    <!-- <mat-horizontal-stepper linear [selectedIndex]="1" #stepper> -->

    <!-- EM PREPARAÇÃO -->
    <mat-step>
        <!-- <mat-step [editable]="false" [completed]="false"> -->
        <ng-template matStepLabel>Em Preparação</ng-template>

        <div style="width: 60%; margin: auto;">
            <div class="cabecalho">
                <span class="titulo">{{avaliacao.titulo}}</span>
                <br /><br />
                <div style="text-align: justify;">
                    {{avaliacao.descricao}}
                    <br /><br />
                    Professor: Rafael Bini
                    <br /><br />
                    Inicio: 31/07/2020 18:00
                    <br />
                    Término: 31/07/2020 19:00
                    <br />
                </div>
                <br />

                <!-- INDIVIDUAL-->
                <div *ngIf="avaliacao.tipoDisposicao == 0">
                    <div class="aluno" *ngFor="let aluno of avaliacao.alunos"
                        style="border-color: var(--cor-secundaria); cursor: default">
                        <app-aluno-card-avaliacao-professor [aluno]="aluno">
                        </app-aluno-card-avaliacao-professor>
                    </div>
                </div>

                <!-- EM GRUPOS - ALUNOS NÃO ESCOLHEM -->
                <div *ngIf="avaliacao.tipoDisposicao != 2 && avaliacao.tipoDisposicao != 0">
                    <div *ngFor="let grupo of avaliacao.grupos;  index as i;" class="grupo" style="width: 95%">
                        <div class="grupo-title">
                            GRUPO {{grupo.numero}}
                        </div>
                        <div class="aluno" style="cursor: default;" *ngFor="let aluno of grupo.alunos"
                            [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'">
                            <app-aluno-card-avaliacao-professor [aluno]="aluno">
                            </app-aluno-card-avaliacao-professor>
                        </div>
                    </div>
                </div>

                <!-- ALUNOS ESCOLHEM OS GRUPOS-->
                <div *ngIf="avaliacao.tipoDisposicao == 2">
                    Clique em um grupo abaixo para participar
                    <div *ngFor="let grupo of avaliacao.grupos;  index as i;" (click)="entrarNoGrupo(grupo)"
                        class="grupo btn-novo-grupo" style="width: 95%">
                        <div class="grupo-title">
                            GRUPO {{grupo.numero}} <span
                                *ngIf="avaliacao.limitarNumIntegrantes">({{grupo.alunos.length}}/{{avaliacao.maxIntegrantes}})</span>
                        </div>
                        <div class="aluno" style="cursor: pointer;" *ngFor="let aluno of grupo.alunos"
                            [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'">
                            <app-aluno-card-avaliacao-professor [aluno]="aluno">
                            </app-aluno-card-avaliacao-professor>

                        </div>
                    </div>
                    <div *ngIf="temGrupoVazio() == false" class="grupo btn-novo-grupo" style="width: 95%"
                        matTooltip="Adicionar grupo" (click)="addGrupo()">
                        <mat-icon style="font-size: 35px; display: block; margin: auto;">add
                        </mat-icon>
                    </div>
                </div>

            </div>
        </div>
    </mat-step>

    <!-- DURANTE AVALIAÇÃO -->
    <mat-step>
        <!-- <mat-step [editable]="false" [completed]="false"> -->
        <ng-template matStepLabel>Durante Avaliação</ng-template>


        <div style="width: 60%; margin: auto; position: relative;">


            <div class="cabecalho">
                <span class="titulo">{{instancia.titulo}}</span>
                <br /><br />
                <div style="text-align: justify;">
                    {{instancia.descricao}}
                    <br /><br />
                    Professor: Rafael Bini
                    <br /><br />
                    Inicio: 31/07/2020 18:00
                    <br />
                    Término: 31/07/2020 19:00
                    <br />
                </div>
                <br />

                <!-- EM GRUPO -->
                <div *ngIf="instancia.tipoDisposicao != 0" style="text-align: justify; ">

                    <div style="text-align: center;">
                        MEU GRUPO
                    </div>
                    <div class="aluno" style="cursor: default;" *ngFor="let aluno of instancia.alunos"
                        [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'">
                        <app-aluno-card-avaliacao-professor [aluno]="aluno">
                        </app-aluno-card-avaliacao-professor>
                        <div *ngIf="aluno.statusId" style="position: absolute; top: 30%; right: 20px;">
                            <span *ngIf="aluno.statusId > 2">
                                <mat-icon matTooltip="O aluno sinalizou que finalizou a avaliação">done</mat-icon>
                            </span>
                            <div *ngIf="aluno.statusId <= 2">
                                <mat-icon matTooltip="O aluno está respondendo as questões">query_builder</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <app-questoes-responder [avaliacao]="instancia">

            </app-questoes-responder>

        </div>


        <div style="width: 100%;">
            <button *ngIf="!finalizado" (click)="sinalizarFinalizacao()" mat-raised-button
                style="margin: auto; margin-top: 40px; font-size: 18px; padding-left: 10px; padding-right: 10px; display: block;">
                Sinalizar Finalização
            </button>
            <div *ngIf="finalizado"
                style="margin: auto; text-align: center; width: 60%; background-color: whitesmoke; border-radius: 10px; margin-top: 15px; margin-bottom: 40px; font-size: 14px; padding: 10px; display: block;">
                <h2>Finalização sinalizada!</h2>
                <span *ngIf="avaliacao.tipoDisposicao != 0">Esta avaliação será finalizada quando todos do seu grupo
                    sinalizarem
                    também.</span>
            </div>
        </div>

    </mat-step>

    <!-- EM CORREÇÃO -->
    <mat-step>
        <!-- <mat-step [editable]="false" [completed]="false"> -->
        <ng-template matStepLabel>Em Correção</ng-template>

        <div align="center"
            style="padding: 20px; margin: auto; background-color: whitesmoke;  color: black; width: 55%; border-radius: 10px;">
            <b style="font-size: 22px;">{{instancia.titulo}}</b>
            <br /><br />
            <div style="text-align: justify;">
                {{instancia.descricao}}
                <br /><br />
                Professor: Rafael Bini
                <br /><br />
                Inicio: 31/07/2020 18:00
                <br />
                Término: 31/07/2020 19:00
                <br />
            </div>
            <br />

            <!-- ALUNOS NÃO CORRIGEM -->
            <div *ngIf="instancia.tipoCorrecao == 0"
                style="padding: 35px; font-size: 16px; text-decoration: underline solid black;">
                Aguarde a correção do professor para saber sua nota
            </div>

            <!-- EM GRUPO - AUTOAVALIAÇÃO -->

            <div *ngIf="instancia.tipoCorrecao == 3" class="btn-corrigir" style="position: relative;">
                <a mat-button [routerLink]="'/aluno/avaliacao/correcao/' + instancia.id">
                    CORRIGIR MINHA PRÓPRIA AVALIAÇÃO
                </a>
            </div>
            <br />
            <br />

            <!-- EM GRUPO -->
            <div *ngIf="instancia.tipoDisposicao != 0" style="text-align: justify; ">

                <div style="text-align: center;">
                    MEU GRUPO
                </div>
                <div class="aluno" style="cursor: default;" *ngFor="let aluno of instancia.alunos"
                    [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'">
                    <app-aluno-card-avaliacao-professor [aluno]="aluno">
                    </app-aluno-card-avaliacao-professor>
                </div>
            </div>


        </div>
        <br />

        <!-- EM GRUPO - ALUNOS CORRIGEM -->
        <div *ngIf="instancia.tipoDisposicao != 0 && instancia.tipoCorrecao == 2" class="container">
            <div style="margin: auto; text-align: center;">
                <h2>Corrija as avaliações abaixo:</h2>
            </div>
            <div *ngFor="let instanciaCorrigir of instancia.instanciasParaCorrigir;  index as i;" class="grupo"
                style="width: 100%">
                <div class="grupo-title">
                    GRUPO {{i+1}} - {{instanciaCorrigir.corrigida ? "CORRIGIDA" : "PRECISA SER CORRIGIDA"}}
                </div>
                <div class="btn-corrigir">
                    <a mat-button [routerLink]="'/aluno/avaliacao/correcao/' + instanciaCorrigir.id">
                        {{instanciaCorrigir.corrigida ? "REVISAR" : "CORRIGIR"}}
                    </a>
                </div>
            </div>
        </div>

        <!-- INDIVIDUAL - ALUNOS CORRIGEM -->
        <div *ngIf="avaliacao.tipoDisposicao == 0 && avaliacao.tipoCorrecao == 2" class="container">
            <div style="margin: auto; text-align: center;">
                <h2>Corrija as avaliações abaixo:</h2>
            </div>
            <div *ngFor="let grupo of avaliacao.grupos;  index as i;" class="grupo" style="width: 100%">
                <div class="grupo-title">
                    ALUNO {{grupo.numero}} - {{grupo.instanciaStatusId > 2 ? "CORRIGIDA" : "PRECISA SER CORRIGIDA"}}
                </div>
                <div class="btn-corrigir">
                    <a mat-button [routerLink]="'/aluno/avaliacao/correcao/' + grupo.instanciaId">
                        {{grupo.instanciaStatusId > 2 ? "REVISAR" : "CORRIGIR"}}
                    </a>
                </div>
            </div>
        </div>

        <br />
        <br />
        <br />

    </mat-step>

    <!-- ENCERRADA -->
    <mat-step>

        <ng-template matStepLabel>Avaliação Encerrada</ng-template>

        <div
            style="text-align: center; margin: auto; width: 60%; background-color: whitesmoke; border-radius: 10px; padding: 30px; box-sizing: content-box; ">
            <b style="font-size: 22px;">{{instancia.titulo}}</b>
            <br /><br />
            <div style="text-align: justify;">
                {{instancia.descricao}}
                <br /><br />
                Professor: Rafael Bini
                <br /><br />
                Inicio: 31/07/2020 18:00
                <br />
                Término: 31/07/2020 19:00
                <br />
            </div>
            <br />
            <br />
            <span
                style="font-size: 16px; background-color: var(--cor-primaria); padding: 20px; color: white; border-radius: 10px;">Sua
                nota: 85/100</span>
            <br /><br /><br />
            <a mat-raised-button routerLink="/aluno/avaliacao/consulta/1">
                Consultar Correção
            </a>
            <br />
            <br />
            <br />
            <!-- EM GRUPO -->
            <div *ngIf="instancia.tipoDisposicao != 0">

                <div class="aluno" style="cursor: default;" *ngFor="let aluno of instancia.alunos"
                    [style.borderColor]="aluno.online ? 'var(--cor-secundaria)' : 'var(--cor-primaria)'">
                    <app-aluno-card-avaliacao-professor [aluno]="aluno">
                    </app-aluno-card-avaliacao-professor>
                </div>
            </div>
        </div>




    </mat-step>


</mat-horizontal-stepper>

<div *ngIf="avaliacao.status <= 2" style="position: fixed; top: 30%; right: 4%; width: 15%;">
    <app-countdown [mensagem]="comumService.statusAvaliacao[avaliacao.status].mensagemCountdown"></app-countdown>
</div>