<div class="avalicao-card" [style.borderColor]="status.cor" [style.opacity]="avaliacao.isArquivada? '0.85' : '1'">
    <h3><b>{{avaliacao.titulo}}</b></h3>
    <div style="display: flex;">
        <div *ngFor="let tag of avaliacao.tags" class="tag" [style.backgroundColor]="status.cor">
            {{tag}}
        </div>
    </div>
    <br />
    {{avaliacao.descricao}}
    <br />
    <br />
    <span class="linkCompartilhavel" [style.backgroundColor]="status.cor"><a
            [routerLink]="'/'+avaliacao.id">avaliacao.com/{{avaliacao.id}}</a></span>
    <button matTooltip="Copiar link" mat-icon-button>
        <mat-icon style="font-size: 17px;">content_copy</mat-icon>
    </button>
    <br /><br />
    Inicio: 31/07/2020 18:00
    <br />
    Término: 31/07/2020 21:00

    <a [routerLink]="'/'+tipoAcesso+'/avaliacao/'+ avaliacao.id" matTooltip="Entrar na Avaliação" class="info-box"
        [style.backgroundColor]="status.cor">
        Status: {{status.nome}}
        <hr />
        {{tipoAcesso=="professor" ? status.acaoProfessor : status.acaoAluno}}
    </a>

    <span *ngIf="avaliacao.isArquivada && tipoAcesso=='professor' " (click)="desarquivar(avaliacao)"
        matTooltip="Clique para desarquivar"
        style="position: absolute; top: 12px; right: 50px; cursor: pointer; text-decoration: underline dashed;">
        ARQUIVADA
    </span>
    <button *ngIf="tipoAcesso=='professor'" mat-icon-button style="position: absolute; top: 3px; right: 3px;"
        [matMenuTriggerFor]="aboveMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu">
        <button *ngIf="tipoAcesso=='professor'" [routerLink]="'/professor/avaliacao/duplicar/' + avaliacao.id"
            mat-menu-item>
            <mat-icon>content_copy</mat-icon>Duplicar
        </button>
        <a *ngIf="tipoAcesso=='professor'" [routerLink]="'/professor/avaliacao/editar/' + avaliacao.id" mat-menu-item>
            <mat-icon>create</mat-icon>Editar
        </a>
        <button *ngIf="avaliacao.isArquivada != true" mat-menu-item (click)="arquivar(avaliacao)">
            <mat-icon>remove</mat-icon>Arquivar
        </button>
        <button *ngIf="avaliacao.isArquivada == true" mat-menu-item (click)="desarquivar(avaliacao)">
            <mat-icon>add</mat-icon>Desarquivar
        </button>
        <button *ngIf="tipoAcesso=='professor'" mat-menu-item (click)="deletar(avaliacao)">
            <mat-icon>cancel</mat-icon>Excluir
        </button>
    </mat-menu>


</div>