.avalicao-card{
    background-color: whitesmoke;
    width: 60%;
    min-height: 160px;
    padding: 10px;
    border-radius: 7px;
    border-left: 7px solid var(--cor-secundaria);
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.avalicao-card:hover .linkCompartilhavel{
    opacity: 1;
}
.avalicao-card:hover .btn-copiar{
    opacity: 1;
}

.linkCompartilhavel {
    padding: 6px; 
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: 7px;
    background-color: white;
    border: 1px dashed var(--cor-secundaria);
    opacity: 0;
}

.linkCompartilhavel a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

.btn-copiar {
    opacity: 0;
}

.info-box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.info-box{

    height: 80px;
    width: 40%;
    background-color: var(--cor-secundaria);

    border-radius: 5px;
    color: white;
    padding: 6px;
    text-decoration: none;
}

.bi, .bi-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.tag{
    padding: 6px;
    background-color: var(--cor-secundaria);
    color: white;
    margin-right: 4px;
    border-radius: 7px;
    font-size: 13px;
    width: fit-content;
    display: flexbox;
}

.titulo{
    font-weight: bold;
    font-size: 17px;
}

@media screen and (max-width:650px) {

    

    .avalicao-card{
        width: 90%;
    }
    .info-box{
        width: 75%;
    }
}