<div class="avalicao-card" [style.borderColor]="status.cor"
    [style.opacity]="avaliacaoService.isArquivada(avaliacao)? '0.85' : '1'">


    <div>
        <span class="titulo">{{avaliacao.titulo}}</span>
        <span class="linkCompartilhavel">
            <a [routerLink]="'/'+avaliacao.id">
                {{getLink(avaliacao)}}
            </a>
        </span>
        <button class="btn-copiar" matTooltip="Copiar link da avaliação" [cdkCopyToClipboard]="getLink(avaliacao)"
            (click)="notificarCopy()" mat-icon-button>
            <mat-icon style="font-size: 18px; color: var(--cor-primaria)">content_copy</mat-icon>
        </button>
    </div>


    <div style="display: flex;">
        <div *ngFor="let tag of avaliacao.tags" class="tag" [style.backgroundColor]="status.cor">
            {{tag}}
        </div>
    </div>

    <!-- <div style="padding-bottom: 10px;padding-top: 10px; width: 50%;">
        {{avaliacao.descricao}}
    </div> -->

    <div *ngIf="!avaliacao.isInicioIndeterminado">
        <span>Período de Avaliação</span>
        <br />
        <span>
            {{avaliacao.isInicioCorrecaoIndeterminado ? comumService.getIntervaloAmigavel(avaliacao.dtInicio, 'indeterminado') : comumService.getIntervaloAmigavel(avaliacao.dtInicio, avaliacao.dtInicioCorrecao)}}
        </span>
    </div>
    <br />

    <div *ngIf="!avaliacao.isInicioCorrecaoIndeterminado">
        <span>Período de Correção</span>
        <br />
        <span>
            {{avaliacao.isTerminoIndeterminado  ? comumService.getIntervaloAmigavel(avaliacao.dtInicioCorrecao, 'indeterminado') : comumService.getIntervaloAmigavel(avaliacao.dtInicioCorrecao, avaliacao.dtTermino)}}
        </span>
    </div>


    <span *ngIf="avaliacaoService.isArquivada(avaliacao)" (click)="desarquivar(avaliacao)"
        matTooltip="Clique para desarquivar"
        style="position: absolute; top: 12px; right: 50px; cursor: pointer; text-decoration: underline dashed;">
        ARQUIVADA
    </span>

    <!-- MENU DE OPÇÕES -->

    <button mat-icon-button style="position: absolute; top: 3px; right: 3px;" [matMenuTriggerFor]="aboveMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu">
        <button *ngIf="tipoAcesso=='professor'" mat-menu-item (click)="deletar(avaliacao)">
            <mat-icon>cancel</mat-icon>Excluir
        </button>
        <button *ngIf="avaliacaoService.isArquivada(avaliacao) != true" mat-menu-item (click)="arquivar(avaliacao)">
            <mat-icon>remove</mat-icon>Arquivar
        </button>
        <button *ngIf="avaliacaoService.isArquivada(avaliacao) == true" mat-menu-item (click)="desarquivar(avaliacao)">
            <mat-icon>add</mat-icon>Desarquivar
        </button>
        <button *ngIf="tipoAcesso=='professor' && avaliacao.status > 0" (click)="abrirEstatisticas(avaliacao)"
            mat-menu-item>
            <mat-icon>dashboard</mat-icon>
            Estatísticas
        </button>
        <a *ngIf="tipoAcesso=='professor'" mat-menu-item target="_blank" [routerLink]="'/imprimir/'+ avaliacao.id">
            <mat-icon>print</mat-icon>
            Imprimir
        </a>
        <button *ngIf="tipoAcesso=='professor'" mat-menu-item (click)="abirExport(avaliacao)">
            <mat-icon>get_app</mat-icon>Exportar
        </button>
        <button *ngIf="tipoAcesso=='professor'" [routerLink]="'/professor/avaliacao/duplicar/' + avaliacao.id"
            mat-menu-item>
            <mat-icon>content_copy</mat-icon>Duplicar
        </button>
        <a *ngIf="tipoAcesso=='professor' && avaliacao.status == 0"
            [routerLink]="'/professor/avaliacao/editar/' + avaliacao.id" mat-menu-item>
            <mat-icon>create</mat-icon>Editar
        </a>
    </mat-menu>

    <a [routerLink]="'/'+tipoAcesso+'/avaliacao/'+ avaliacao.id" matTooltip="Entrar na Avaliação" class="info-box"
        [style.backgroundColor]="status.cor">
        Status: {{status.nome}}
        <hr />
        {{tipoAcesso=="professor" ? status.acaoProfessor : status.acaoAluno}}
    </a>
    <br />

</div>