<div class="avalicao-card" [style.borderColor]="status.cor"
    [style.opacity]="avaliacaoService.isArquivada(avaliacao)? '0.85' : '1'">


    <div>
        <span class="titulo">{{avaliacao.titulo}}</span>
        <span *ngIf="!comumService.isMobile()" class="linkCompartilhavel">
            <a [routerLink]="'/'+avaliacao.id">
                {{getLink(avaliacao)}}
            </a>
        </span>
        <button *ngIf="!comumService.isMobile()" class="btn-copiar" matTooltip="Copiar link da avaliação"
            [cdkCopyToClipboard]="getLink(avaliacao)" (click)="notificarCopy()" mat-icon-button>
            <mat-icon style="font-size: 18px; color: var(--cor-primaria)">content_copy</mat-icon>
        </button>
    </div>


    <div style="display: flex;">
        <div *ngFor="let tag of avaliacao.tags" class="tag" [style.backgroundColor]="status.cor">
            {{tag}}
        </div>
    </div>

    <!-- <div style="padding-bottom: 10px;padding-top: 10px; width: 50%;">
        {{avaliacao.descricao}}
    </div> -->

    <div *ngIf="!avaliacao.isInicioIndeterminado">
        <span>
            {{avaliacao.isInicioCorrecaoIndeterminado ? comumService.getIntervaloAmigavel(avaliacao.dtInicio,
            'indeterminado') : comumService.getIntervaloAmigavel(avaliacao.dtInicio, avaliacao.dtInicioCorrecao)}}
        </span>
    </div>
    <br />
    <!-- 
    <div *ngIf="!avaliacao.isInicioCorrecaoIndeterminado">
        <span>Período de Correção</span>
        <br />
        <span>
            {{avaliacao.isTerminoIndeterminado ? comumService.getIntervaloAmigavel(avaliacao.dtInicioCorrecao,
            'indeterminado') : comumService.getIntervaloAmigavel(avaliacao.dtInicioCorrecao, avaliacao.dtTermino)}}
        </span>
    </div>
 -->

    <span *ngIf="avaliacaoService.isArquivada(avaliacao)" (click)="desarquivar(avaliacao)"
        matTooltip="Clique para desarquivar"
        style="position: absolute; top: 12px; right: 50px; cursor: pointer; text-decoration: underline dashed;">
        ARQUIVADA
    </span>

    <!-- MENU DE OPÇÕES -->
    <app-avaliacao-menu-opcoes [tipoAcesso]="tipoAcesso" [avaliacao]="avaliacao" icone="more_vert">
    </app-avaliacao-menu-opcoes>

    <div class='info-box-container'>
        <a [routerLink]="'/'+tipoAcesso+'/avaliacao/'+ avaliacao.id" matTooltip="Entrar na Avaliação" class="info-box"
            [style.backgroundColor]="status.cor">
            Status: {{status.nome}}
            <hr />
            {{tipoAcesso=="professor" ? status.acaoProfessor : status.acaoAluno}}
        </a>
    </div>


</div>