<div class="big-container">

    <div class="cabecalho">
        <h1>Buscar Questão</h1>
        <br />
        <input class="input-basico" type="text" (keyup)="filtrarQuestoes()" [(ngModel)]="filtroTermoPesquisado"
            style="width: 80%; padding: 10px; margin: auto; display: block;"
            placeholder="Digite aqui um tema ou uma parte da questão (ex.: céu)" />
        <br />
        <select class="select-basico" style="padding: 5px; margin: auto; display: block;" (change)="filtrarQuestoes()"
            [(ngModel)]="filtroNivelDificuldade">
            <option value="-1">Qualquer Nível de Dificuldade</option>
            <option *ngFor="let nivelDificuldade of comumService.niveisDificuldade; index as i" [value]="i">
                {{nivelDificuldade}}</option>
        </select>
        <br />
    </div>

    <div class="questoes-container">

        <div *ngIf="questoesFiltradas.length <= 0" class="questao" style="text-align: center;">
            Você não tem questões para adicionar
        </div>

        <div *ngFor="let questao of questoesFiltradas; index as i" class="questao-container">

            <app-questao-card [questao]="questao.q" [avaliacaoDaQuestao]="questao.avaliacao">
            </app-questao-card>

            <div (click)="add(i)" class="add-btn">
                Adicionar
            </div>

        </div>

    </div>

    <button mat-icon-button mat-dialog-close
        style="color: red; position: absolute; top: 0px; right: 0px; font-size: 20px;">
        <mat-icon>cancel</mat-icon>
    </button>

</div>