<div style="position: relative;">
    <h1>Buscar Questão</h1>
    <br />
    <input type="text" (keyup)="filtrarQuestoes()" [(ngModel)]="filtroTermoPesquisado"
        style="width: 80%; padding: 5px; margin: auto; display: block;"
        placeholder="Digite aqui um tema ou uma parte da questão (ex.: céu)" />
    <br />
    <select style="padding: 5px; margin: auto; display: block;" (change)="filtrarQuestoes()"
        [(ngModel)]="filtroNivelDificuldade">
        <option value="-1">Qualquer Nível de Dificuldade</option>
        <option *ngFor="let nivelDificuldade of comumService.niveisDificuldade; index as i" [value]="i">
            {{nivelDificuldade}}</option>
    </select>

    <br />
    <div
        style="text-align: center; width: 100%; max-height: 40vh; min-height: 40vh; display: flex; flex-wrap: wrap; overflow: auto;">

        <div *ngIf="questoesFiltradas.length <= 0" class="questao" style="text-align: center;">
            Você não tem questões para adicionar
        </div>

        <div *ngFor="let questao of questoesFiltradas; index as i" (click)="add(i)" class="questao"
            matTooltip="Clique para adicionar">

            <b>{{questao.q.pergunta}}</b> - {{questao.avaliacao.titulo}}
            <br />
            {{comumService.questaoTipos[questao.q.tipo].nome}} -
            {{comumService.niveisDificuldade[questao.q.nivelDificuldade]}}
            <br />
            <div style="display: flex; padding: 7px;">
                <div *ngFor="let tag of questao.q.tags" class="tag">
                    {{tag}}
                </div>
            </div>


        </div>

    </div>

    <button mat-icon-button mat-dialog-close
        style="color: red; position: absolute; top: 4px; right: 4px; font-size: 20px;">
        <mat-icon>cancel</mat-icon>
    </button>

</div>