* {
    font-size: 17px;
}

.big-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.questoes-container{
    text-align: center; width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    overflow: auto;
    align-content: flex-start;
    flex: 5;
}

.questao-container{
    width: 90%;
    margin: auto;
    border: 1px dashed transparent;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 5px;

}
.questao-container:hover{
    border: 1px dashed var(--cor-primaria);
}


.add-btn{
    background-color: var(--cor-secundaria);
    color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 7px;
}
.add-btn:hover{
    background-color: var(--cor-primaria);
    cursor: pointer;
}

.btn-disabled{
  background-color: lightgray;
  color: black;
}
.btn-disabled:hover{
  background-color: lightgray;
  color: black;
}


.input-basico{
  border: 1px dotted rgba(0, 0, 0, 0.20);
  border-radius: 7px;
  background-color: white;  
  overflow: hidden;
}
.input-basico:focus {
  outline: none;
  border: 1px dashed var(--cor-primaria);
  border-radius: 7px;
}
.input-basico:disabled {
  background-color: rgb(250, 250, 250);  
  color: rgb(97, 97, 97);
}


.select-basico {
  cursor: pointer;
  border: 1px dotted rgba(0, 0, 0, 0.20);
  border-radius: 7px;
  padding: 5px;
  background-color: white;
  display: flex;
}
.select-basico:focus {
  outline: none;
  border: 1px dashed var(--cor-primaria);
  border-radius: 7px;
}


.spinner-container{
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  padding: 30px;
}

.filtros-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input-buscar{
  width: 80%; 
  padding: 10px; 
  margin: auto; 
  display: block;
  box-sizing: border-box;
}

.mensagem{
  background-color: whitesmoke;
  border-radius: 7px;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  border: 1px dashed black;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 650px){
  .input-buscar{
    width: 95%;
  }
}