<div class="big-container">

    <div class="cabecalho">
        <h1>Buscar Questão</h1>
        <br />
        <input class="input-basico input-buscar" type="text" (keyup)="filtrarQuestoes()"
            [(ngModel)]="filtroTermoPesquisado" placeholder="Digite aqui um tema ou uma parte da questão (ex.: céu)" />
        <br />
        <div class="filtros-container">
            <select class="select-basico" (change)="filtrarQuestoes()" [(ngModel)]="filtroNivelDificuldade">
                <option value="-1">Qualquer Nível de Dificuldade</option>
                <option *ngFor="let nivelDificuldade of comumService.niveisDificuldade; index as i" [value]="i">
                    {{nivelDificuldade}}</option>
            </select>
            <mat-checkbox (change)="filtrarQuestoes()" [(ngModel)]="filtroMostrarPublicas">
                Mostrar questões públicas
            </mat-checkbox>
            <mat-checkbox (change)="filtrarQuestoes()" [(ngModel)]="filtroMostrarArquivadas">
                Mostrar questões arquivadas
            </mat-checkbox>
        </div>

        <br />
    </div>

    <div *ngIf="isQuestoesCarregadas" class="questoes-container">

        <div *ngIf="questoesFiltradas.length <= 0" class="mensagem">
            Você não tem questões para adicionar
        </div>

        <div *ngFor="let questao of questoesFiltradas; index as i" class="questao-container">

            <app-questao-card [questao]="questao" (houveAlteracoes)="filtrarQuestoes()">
            </app-questao-card>

            <div (click)="add(i)"
                [matTooltip]="isQuestaoPermitida(questao) ? 'Adicona na avaliação' : 'A questão deve ser de correção automática para ser adicionada'"
                class="add-btn" [class.btn-disabled]="!isQuestaoPermitida(questao)">
                Adicionar
            </div>

        </div>

    </div>

    <div *ngIf="!isQuestoesCarregadas" class="spinner-container">
        <mat-spinner [strokeWidth]="3"></mat-spinner>
    </div>

    <button *ngIf="isQuestoesCarregadas" mat-button mat-dialog-close>Voltar</button>

</div>

<div class='btn-close' mat-icon-button mat-dialog-close>
    <mat-icon>cancel</mat-icon>
</div>