<app-barra-navegacao [caminho]="caminho"></app-barra-navegacao>

<div style="margin: auto; width: 60%; padding-top: 20px; padding-bottom: 70px;">

    <div class="quadrinho" style="text-align: center;">
        <h2>Corrigir Avaliação</h2>
        Grupo 01
    </div>

    <div *ngIf="userTipo == 'professor'" class="quadrinho">
        Integrantes do Grupo:
        <br /><br />
        <li>Rafael Bini</li>
        <li>Matheus Leonardo</li>
        <li>Julio do Lago</li>
    </div>

    <div style="padding-bottom: 20px;">
        <app-questoes-corrigir [avaliacao]="avaliacao" [userTipo]="userTipo" [visaoTipo]="visaoTipo">

        </app-questoes-corrigir>
    </div>


    <div *ngIf="visaoTipo == 'correcao'"
        style="margin: auto; text-align: center; font-size: 40px; margin-bottom: 40px;">
        <a [routerLink]="'/' + userTipo + '/avaliacao/1'" mat-button
            style="background-color: var(--cor-primaria); color: white">
            Finalizar Correção
        </a>
    </div>
    <div *ngIf="visaoTipo == 'consulta'"
        style="margin: auto; text-align: center; font-size: 40px; margin-bottom: 40px;">
        <a [routerLink]="'/aluno/avaliacao/1'" mat-button style="background-color: var(--cor-primaria); color: white">
            Voltar
        </a>
    </div>

</div>