.questao{
    position: relative; background-color: whitesmoke; margin-bottom: 20px; border-radius: 10px; padding: 12px; width: 100%;
    border: 1px solid transparent;
}

.questao:hover {    
    border: 1px dashed rgb(179, 179, 179);
}