<div>
    <div style="display: flex; flex-wrap: wrap; width: 100%; margin: auto;">
        <div class="questao" *ngFor="let questao of prova.questoes; index as qi; trackBy:identificarQuestao">
            <table style="width: 100%;" *ngIf="estaNoContextoCerto(questao)">

                <!-- Imagens -->
                <tr *ngIf="questao.imagens.length > 0">
                    <td>

                        <app-arquivo-imagem [editando]="false" [file]="file" [questao]="questao"
                            [imagemIndex]="imagemIndex" *ngFor="let file of questao.imagens; index as imagemIndex">

                        </app-arquivo-imagem>

                    </td>
                </tr>

                <!-- PERGUNTA -->
                <tr>
                    <td style="padding-bottom: 20px; font-size: 15px; white-space: pre-line;">
                        <b>Questão {{qi + 1}}</b>/{{prova.questoes.length}}. {{questao.pergunta}}
                    </td>
                </tr>

                <!-- Anexos -->
                <tr *ngIf="questao.anexos.length > 0">
                    <td>

                        <app-arquivo-anexo [editando]="false" [file]="file" [questao]="questao"
                            [anexoIndex]="anexoIndex" *ngFor="let file of questao.anexos; index as anexoIndex">

                        </app-arquivo-anexo>

                    </td>
                </tr>

                <!-- RESPOSTA ASSOCIATIVA -->
                <tr *ngIf="questao.tipo == 0">
                    <td>
                        <table width="100%">
                            <tr *ngFor="let associacao of questao.associacoes; index as ai">
                                <td width="20%" style="cursor:default;">
                                    <mat-select class="select-basico" style="width: 82%;"
                                        [(ngModel)]="associacao.opcaoSelecionada"
                                        (ngModelChange)="sinalizarRespostaAlterada(questao)">
                                        <mat-option [value]="_associacao.opcaoSelecionada"
                                            *ngFor="let _associacao of getAssociacoesOrdenadas(questao.index)">
                                            {{_associacao.opcaoSelecionada}}
                                        </mat-option>
                                    </mat-select>
                                </td>
                                <td width="80%" class="alternativa" style="cursor:default;">
                                    <span style="white-space: pre-line;">{{associacao.texto}}</span>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>

                <!-- RESPOSTA DISSERTATIVA -->
                <tr *ngIf="questao.tipo == 1">
                    <td align="right">
                        <div style="position: relative;">
                            <textarea #respostaAlunoTextarea maxlength="2500" rows="4" (input)="ajustarAltura($event)"
                                (click)="ajustarAltura($event)" [(ngModel)]="questao.resposta" class="input-basico"
                                placeholder="Escreva aqui a resposta" [disabled]="isLocked(questao)"
                                (ngModelChange)="sinalizarRespostaAlterada(questao)"
                                (blur)="onDissertativaBlur(questao)" (focus)="onDissertativaFocus(questao)"
                                style="width: 98%; margin: auto; padding: 5px; padding-top: 14px; "></textarea>
                            <div *ngIf="isLocked(questao)" class=" aluno-na-questao">
                                {{questao.usuarioUltimaModificacao.nome}} está respondendo essa questão.
                            </div>
                            <span *ngIf="estaEmFoco(respostaAlunoTextarea)"
                                class="contador-caracteres">{{respostaAlunoTextarea.value.length}}/2500</span>
                        </div>

                        <br />
                        <button [disabled]="isLocked(questao)" (click)="imagemSelectInput.click()" mat-icon-button
                            matTooltip="Adicionar Imagem">
                            <mat-icon>insert_photo</mat-icon>
                        </button>
                        <button [disabled]="isLocked(questao)" (click)="anexoSelectInput.click()" mat-icon-button
                            matTooltip="Adicionar Anexo">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <div>

                            <!-- ANEXO CARREGADO -->
                            <app-arquivo-anexo [editando]="true" tipo="arquivosEntregues" [file]="file"
                                [questao]="questao" [anexoIndex]="anexoIndex" (anexoRemovido)="anexoRemovido()"
                                *ngFor="let file of questao.arquivosEntregues; index as anexoIndex">

                            </app-arquivo-anexo>

                            <!-- ANEXO CARREGANDO -->
                            <app-arquivo-anexo
                                [style.display]="provaCache.questoes[qi].arquivosEntregues.length <= questao.arquivosEntregues.length ? 'none' : ''"
                                [editando]="true" tipo="arquivosEntregues" [file]="file" [questao]="questao"
                                [anexoIndex]="anexoIndex"
                                *ngFor="let file of provaCache.questoes[qi].arquivosEntregues; index as anexoIndex">

                            </app-arquivo-anexo>


                            <!-- IMAGEM CARREGADA -->
                            <app-arquivo-imagem [editando]="true" tipo="imagensEntregues" [file]="file"
                                [questao]="questao" [imagemIndex]="imagemIndex" (imagemRemovida)="imagemRemovida()"
                                (descricaoAlterada)="onDescricaImagemAlterada()"
                                *ngFor="let file of questao.imagensEntregues; index as imagemIndex; trackBy:identificarQuestao">

                            </app-arquivo-imagem>

                            <!-- IMAGEM CARREGANDO (CACHE) -->
                            <app-arquivo-imagem
                                [style.display]="provaCache.questoes[qi].imagensEntregues.length <= questao.imagensEntregues.length ? 'none' : ''"
                                [editando]="true" tipo="imagensEntregues" [file]="file" [questao]="questao"
                                [imagemIndex]="imagemIndex" (imagemRemovida)="imagemRemovida()"
                                *ngFor="let file of provaCache.questoes[qi].imagensEntregues; index as imagemIndex">

                            </app-arquivo-imagem>

                            <input #anexoSelectInput (change)="onAnexoSelected($event, questao)" type="file"
                                class="input-invisivel" value="Selecione os arquivos" multiple />

                            <input #imagemSelectInput (change)="onImagemSelected($event, questao)" type="file"
                                class="input-invisivel" accept="image/*" value="Selecione os arquivos" multiple />
                        </div>

                    </td>
                </tr>

                <!-- RESPOSTA ENVIO DE ARQUIVO -->
                <tr *ngIf="questao.tipo == 2">
                    <td>
                        <div class="drop-here" (fileDropped)="uploadAnexos($event, questao)"
                            (click)="anexoSelectInput.click()" appDropFile>
                            <span class="drop-here-texto">
                                ARRASTE E SOLTE O(S) ARQUIVO(S) AQUI
                            </span>
                        </div>
                        <div style="width: 90%; margin: auto; color: gray;">
                            <br />
                            Extensões permitidas: {{questao.extensoes.join('; ')}}
                            <br />
                            Tamanho máximo de cada arquivo: 50 MB
                        </div>
                        <div *ngIf="provaCache.questoes.length > 0">

                            <app-arquivo-anexo [editando]="true" tipo="arquivosEntregues" [file]="file"
                                [questao]="questao" [anexoIndex]="anexoIndex" (anexoRemovido)="anexoRemovido()"
                                *ngFor="let file of questao.arquivosEntregues; index as anexoIndex">

                            </app-arquivo-anexo>

                            <app-arquivo-anexo
                                [style.display]="provaCache.questoes[qi].arquivosEntregues.length <= questao.arquivosEntregues.length ? 'none': ''"
                                [editando]="true" tipo="arquivosEntregues" [file]="file" [questao]="questao"
                                [anexoIndex]="anexoIndex" (anexoRemovido)="anexoRemovido()"
                                *ngFor="let file of provaCache.questoes[qi].arquivosEntregues; index as anexoIndex">

                            </app-arquivo-anexo>

                        </div>
                        <input #anexoSelectInput (change)="onAnexoSelected($event, questao)" type="file"
                            class="input-invisivel" value="Selecione os arquivos" multiple />
                    </td>
                </tr>

                <!-- RESPOSTA MULTIPLA ESCOLHA - MULTIPLA OU ÚNICA RESPOSTA -->
                <tr *ngIf="questao.tipo == 3 || questao.tipo == 4">
                    <td>
                        <table width="100%">
                            <tr *ngFor="let alternativa of questao.alternativas; index as ai">
                                <td valign="middle" class="alternativa">
                                    <mat-checkbox class="checkbox-full" [(ngModel)]="alternativa.selecionada"
                                        (ngModelChange)="onMultiplaEscolhaChange(questao, ai, false)">
                                        <span style="white-space: pre-line;">{{alternativa.texto}}</span>
                                    </mat-checkbox>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- RESPOSTA PREENCHIMENTO -->
                <tr *ngIf="questao.tipo == 5">
                    <td align="justfy">
                        <span style="white-space: pre-line;" *ngFor="let parte of questao.partesPreencher">
                            <span *ngIf="parte.tipo == 'texto'">{{parte.conteudo}}</span>
                            <select *ngIf="parte.tipo == 'select'" class="select-basico"
                                [(ngModel)]="questao.opcoesParaPreencher[parte.conteudo].opcaoSelecionada"
                                (ngModelChange)="sinalizarRespostaAlterada(questao)">
                                <option *ngFor="let opcaoPreencher of getOpcoesPreencherAtivas(questao, questao.index)"
                                    [value]="opcaoPreencher.opcaoSelecionada">
                                    {{opcaoPreencher.opcaoSelecionada}}
                                </option>
                            </select>
                        </span>
                    </td>
                </tr>

                <!-- RESPOSTA VERDADEIRO OU FALSO - COM OU SEM JUSTIFICATIVA -->
                <tr *ngIf="questao.tipo == 6 || questao.tipo == 7">
                    <td>
                        <table width="100%">
                            <tr *ngFor="let alternativa of questao.alternativas; index as ai">
                                <td>
                                    <table>
                                        <tr>
                                            <td width="5%" class="alternativa">
                                                <mat-button-toggle-group [(ngModel)]="alternativa.selecionada"
                                                    (ngModelChange)="sinalizarRespostaAlterada(questao)">
                                                    <mat-button-toggle matTooltip=" Marcar como verdadeiro"
                                                        [value]="true">V
                                                    </mat-button-toggle>
                                                    <mat-button-toggle matTooltip="Marcar como falso" [value]="false">F
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </td>
                                            <td valign="middle" class="alternativa"
                                                style="cursor: default; white-space: pre-line;">
                                                {{alternativa.texto}}
                                            </td>
                                        </tr>
                                        <tr *ngIf="alternativa.selecionada == false && questao.tipo == 7">
                                            <td colspan="2">
                                                <div style="display: inline-flex; width: 100%;">
                                                    <textarea (input)="ajustarAltura($event)"
                                                        (click)="ajustarAltura($event)"
                                                        placeholder="Digite aqui uma justificativa"
                                                        (ngModelChange)="sinalizarRespostaAlterada(questao)"
                                                        [(ngModel)]="alternativa.justificativa" class="input-basico"
                                                        style="width: 100%; height: 100%; padding: 10px;"
                                                        rows="2"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- VALOR DA QUESTÃO -->
                <tr *ngIf="avaliacao.tipoPontuacao != 3">
                    <td align="left" style="position: relative; padding-top: 20px;">

                        <!-- NORMAL -->
                        <div *ngIf="questao.tentativas == null || questao.tentativas <= 0" style="display: inline">
                            Valor: {{questao.valor}}/{{getPontuacaoMaxima()}}

                        </div>

                        <!-- POR TENTATIVAS -->

                        <div *ngIf="questao.tentativas > 0" style="display: inline">
                            Valor:
                            {{comumService.getRounded(questao.valor - (questao.tentativas * (questao.valor/3)))}}/{{getPontuacaoMaxima()}}
                            <span class="tenativa-incorreta" *ngIf="questao.tentativas==1">
                                (1 tentativa incorreta)
                            </span>
                            <span class="tenativa-incorreta" *ngIf="questao.tentativas>1">
                                ({{questao.tentativas}} tentativas incorretas)
                            </span>

                        </div>

                        <button mat-button *ngIf="avaliacao.tipoPontuacao == 2"
                            (click)="validar(questao, questao.index)"
                            [matTooltip]="'Atenção: Se a resposta estiver errada, você irá perder ' + comumService.getRounded(questao.valor/3) + ' pontos'">
                            Validar
                        </button>

                        <div *ngIf="questao.isValidadaCorreta" matTooltip="Essa questão foi validada como correta"
                            style="display: inline;">
                            <mat-icon style="color: green; user-select: none; ">
                                check_circle
                            </mat-icon>
                        </div>


                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>