<!-- QUESTÕES EDITÁVEIS -->

<div *ngIf="editavel">
    <div cdkDropList [cdkDropListData]="avaliacao.questoes" (cdkDropListDropped)="drop($event)"
        style="display: flex; flex-wrap: wrap; width: 100%; margin: auto;">

        <div cdkDrag class="questao" *ngFor="let questao of avaliacao.questoes; index as qi">
            <table style="width: 100%;">

                <!-- Drag Handle -->
                <tr>
                    <td align="center">
                        <mat-icon style="cursor: move;" cdkDragHandle>drag_handle</mat-icon>
                    </td>
                </tr>

                <!-- Tipo Questão / Nivel Dificuldade -->
                <tr>
                    <td align="left" style="padding-bottom: 18px; position: relative;">

                        <select style="padding: 8px;" #tipo (change)="questao.tipo = tipo.value">
                            <option *ngFor="let questaoTipo of comumService.questaoTipos; index as qti"
                                [selected]="questao.tipo == qti" [value]="qti">
                                {{questaoTipo.nome}}
                            </option>
                        </select>
                        <select [(ngModel)]="questao.nivelDificuldade" matTooltip="Nível de Dificuldade"
                            style="padding: 8px; position: absolute; right: 0px;" #tipo
                            (change)="questao.tipo = tipo.value">
                            <option value='1' selected>Muito Fácil</option>
                            <option value='2'>Fácil</option>
                            <option value='3'>Médio</option>
                            <option value='4'>Difícil</option>
                            <option value='5'>Muito Difícil</option>
                        </select>
                    </td>
                </tr>

                <!-- Pergunta -->
                <tr>
                    <td>
                        Pergunta / Descrição da Questão:
                        <br />
                        <textarea style="width: 100%; max-width: 100%; padding: 5px;" [(ngModel)]="questao.pergunta"
                            rows="4"></textarea>
                    </td>
                </tr>

                <!-- Resposta Dissertativa -->
                <tr *ngIf="questao.tipo == 1">
                    <td>
                        Resposta:
                        <br />
                        <textarea style="width: 100%" rows="3">{{questao.resposta}}</textarea>
                    </td>
                </tr>

                <!-- Resposta Multipla Escolha -->
                <tr *ngIf="questao.tipo == 3">
                    <td>
                        <table width="100%" cdkDropList [cdkDropListData]="questao.alternativas"
                            (cdkDropListDropped)="drop($event)">

                            <!-- LISTA DE ALTERNATIVAS -->
                            <tr cdkDrag *ngFor="let alternativa of questao.alternativas; index as ai">
                                <td width="95%" class="alternativa">
                                    <mat-checkbox [(ngModel)]="alternativa.correta" [id]="alternativa.texto"
                                        [checked]="alternativa.correta">
                                        {{alternativa.texto}}
                                    </mat-checkbox>
                                    <button mat-icon-button matTooltip="Copiar questão"
                                        style="position: absolute; top: 1px; right: 2px; color: gray; font-size: 7px;"
                                        (click)="novaAlternativInput.value = alternativa.texto">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                </td>
                                <td width="5%"
                                    style="background-color: rgba(255, 255, 255, 0.452);  text-align: center;">
                                    <button mat-icon-button matTooltip="Remover alternativa"
                                        (click)="removerAlternativa(qi, ai)">
                                        <mat-icon style="color: var(--cor-perigosa)">cancel</mat-icon>
                                    </button>

                                </td>
                            </tr>

                            <!-- ADICIONAR ALTERNATIVA -->
                            <tr>
                                <td width="95%" style="background-color: white; height: 40px; padding: 10px;">
                                    <mat-checkbox [disabled]="true">
                                        <textarea type="text" rows="1"
                                            (keyup)="onNovaAlterKeyUp($event, qi, novaAlternativInput);"
                                            #novaAlternativInput class="invisible-input"
                                            placeholder="Digite aqui uma nova alternativa"
                                            style="width: 90%; height: 100%; padding: 10px;"></textarea>
                                    </mat-checkbox>
                                </td>
                                <td style="background-color: white; text-align: center;">
                                    <button matTooltip="Adicionar alternativa (Ctrl + Enter)"
                                        (click)="addAlternativa(qi, novaAlternativInput);" mat-icon-button>
                                        <mat-icon
                                            style="background-color: var(--cor-primaria); color: white; border-radius: 50%;">
                                            add
                                        </mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Opções da questão -->
                <tr>
                    <td align="right" style="position: relative; padding-top: 20px;">
                        <div style="position: absolute; left: 0px;">
                            Valor: <input style="padding: 7px;" type="number" max="100" min="1"
                                [(ngModel)]="questao.valor" />
                        </div>
                        <button mat-icon-button matTooltip="Adicionar Imagem">
                            <mat-icon>insert_photo</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Adicionar Anexo">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <button matTooltip="Alterar tags" mat-icon-button (click)="openInfoQuestao(questao)">
                            <mat-icon>local_offer</mat-icon>
                        </button>
                        <button mat-icon-button (click)="avaliacao.questoes.splice(qi, 1)" matTooltip="Remover Questão">
                            <mat-icon style="color: rgb(143, 12, 12);">delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<!-- QUESTÕES NÃO EDITÁVEIS -->

<div *ngIf="!editavel">
    <div style="display: flex; flex-wrap: wrap; width: 100%; margin: auto;">
        <div class="questao" *ngFor="let questao of avaliacao.questoes; index as qi">

            <table style="width: 100%;">

                <!-- PERGUNTA -->
                <tr>
                    <td style="padding-bottom: 20px; font-size: 15px;">
                        <b>{{qi + 1}}</b>/{{avaliacao.questoes.length}}. {{questao.pergunta}}
                    </td>
                </tr>

                <!-- RESPOSTA DISSERTATIVA -->
                <tr *ngIf="questao.tipo == 1">
                    <td>

                        <textarea placeholder="Escreva aqui a resposta" style="width: 100%" rows="3"></textarea>
                        <br />
                        <button mat-icon-button matTooltip="Adicionar Imagem">
                            <mat-icon>insert_photo</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Adicionar Anexo">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </td>
                </tr>

                <!-- RESPOSTA MULTIPLA ESCOLHA -->
                <tr *ngIf="questao.tipo == 3">
                    <td>
                        <table width="100%">
                            <tr *ngFor="let alternativa of questao.alternativas; index as ai">
                                <td valign="middle" class="alternativa" style="cursor: default;">
                                    <mat-checkbox [(ngModel)]="alternativa.selecionada">{{alternativa.texto}}
                                    </mat-checkbox>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- VALOR DA QUESTÃO -->
                <tr>
                    <td align="left" style="position: relative; padding-top: 20px;">
                        <div>
                            Valor: {{questao.valor}}/100
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>