
:root {
  --em-preparacao: rgb(35, 149, 255);
  --encerrada: rgb(95, 209, 95);
  --em-correcao: rgb(255, 127, 52);
  --em-avaliacao: rgb(238, 63, 63);
  --cor-primaria:  rgb(18, 97, 128);
  --cor-primaria-letra: rgb(255, 255, 255);
  --cor-secundaria: rgb(28, 116, 151);
  --cor-tranquila: rgb(95, 209, 95);
  --cor-perigosa: rgb(199, 50, 30);
  --cor-bloco: whitesmoke;
  --cor-bloco-letra: black;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: var(--cor-primaria);
}

textarea {
    font-family: Arial;
    resize: vertical;
    padding: 5px;
}

/*  SCROLL BAR  */
/* width */
::-webkit-scrollbar {
    width: 10px;    
  }  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  }   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cor-primaria); 
    border-radius: 4px;
  }  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--cor-secundaria); 
  }

/*-------------------*/

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--cor-primaria) !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--cor-primaria) !important;
}

.mat-checkbox-layout, .mat-checkbox-label{
  white-space: normal !important;
  word-wrap: break-all !important;
  width: 100%;
  display: inline-flex;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
  background-color: var(--cor-primaria);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--cor-primaria) !important;
}

.mat-chip.mat-standard-chip{
  background-color: var(--cor-primaria) !important;
  color: white !important;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
  color: white;
}


.mat-focused .placeholder {
  color: var(--cor-primaria) !important;
}
.mat-form-field-underline .mat-form-field-ripple{
  background-color: var(--cor-primaria) !important;
}
.mat-form-field-underline{
  background-color: var(--cor-primaria) !important;
}

.sem-bottom-border .mat-tab-header{
  border-bottom: none !important;
} 

.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background-color: var(--cor-primaria);
}