
:root {
  --em-preparacao: rgb(35, 149, 255);
  --encerrada: rgb(95, 209, 95);
  --em-correcao: rgb(255, 127, 52);
  --em-avaliacao: rgb(238, 63, 63);
  --cor-primaria:  rgb(18, 97, 128);
  --cor-primaria-letra: rgb(255, 255, 255);
  --cor-secundaria: rgb(28, 116, 151);
  --cor-tranquila: rgb(95, 209, 95);
  --cor-perigosa: rgb(199, 50, 30);
  --cor-bloco: whitesmoke;
  --cor-bloco-letra: black;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: var(--cor-primaria);
}

textarea {
    font-family: Arial;
    resize: vertical;
    padding: 5px;
}

/*  SCROLL BAR  */
/* width */
::-webkit-scrollbar {
    width: 10px;    
  }  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  }   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cor-primaria); 
    border-radius: 4px;
  }  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--cor-secundaria); 
  }

/*-------------------*/

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--cor-primaria) !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--cor-primaria) !important;
}

.checkbox-full .mat-checkbox-layout, .checkbox-full .mat-checkbox-label {
  white-space: normal !important;
  word-wrap: break-all !important;
  width: 100%;
  display: inline-flex;
}

.checkbox-indeterminado{
  width: fit-content !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
  background-color: var(--cor-primaria);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--cor-primaria) !important;
}

.mat-chip.mat-standard-chip{
  background-color: var(--cor-primaria) !important;
  color: white !important;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
  color: white;
}


.mat-focused .placeholder {
  color: var(--cor-primaria) !important;
}
.mat-form-field-underline .mat-form-field-ripple{
  background-color: var(--cor-primaria) !important;
}
.mat-form-field-underline{
  background-color: var(--cor-primaria) !important;
}

.sem-bottom-border .mat-tab-header{
  border-bottom: none !important;
} 

.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background-color: var(--cor-primaria);
}

.avaliacao-stepper .mat-step-header  {
  pointer-events: none !important;
}


.input-invisivel{
  display: none;
}
.item-texto{
  display: flex;
  margin:auto;
  margin-left: 5px;
  z-index: 1000;
}
.mask{
    position: absolute;
    top: 0px;
    left: 0px;  
    background-color: rgb(8, 154, 173);
    border-radius: 6px;
    height: 100%;
    margin: 0px;
}
.item{
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 6px;
  position: relative;
  display: flex;
  height: 35px;
  padding: 5px;
}
.image-container{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px dashed transparent;
  border-radius: 7px;
  padding: 3px;
  padding-bottom: 40px;
  box-sizing: content-box;
  position: relative;
}
.imagem-controle{
  position: absolute !important;
  opacity: 0;
}
.image-container:hover .imagem-controle{
  opacity: 0.85;
}
.imagem-descricao-ativa{
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.65) !important;
}
.imagem-descricao{
  padding: 6px;
  border-radius: 4px;
  background-color:white;
  position: absolute;
  bottom: 0px;
  left: 10%;  
  width: 80%;
  text-align: center;  
  padding: 5px;
}
.input-transparente{
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
}

.anexo-container{
  background-color: white;
  border: 1px dashed var(--cor-secundaria);
  padding: 7px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.anexo-container:hover{
  border: 1px solid var(--cor-secundaria);
}