
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Avaliações">
        <div style="padding: 80px; padding-top: 30px; position: relative;">
            <h2>Minhas Avaliações</h2>

            <table style="width: 100%;">
                <tr>
                    <td>
                        <h3>Acontecendo Agora</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="avalicao-card" style="border-left: 7px solid var(--em-correcao);">
                            <h3><b>Avaliação 01</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel" style="background-color: var(--em-correcao);"><a
                                    href="#">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box"
                                style="background-color: var(--em-correcao);">
                                Status: Em Correção
                                <hr />
                                Corrigir Avaliações
                            </a>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Encerrar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="avalicao-card" style="border-left: 7px solid var(--em-avaliacao);">
                            <h3><b>Avaliação 05</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel" style="background-color: var(--em-avaliacao);"><a
                                    href="#">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box"
                                style="background-color: var(--em-avaliacao);">
                                Status: Durante Avaliação
                                <hr />
                                Acompanhar os alunos
                            </a>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Excluir Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Encerradas / Não Iniciadas</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="avalicao-card" style="border-left: 7px solid var(--encerrada);">
                            <h3><b>Avaliação 02</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel" style="background-color: var(--encerrada);"><a
                                    href="#">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box"
                                style="background-color: var(--encerrada);">
                                Status: Encerrada
                                <hr />
                                Consultar notas dos alunos
                            </a>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Encerrar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="avalicao-card">
                            <h3><b>Avaliação 03</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel"><a href="#">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box">
                                Status: Em Preparação
                                <hr />
                                Configurar Grupos / Iniciar a Avaliação
                            </a>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Encerrar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="avalicao-card">
                            <h3><b>Avaliação 04</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel"><a href="#">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box">
                                Status: Em Preparação
                                <hr />
                                Configurar Grupos / Iniciar a Avaliação
                            </a>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Encerrar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>

            <a routerLink="/nova-avaliacao" matTooltip="Nova Avaliação"
                style="position: fixed; right: 50px; bottom: 50px; background-color: var(--encerrada); color: white"
                mat-fab>
                <mat-icon>add</mat-icon>
            </a>

        </div>

    </mat-tab>
    <mat-tab label="Alunos">

    </mat-tab>
    <mat-tab label="Meu Perfil">

    </mat-tab>
</mat-tab-group>