/* GERAL */

.input-clean{
    border: 1px dashed transparent;
    padding: 7px;
    border-radius: 6px;
    font-size: 14px;
}
.input-clean:focus{
    outline: none;
    border: 1px dashed var(--cor-primaria);
}

.bi, .bi-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}


/* ALUNOS */

.tag{
    padding: 5px;
    background-color: var(--cor-primaria);
    color: white;
    margin-right: 4px;
    border-radius: 7px;
    font-size: 11px;
    min-width: fit-content;
    display: flexbox;
    margin-top: 4px;
}

.aluno{
    border: 1px dashed var(--cor-primaria);
    border-radius: 6px;
    margin-bottom: 5px;
    background-color: white;
    padding: 7px;
    height: fit-content !important;
}



