.avalicao-card{
    background-color: whitesmoke;
    width: 60%;
    padding: 10px;
    border-radius: 7px;
    border-left: 7px solid var(--em-preparacao);
    position: relative;
    margin-bottom: 30px;
}


.linkCompartilhavel {
    padding: 6px; 
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: var(--em-preparacao);
}

.linkCompartilhavel a {
    color: white
}

.info-box{
    position: absolute;
    height: 80px;
    width: 40%;
    background-color: var(--em-preparacao);
    bottom: 30px;
    right: 10px;
    border-radius: 5px;
    color: white;
    padding: 6px;
    text-decoration: none;
}

.bi, .bi-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

/* ALUNOS */

.tabela-alunos{
    width: 80%; margin: auto; margin-top: 20px;
    border-collapse: collapse;    
    border-radius: 10px;
    padding: 8px;
}

.tabela-alunos td{
    background-color: whitesmoke;
    border-bottom: 2px solid white;
    padding: 6px;    
}

.tabela-alunos b{
    font-size: 17px;
}

/* PERFIL */

.tabela-editar-perfil {
    width: 90%; margin: auto; margin-top: 10px;

}

.tabela-editar-perfil td {
    padding: 11px;
}