<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Avaliações">
        <div style="padding: 80px; padding-top: 30px; position: relative;">
            <h2>Minhas Avaliações</h2>

            <table style="width: 100%;">
                <tr>
                    <td>
                        <h3>Acontecendo Agora</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="avalicao-card" style="border-left: 7px solid var(--em-correcao);">
                            <h3><b>Avaliação 01</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel" style="background-color: var(--em-correcao);"><a
                                    href="/001001">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box"
                                style="background-color: var(--em-correcao);">
                                Status: Em Correção
                                <hr />
                                Corrigir Avaliações
                            </a>

                            <button matTooltip="Editar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 60px;">
                                <mat-icon>create</mat-icon>
                            </button>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Excluir Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="avalicao-card" style="border-left: 7px solid var(--em-avaliacao);">
                            <h3><b>Avaliação 05</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel" style="background-color: var(--em-avaliacao);"><a
                                    href="/001001">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box"
                                style="background-color: var(--em-avaliacao);">
                                Status: Durante Avaliação
                                <hr />
                                Acompanhar os alunos
                            </a>

                            <button matTooltip="Editar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 60px;">
                                <mat-icon>create</mat-icon>
                            </button>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Excluir Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Encerradas / Não Iniciadas</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="avalicao-card" style="border-left: 7px solid var(--encerrada);">
                            <h3><b>Avaliação 02</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel" style="background-color: var(--encerrada);"><a
                                    href="/001001">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box"
                                style="background-color: var(--encerrada);">
                                Status: Encerrada
                                <hr />
                                Consultar notas dos alunos
                            </a>

                            <button matTooltip="Editar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 60px;">
                                <mat-icon>create</mat-icon>
                            </button>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Excluir Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="avalicao-card">
                            <h3><b>Avaliação 03</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel"><a href="/001001">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box">
                                Status: Em Preparação
                                <hr />
                                Configurar Grupos / Iniciar a Avaliação
                            </a>

                            <button matTooltip="Editar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 60px;">
                                <mat-icon>create</mat-icon>
                            </button>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Excluir Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="avalicao-card">
                            <h3><b>Avaliação 04</b></h3>
                            Uma avaliação para Teste
                            <br />
                            <br />
                            <span class="linkCompartilhavel"><a href="/001001">avaliacao.com/001001</a></span>
                            <button matTooltip="Copiar link" mat-icon-button>
                                <mat-icon style="font-size: 17px;">content_copy</mat-icon>
                            </button>
                            <br /><br />
                            Inicio: 31/07/2020 18:00
                            <br />
                            Término: 31/07/2020 21:00

                            <a routerLink="avaliacao/1" matTooltip="Detalhes da Avalição" class="info-box">
                                Status: Em Preparação
                                <hr />
                                Configurar Grupos / Iniciar a Avaliação
                            </a>

                            <button matTooltip="Editar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 60px;">
                                <mat-icon>create</mat-icon>
                            </button>

                            <button matTooltip="Duplicar Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 30px;">
                                <mat-icon>content_copy</mat-icon>
                            </button>

                            <button matTooltip="Excluir Avaliação" mat-icon-button
                                style="position: absolute; top: 0px; right: 0px;">
                                <mat-icon style="color: var(--em-avaliacao);">cancel</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>

            <a routerLink="/professor/avaliacao/nova" matTooltip="Nova Avaliação"
                style="position: fixed; right: 50px; bottom: 50px; background-color: var(--cor-primaria); color: white"
                mat-fab>
                <mat-icon>add</mat-icon>
            </a>

        </div>

    </mat-tab>
    <mat-tab label="Alunos">

        <table class="tabela-alunos">
            <tr>
                <td align="center">
                    <input type="checkbox" />
                </td>
                <td align="center">
                    <b>Matricula</b>
                </td>
                <td align="center">
                    <b>Nome</b>
                </td>
                <td align="center">
                    <b>Email</b>
                </td>
                <td align="center">
                    <b>Opções</b>
                </td>
            </tr>
            <tr *ngFor="let aluno of alunos" class="aluno-line">
                <td align="center">
                    <input type="checkbox" />
                </td>
                <td align="center">
                    {{aluno.matricula}}
                </td>
                <td>
                    {{aluno.nome}}
                </td>
                <td>
                    {{aluno.email}}
                </td>
                <td align="center">
                    <button mat-icon-button>
                        <mat-icon>
                            create
                        </mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon style="color: var(--cor-perigosa)">
                            delete
                        </mat-icon>
                    </button>
                </td>
            </tr>
        </table>


        <button (click)="addAluno()" matTooltip="Novo Aluno"
            style="position: fixed; right: 100px; bottom: 50px; background-color: var(--cor-primaria); color: white"
            mat-fab>
            <mat-icon>add</mat-icon>
        </button>
        <a matTooltip="Importar alunos via CSV"
            style="position: fixed; right: 30px; bottom: 50px; background-color: var(--cor-primaria); color: white"
            mat-fab>
            <mat-icon>arrow_upward</mat-icon>
        </a>



    </mat-tab>
    <mat-tab label="Meu Perfil">

        <div style="background-color: whitesmoke; width: 50%; border-radius: 10px; margin: auto;">
            <table class="tabela-editar-perfil">
                <tr>
                    <td colspan='2' align="center">
                        <h2>Alterar Meus Dados</h2>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        E-mail:
                    </td>
                    <td>
                        <input required type="email" value="professor@ufpr.br" name="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Senha:
                    </td>
                    <td>
                        <input required [disabled]="!alterar" type="password" value="senha123" name="senha">

                        <button (click)="alterar = true" mat-button matTooltip="Alterar senha">
                            <mat-icon>create</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="alterar">
                    <td>
                        Confirmar Senha:
                    </td>
                    <td>
                        <input required type="password" class="form-control" value="" name="nova_senha">
                    </td>
                </tr>
                <tr>
                    <td colspan='2' align="center">
                        <button type="button" mat-raised-button>Editar</button>
                    </td>
                </tr>

            </table>
        </div>



    </mat-tab>
</mat-tab-group>