<table *ngIf="data.tipoEscolhido == 'disposicao'" style="margin: auto; width: 100%; font-size: 18px;">
    <tr>
        <td class="default-td" colspan="2" align="center"
            style="opacity: 1; background-color: whitesmoke; cursor: default; color: black;">
            <h2>Disposição dos Alunos</h2>
        </td>
    </tr>
    <tr>
        <td class="default-td" rowspan="6" width='300px' align="center" valign="top" height="300px"
            style="padding: 12px; opacity: 1;  font-size: 13px; background-color: white; border: 3px solid whitesmoke; cursor: default; color: black;">
            <mat-icon class="tipo-icon">
                {{comumService.disposicoes[codigoDisposicaoSelecionado].icone}}
            </mat-icon>

            <div *ngIf="codigoDisposicaoSelecionado != 0" class="box-especial"
                style="background-color: whitesmoke; text-align: center; color: var(--cor-primaria);">
                <mat-checkbox class="checkbox-full" [(ngModel)]="data.avaliacao.limitarNumIntegrantes">
                    Limitar número de integrantes
                </mat-checkbox>
                <div *ngIf="data.avaliacao.limitarNumIntegrantes" class="box-especial">
                    <input type="number" [(ngModel)]="data.avaliacao.maxIntegrantes" />
                </div>
            </div>
            <br />

            {{comumService.disposicoes[codigoDisposicaoSelecionado].descricao}}
        </td>
    </tr>
    <tr *ngFor="let disposicao of comumService.disposicoes; index as i;">
        <td class="choose-btn" (click)="selecionarDisposicao(disposicao.codigo)"
            [style.borderColor]="codigoDisposicaoSelecionado == i ? 'var(--cor-primaria)' : 'transparent'">
            {{disposicao.nome}}
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2" style="background-color: whitesmoke;">
            <button mat-raised-button mat-dialog-close (click)="escolher()">OK</button>
        </td>
    </tr>
</table>

<table *ngIf="data.tipoEscolhido == 'correcao'" class="choosing-table"
    style="margin: auto; width: 100%; font-size: 18px;">

    <tr>
        <td colspan="2" align="center" style="opacity: 1; background-color: whitesmoke; cursor: default; color: black;">
            <h2>Escolha um Método de Correção</h2>
        </td>
    </tr>
    <tr>
        <td class="default-td" rowspan="6" width='300px' align="center" valign="top" height="300px"
            style="padding: 12px; opacity: 1;  font-size: 13px; background-color: white; border: 3px solid whitesmoke; cursor: default; color: black;">
            <mat-icon class="tipo-icon">
                {{comumService.correcoes[codigoCorrecaoSelecionado].icone}}
            </mat-icon>
            <br />
            <div *ngIf="codigoCorrecaoSelecionado == 2" class="box-especial">
                <table style="width: 100%; text-align: center;">
                    <tr *ngIf="data.avaliacao.tipoDisposicao == 0">
                        <td>CADA ALUNO</td>
                        <td style="font-size: 11px;">CORRIGE</td>
                        <td>
                            <select style="text-align: center;" [(ngModel)]="data.avaliacao.correcaoParesQtdTipo"
                                #SELECT_QTD (change)="selectParesChange(SELECT_QTD.value)">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="DEFINIR">DEFINIR</option>
                                <option value="TODOS">TODOS</option>
                            </select>
                            <input *ngIf="data.avaliacao.correcaoParesQtdTipo == 'DEFINIR'" type="number"
                                [(ngModel)]="data.avaliacao.correcaoParesQtdNumero" style="width: 30px" />
                            ALUNO(S)
                        </td>
                    </tr>
                    <tr *ngIf="data.avaliacao.tipoDisposicao != 0">
                        <td>
                            CADA GRUPO
                        </td>
                        <td style="font-size: 11px;">CORRIGE</td>
                        <td>
                            <select style="text-align: center;" [(ngModel)]="data.avaliacao.correcaoParesQtdTipo"
                                #SELECT_QTD (change)="selectParesChange(SELECT_QTD.value)">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="DEFINIR">DEFINIR</option>
                                <option value="TODOS">TODOS</option>
                            </select>
                            <input *ngIf="data.avaliacao.correcaoParesQtdTipo == 'DEFINIR'" type="number"
                                [(ngModel)]="data.avaliacao.correcaoParesQtdNumero" style="width: 30px" />
                            GRUPO(S)
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            {{comumService.correcoes[codigoCorrecaoSelecionado].descricao}}
            <br />

        </td>
    </tr>
    <tr *ngFor="let correcao of comumService.correcoes; index as i;">
        <td class="choose-btn" (click)="selecionarCorrecao(correcao.codigo)"
            [style.borderColor]="codigoCorrecaoSelecionado == i ? 'var(--cor-primaria)' : 'transparent'">
            {{correcao.nome}}
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2" style="background-color: whitesmoke;">
            <button mat-raised-button mat-dialog-close (click)="escolher()">OK</button>
        </td>
    </tr>

</table>

<table *ngIf="data.tipoEscolhido == 'pontuacao'" class="choosing-table"
    style="margin: auto; width: 100%; font-size: 18px;">

    <tr>
        <td colspan="2" align="center" style="opacity: 1; background-color: whitesmoke; cursor: default; color: black;">
            <h2>Forma de Pontuação</h2>
        </td>
    </tr>
    <tr>
        <td class="default-td" rowspan="6" width='300px' align="center" valign="top" height="300px"
            style="padding: 12px; opacity: 1;  font-size: 13px; background-color: white; border: 3px solid whitesmoke; cursor: default; color: black;">
            <mat-icon class="tipo-icon">
                {{comumService.pontuacoes[codigoPontuacaoSelecionado].icone}}
            </mat-icon>
            <br />
            {{comumService.pontuacoes[codigoPontuacaoSelecionado].descricao}}
        </td>
    </tr>
    <tr *ngFor="let pontuacao of comumService.pontuacoes; index as i;">
        <td class="choose-btn" (click)="selecionarPontuacao(pontuacao.codigo)"
            [style.borderColor]="codigoPontuacaoSelecionado == i ? 'var(--cor-primaria)' : 'transparent'">
            {{pontuacao.nome}}
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2" style="background-color: whitesmoke;">
            <button mat-raised-button mat-dialog-close (click)="escolher()">OK</button>
        </td>
    </tr>

</table>
<div class='btn-close' mat-dialog-close>
    <mat-icon>cancel</mat-icon>
</div>