
.default-td {
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid transparent;
    border-left: 12px solid transparent;
}

.choose-btn{
    padding: 8px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid transparent;
    border-left: 12px solid transparent;
}

.choose-btn:hover {
    border-color: var(--cor-secundaria) !important;
    background-color: white;
    cursor: pointer;
    color: black;    
}

.box-especial {
    width: 90%; padding: 4px; border-radius: 4px; color: white; background-color: var(--cor-primaria);
}

.tipo-icon{
    color: var(--cor-primaria); 
    height: fit-content; width: fit-content; 
    font-size: 20vh; margin: auto;
}

@media screen and (max-width: 650px){
    input, select{
        width: 80%;
    }
    .choose-btn{
        font-size: 13px;
        text-align: center;
    }
    .tipo-icon{
        font-size: 12vh;
    }
}