.aluno-container{
  position: relative;
}

.tag{
  padding: 5px;
  background-color: var(--cor-primaria);
  color: white;
  margin-right: 4px;
  border-radius: 7px;
  font-size: 11px;
  min-width: fit-content;
  display: flexbox;
  margin-top: 4px;
}

.etiqueta{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 8vh;
  font-size: 8px;
  color: white;
  text-align: center;
  margin: auto;
  padding: 3px;  
  line-height: 8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  opacity: 0.95;
  box-sizing: border-box;
}

.status-online {
    background-color: var(--cor-secundaria);
  }
  
  .status-offline {
    background-color: var(--cor-primaria);
  }

  .container{
    position: relative;
  }

  .menu-opcoes-aluno{
    position: absolute;
    right: 0px;
    top: 0px;
    width: fit-content;
    height: fit-content;
    line-height: normal;
  }

  .status-container{
    position: absolute; bottom: 3px; right: 0px; 
    display: flex; align-items: center;
  }

  .descricao-status{
    margin-right: 6px;
    font-size: 12px;
    color: gray;
    padding: 3px;
  }

.avatar-img{
  height: 8vh; width: 8vh; object-fit: cover; border-radius: 6px;
}

@media screen and (max-width:650px){
  .allow-small .avatar-img{
    height: 4vh;
    width: 4vh;
    border-radius: 3px;
  }
  .allow-small .etiqueta{
    width: 4vh;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    padding: 2px;
  }

}