<div style="text-align: center; color: var(--cor-primaria);">
    <h2>{{aluno.nome}}</h2>

</div>

<table style="width: 100%;">
    <tr>
        <td>
            <b>Adicionado na avaliação</b>:
        </td>
        <td>
            {{comumService.getDataAmigavel(aluno.dtStatus[0])}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Iniciou a prova</b>:
        </td>
        <td>
            {{comumService.getDataAmigavel(aluno.dtStatus[2])}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Bloqueado pelo professor</b>:
        </td>
        <td>
            {{comumService.getDataAmigavel(aluno.dtStatus[1])}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Finalizou a prova</b>:
        </td>
        <td>
            {{comumService.getDataAmigavel(aluno.dtStatus[3])}}
        </td>
    </tr>
</table>
<br />
<div style="text-align: center;">
    <button mat-dialog-close mat-button>Ok</button>
</div>

<div class='btn-close' mat-dialog-close>
    <mat-icon>cancel</mat-icon>
</div>