<div style="text-align: center; position: relative; ">
    <h1>Avalição criada com sucesso!</h1>
    <h4>Compartilhe o link abaixo com seus alunos:</h4>
    <span class="linkCompartilhavel" style="background-color: rgb(94, 184, 101);"><a
            href="#">avaliacao.com/001001</a></span>
    <button matTooltip="Copiar link" mat-icon-button>
        <mat-icon style="font-size: 17px;">content_copy</mat-icon>
    </button>

    <br /><br />
    <button mat-raised-button mat-dialog-close style="margin: auto; display: block;">
        Ok!
    </button>
</div>